.approved_page_wrapper{
    width: 100%;
}

.approved_page_wrapper .approved_page_container{
    width: 100%;
}

.approved_page_container .welcome_title{
    font: normal normal bold 18px/1.2em "Arial";
    background-color: #4b345d;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
}

.approved_page_container .form{
    width: 100%;
    padding: 2% 10%;
    background-color: #4e4e4e;
    color: #fff;
    box-sizing: border-box;
}

.approved_page_container .form .ValidationError{
    text-align: center;
    margin-bottom: 10px;
}

.form .input_wrapper{
    display: inline-block;
    margin: 0px 15px;
}

.form .input_wrapper .label{
    display: block;
    margin-bottom: 5px;
}

.form .input_wrapper .input{
    padding: 10px 10px;
    font: normal normal normal 15px/1.2em "sans-serif";
}

.form .button_container{
    display: inline-block;
}

.form .button_container .button{
    padding: 15px 15px;
    background-color: #fff;
    color: #000;
    margin: 0px 10px;
}


/* 
    begin document list display 
*/

.document_list_wrapper{
    padding: 5% 10%;
}

.document_list_wrapper .document_list_container{
    width: 100%;
}

.document_list_container .item{
    width: 100%;
    margin: 15px 10px;
    background-color: #4b345d;
    padding: 8px 5%;
    box-sizing: border-box;
}

.item .left{
    width: 70%;
    float: left;
    text-align: left;
}

.item .right{
    width: 30%;
    float: right;
    text-align: center;
}

.item .title{
    font:  normal normal bold 17px/1.2em "Helvetica";
    box-sizing: border-box;
    padding: 5px 15px;
    color: #fff;
}

.item .button{
    padding: 5px 20px;
    background-color: #fff;
    color: #000;
    margin: 0 10px;
}


/* 
    end document list display 
*/