@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = " About Bim-Edu Business Intelligence Institute of Management  ";
}

<section class="intro_image_wrapper">
    <div class="intro_image_container">
        <div class="text_container">
                <h1 class="heading"> Online learning </h1>
        </div>
    </div>
</section>

<section class="about_wrapper">
    <div class="about_container">

        <figure class="make_it_stand_out">
            <h2 class="big_heading"> In brief </h2>
            <h3 class="small_heading"> About Bim-Edu </h3>
            <p class="description"> 
                Bim-Edu is dedicated to open access to tertiary education around the world. Bim-Edu is designed to help high 
                school graduates overcome their geographical, political and personal constraints that prevent them from pursuing 
                higher education. The university offers programs of College Prep, Associates, Bachelor and Master degree in 
                business administration, civil engineering (mining, quarries and construction), computer science and health 
                sciences and generally in all segments of Management. Bim-Edu was founded in 2016 and accredited the same 
                year. It now has more than 1,000 students from more than 20 countries and territories. 
            </p>
        </figure>

        <figure class="make_it_stand_out">
            <h2 class="big_heading"> Mission And Vision </h2>

            <h3 class="small_heading"> Vision Of Bim-Edu </h3>
            <p class="description"> 
                The Bim-Edu believes that access to tertiary education is a key element in promoting World peace and global 
                economic development. Therefore we consider tertiary education as a fundamental right, and believes that it can 
                both transform life, considering that education plays a fundamental role in strengthening the respect for human 
                rights and fundamental freedoms, as well as in promoting mutual acceptance and tolerance.
            </p>

            <h3 class="small_heading"> Mission of Bim-Edu </h3>
            <p class="description"> 
                The mission of Bim-Edu is to provide affordable and quality graduate programs, and provide educational 
                qualifications for all Senior Technician, Engineer or any qualified student. 
            </p>

        </figure>

        <figure class="make_it_stand_out">
            <h2 class="big_heading"> Our Goals </h2>

            <h3 class="small_heading"> Offer students from diverse backgrounds tertiary education through :  </h3>
            <div class="description"> 
               <ul>
                    <li> Using the Internet to make distance education possible  </li>
                    <li> Offering programs at affordable costs  </li>
                    <li> Provide a wide range of financial assistance options  </li>
                    <li> Promotion of access to University education in underpriviliged areas of Africa and the world in general  </li>
                <ul>
            </div>

            <h3 class="small_heading"> Offer quality programs through :  </h3>
            <div class="description"> 
                <ul>
                    <li> Maintain high academic standards  </li>
                    <li> Include essential elements to foster critical thinking, communication and commitment to lifelong learning </li>
                    <li> Focus on the skills needed to succeed in the global economy  </li>
                    <li> Continuous evaluation of programs and improved regular evaluation of results and exams.  </li>
                <ul>
            </div>

        </figure>

    </div>
</section>



@section scripts{
    <link rel="stylesheet" href="~/css/internal/home/about.css"/>
}