@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Bim-Edu Business Intelligence Institute of Management ";
}

<section class="front_image_wrapper">
    <div class="front_image_container">
        <div class="text_wrapper">
            <h2 class="big_heading"> UNIVERSITY OF BIM-EDU </h2>
            <h2 class="small_heading"> Anglo-Franco Online Learning </h2>
            <div class="action_button_container">
                <a asp-controller="Account" asp-action="Apply" class="action_button"> APPLY </a>
            </div>
        </div>
    </div>
</section>


<section class="about_wrapper">
    <div class="about_container clear_float">

        <figure class="left_side">
            <div class="left_side_container">
                <h1 class="heading"> About   <br/> BIM-EDU </h1>
                <p class="description">
                    Business Intelligence Institute of Management (Bim-Edu) is an education revolution. 
                    It is one of the top universities in the world offering both class room learning and 
                    online learning programs.
                </p>
                <div class="action_button_container">
                    <a asp-controller="en_Home" asp-action="About" class="action_button"> More About Us </a>
                </div>
            </div>
        </figure>

        <figure class="right_side">
            <div class="image_container">
                <img src="~/images/index/graduation.jpg" alt="About Bim-Edu"/>
            </div>
        </figure>

    </div>
</section>

<section class="programs_wrapper">
    <div class="programs_container">

        <h1 class="heading"> ACCREDITED PROGRAMS </h1>
        <div class="heading image_container">
            <img src="~/images/Icons/certificate_quality.svg" alt="Certificate Quality From Bim-Edu"/>
        </div>

        <div class="programs_list">

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/scienceducation.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Science Education </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Provides a competitive curriculum to train and prepare teachers, 
                            highly qualified educationist and workers.
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> APPLY ></a>
                        </div>
                    </div>
                </div>
            </figure>

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/administrationdesaffaires.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Business Administration </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Provides a comprehensive knowledge of business theories and application 
                            to the current markets
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> APPLY > </a>
                        </div>
                    </div>
                </div>
            </figure>

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/Informatique.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Data Processing </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Provides the basis and technical tools for implementation in the field of 
                            high technology
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> APPLY > </a>
                        </div>
                    </div>
                </div>
            </figure>

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/sciencescommunication.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Information and Communication Technologies </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Provides the basis and technical tools for general information management and
                            communication
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> APPLY > </a>
                        </div>
                    </div>
                </div>
            </figure>

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/management.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Management </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Provides the basis and the technical tools for global management, whether at
                            the level of civil society organizations and firms or at the international level
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> APPLY > </a>
                        </div>
                    </div>
                </div>
            </figure>

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/sciencedelasante.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Health Sciences </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Provides the basis and technical tools for management and research in the
                            international public health
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> APPLY > </a>
                        </div>
                    </div>
                </div>
            </figure>

        </div>
    </div>
</section>

<section class="students_around_wrapper">
    <div class="students_around_container">
        <div class="overlay">
            <h1 class="heading"> Students From Africa And Byond <br/> (Over 20 Countries)</h1>

            <div class="action_button_container">
                <a asp-controller="Account" asp-action="Register" class="action_button"> REGISTER > </a>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <link rel="stylesheet" href="~/css/internal/home/index.css"/>
}