@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = " Bim-Edu Bus. Intelligence Inst of Management Student Experience ";
}

<section class="experience_wrapper">

    <div class="experience_container">

        <figure class="experience">
            
                <div class="overlay">

                    <p class="description">
                        "The Business Intelligence Institute of Management (Bim - Edu) is a 
                        university that delivers accredited programs both face - to - face and online from 
                        the United States and Africa, and whose rigorous teaching methods demonstrate academic excellence."
                    </p>
                    <div class="image_container">
                        <span class="student_name"> Josephine Mills	</span>  
                        <img src="~/images/studentexperience/one.jpg" alt="Bim-Edu Student Experience"/>
                    </div>

                </div>
        </figure>

        <figure class="experience">
                <div class="overlay">

                    <p class="description">
                        "Our leadership is embodied by the best academics and 
                        professionals committed to our mission to open doors to 
                        higher education for all"
                    </p>
                    <div class="image_container">
                        <span class="student_name"> Nakelintouba NIKIEMA  </span>  
                        <img src="~/images/studentexperience/nikiema.jpg" alt="Bim-Edu Student Experience"/>
                    </div>

                </div>
        </figure>

        <figure class="experience">
                <div class="overlay">

                    <p class="description">
                        "Business Intelligence Institute of Management 
                        (Bim - Edu) offers less loaded classes with peer 
                        learning, flexibility and accessibility."
                    </p>
                    <div class="image_container">
                        <span class="student_name"> Felicia WILLIAMS </span>  
                        <img src="~/images/studentexperience/two.jpg" alt="Bim-Edu Student Experience"/>
                    </div>

                </div>
        </figure>

    </div>

</section>


@section scripts{
    <link rel="stylesheet" href="~/css/internal/home/studentexperience.css"/>
}