@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = " Bim-Edu Business Intelligence Institute of Management Tuition Fee ";
}

<section class="intro_image_wrapper">
    <div class="intro_image_container">
        <div class="text_container">
                <h1 class="heading"> TUITION FEES </h1>
        </div>
    </div>
</section>

<section class="tuition_free_wrapper">
    <div class="tuition_free_container">

        <div class="button_container clear_float">
            <a asp-controller="Account" asp-action="Apply" class="button"> APPLY	</a>
        </div>

        <div class="fees_button_container clear_float">
            <a href="~/images/policies/masterfee.jpg" target="_blank" class="button"> VIEW MASTER FEES	</a>
            <a href="~/images/policies/bachelorfee.jpg" target="_blank" class="button"> VIEW BACHELOR  FEES	</a>
        </div>

        <figure class="make_it_stand_out">
            <h2 class="big_heading"> Quality And Affordable Education </h2>
            <p class="description"> 
               Business Intelligence Institute Of Management (BIM - Edu) offers students the opportunity to receive
               an online study program like in a classroom on very affordable terms. Our objective
               is to make quality higher education accessible to everyone. We do not
               charge our students for courses and course material but rather for correction fees and
               tutoring of our teachers and annual tuition fees. this makes programs leading to
               diploma certification a lot more affordable and accessible. Our unique model of higher education allows us to
               bring you the classroom at your home.
            </p>
        </figure>

        <figure class="make_it_stand_out">
            <h2 class="small_heading"> Advantages </h2>
            <p class="description"> 
                Our model allows us to offer leading programs in theaters
                innovative class. We offer students the choice between bilingual programs
                of Associates degree (equivalent to the BTS of State in the French-speaking system) and /
                or a Bachelor's degree in Communication, Business Administration, Computer Science,
                Global Management or Health Sciences, as well as bilingual Master's programs
                in Communication, Business Administration, Computer Science, Global Management or
                Health Sciences. All courses are flexible and easily accessible. Courses can only be in either 
                English, Spanish or French but not all.
            </p>

        </figure>

        <figure class="make_it_stand_out">
            <p class="description"> 

                The mission of our institution is to provide quality and affordable education to the general public.
                Business Intelligence Institute of Mangement (Bim - Edu) offers affordable programs, which means that 
                education is affordable for the middle classes of society. Business Intelligence Institute of 
                Management (Bim-Edu) requires an application fee of $ 60 or about XOF 30,000 and a fee schedule of 
                evaluation. Per Course Fee ($100 or about 50,000 XOF for Associate Programs) 
                and Bachelor and $200 or about XOF 100,000 for Master's programs). No registration fees and
                annual fees. We do not charge fees for course material.

            </p>

        </figure>

        <figure class="make_it_stand_out">
            <p class="description">                 
                On this basis, a diploma of Associate level or BTS of State
                can be completed in 2 years for $2060 (approximately 1 000 000 XOF), 
                a Bachelor can be completed in 4 years for $ 4060 (about 2 000 000 XOF). 
                For Master's degree programs, the MBA, and most Masters can be completed in 
                15 months for $ 2460 (about 1,200,000 XOF), the M.Ed. 
                in 17 months for $ 2,660 (about 1,300,000 XOF).These modest fees along with our
                quality tuition ensure the sustainability of the university
            </p>

        </figure>

        <figure class="make_it_stand_out">
            <p class="description"> 
                Scholarships are available for students who can not afford the University fees. Business
                Intelligence Institute of Management is convinced that everyone deserves the right to education and that no one
                should be left behind because of financial constraints.
            </p>

        </figure>
        
        <div class="button_container clear_float">
            <a asp-controller="Account" asp-action="Apply" class="button"> APPLY </a>
        </div>

    </div>
</section>



@section scripts{
    <link rel="stylesheet" href="~/css/internal/home/tuitionfee.css"/>
}