@model bim_edu.Models.Certification


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Certification | Bim-Edu";
}


<section class="page_wrapper clear_float">

    <div class="page_container clear_float">
        <h1 class="page_title"> Admin Certifcations </h1>


            <form class="form" asp-controller="Administration" asp-method="POST">

                   
                    <div class="ValidationError" asp-validation-summary="All"></div>

                    <div class="input_wrapper">
                        <label class="label" for="Name"> Name </label>
                        <input class="input" type="text" name="Name"/>
                        <span class="show_on_error" asp-validation-for="Name"></span>
                    </div>

                    <div class="button_container">
                        <input type="submit" asp-action="AddCertification" id="Add" class="button" value="Add"/>
                    </div>

            </form>
    </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/administration/adminsimpleform.css" />
}
