@model bim_edu.Models.ProgramDocumentViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Program Documents | Bim-Edu ";
    List<Programme> programs = ViewData["Programs"] as List<Programme>;
    List<ProgramDocument> programdocuments = ViewData["programdocuments"] as List<ProgramDocument>;
    string programId = ViewData["programId"] as string;
}


<section class="admin_page_wrapper">

    <div class="admin_page_container clear_float">
        <h1 class="page_title"> Program Documents Uploading Page </h1>
        <form class="form clear_float" enctype="multipart/form-data" asp-controller="Administration" asp-method="POST">

                    <div class="input_wrapper">
                        <label class="label" asp-for="ProgrammeId"> Program </label>
                        <select class="input" type="text" name="ProgrammeId">

                                    @foreach(Programme program in programs){
                                        if(program.ProgrammeId == Convert.ToInt32(programId)){
                                        <option selected value=@program.ProgrammeId > @program.Name </option>
                                        }else{
                                        <option value=@program.ProgrammeId > @program.Name </option>
                                        }
                                     }
                        </select>
                        <span class="show_on_error" asp-validation-for="ProgrammeId"></span>
                    </div>
                    
                    <div class="input_wrapper">
                        <label class="label" asp-for="IFormFile"> Upload Document </label>
                        <input class="input" asp-for="IFormFile" name="IFormFile"/>
                        <span class="show_on_error" asp-validation-for="IFormFile"></span>
                    </div>
                    
                    <div class="input_wrapper">
                        <label class="label" asp-for="Description"> Title </label>
                        <input class="input" type="text" name="Description"/>
                        <span class="show_on_error" asp-validation-for="Description"></span>
                    </div>

                    <div class="button_container">
                        <input type="submit" asp-action="AdminProgramDocument" class="button cursor_pointer" value="Add Document"/>
                    </div>
        </form>

        <section class="document_list_wrapper">
            <div class="document_list_container">

                @foreach(ProgramDocument programdocument in programdocuments){
                <figure class="item clear_float">
                    <div class="left">
                        <div class="title">
                            @programdocument.Description
                        </div>
                    </div>
                    <div class="right">
                        <form asp-controller="Administration" asp-method="POST">
                            <input type="text" name="Id" class="hide_it" value="@programdocument.ProgramDocumentId"/>
                            <a href="~/@GeneralStoredNames.Program_Document_Directory/@programdocument.FilePath" target="_blank" class="button cursor_pointer"> View </a>
                            <input type="submit" asp-action="AdminProgramDeleteDocument"  class="button cursor_pointer" value="Delete"/>
                        </form>
                    </div>
                </figure>
                }

            </div>
        </section>
    </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/administration/adminprogramdocument.css" />
}
