
@{
    ViewData["Title"] = "Paiement annulé Bim-Edu";
}

<section class="page_wrapper">

    <div class="page_container">

                <div class="status_container">
                        <h1 class="heading"> Paiement annulé </h1>
                        <p class="description"> Votre paiement a été annulé </p>
                </div>

        </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/payment/succeeded.css" />
}

