.approved_page_wrapper{
    width: 100%;
}

.approved_page_wrapper .approved_page_container{
    width: 100%;
}

.approved_page_container .welcome_title{
    padding: 10px 0px;
    text-align: center;
    background-color: #e90172;
    color: #fff;
}

.approved_page_container .program_container{
    padding: 2% 10% 10% 10%;
    background-color: #4b345d;
}

.program_container .details_container{
    margin: 3% 0;
}

.details_container .title{
    color: #fff;
    font: normal normal bold 18px/1.2em "Arial";
}

.details_container .details{
    color: #ddd;
    font: normal normal bold 15px/1.2em "Helvetica";
}

