.approved_page_wrapper{
    width: 100%;
}

.approved_page_wrapper .approved_page_container{
    width: 100%;
}

.approved_page_container .payment_intro{
    background-color: #4b345d;
    padding: 5% 5%;
}

.approved_page_container .payment_title{
    font: normal normal normal 35px/1.2em "Arial";
    margin-bottom: 10px;
    color: #f4f4f4;
}

.approved_page_container .payment_intro .payment_description{
    font: normal normal normal 18px/1.2em "sans-serif";
    color: #ddd;
}

.approved_page_container .payment_intro .payment_description .change_color{
    color: #fff;
}

.approved_page_container .payments_table{
    width: 80%;
    margin: 0% 10%;
    box-sizing: border-box;
}

.approved_page_container .payments_table .table{
    width: 100%;
    padding: 10px 10px;
    margin-top: 5%;
    box-sizing: border-box;
}

.approved_page_container .payments_table .table .heading{
    font: normal normal bold 15px/1.2em "Arial";
    text-align: center;
    background-color: #e90172;
}

.approved_page_container .payments_table .heading td{
    padding: 20px 10px;
    box-sizing: border-box;
}

.approved_page_container .payments_table .table .values{
    font: normal normal normal 14px/1.2em "Arial";
}

.approved_page_container .payments_table .table .values td{
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    box-sizing: border-box;
}

/* 
begin payment button 
*/

.button_container{
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
}

.button_container .label{
    float: right;
    margin-right: 10px;
    font-weight: bold;
    padding: 10px 10px;
    box-sizing: border-box;
}

.button_container .input{
    float: right;
    padding: 10px 10px;
    box-sizing: border-box;
}

.button_container .makepayment_container::before{
    content: "";
    display: table;
    clear: both;
}

.button_container .button{
    background-color: #4b345d;
    color: #fff;
    padding: 10px 10px;
    float: right;
    margin-top: 20px;
}

/* 
end payment button 
*/