.approved_page_wrapper{
    width: 100%;
}

.approved_page_wrapper .approved_page_container{
    width: 100%;
}

/* 
begin top bar form 
*/
.approved_page_container .form_container{
    width: 100%;
    padding: 0px 10%;
    box-sizing: border-box;
    background-color: #4b345d;
}

.form_container .form{
    text-align: center;
    padding: 15px 0%;
    width: 100%;
    background-color: #e90172;
    color: #fff;
}

.form .input_container{
    display: inline-block;
    margin: 0 10px;
}

.form .input_container .label{
    font: normal normal bold 14px/1.2em "Arial";
    margin-right: 10px;
}

.form .input_container .input{
    padding: 10px 10px;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    font: normal normal normal 14px/1.2em "Georgia";
}

.form .input_container .button{
    padding: 10px 10px;
    background-color: #f2f1e4;
    color: #000;
    box-sizing: border-box;
    font: normal normal normal 15px/1.2em "Georgia";
}

@media screen and (max-width:768px){

    .form .input_container .input{
        padding: 10px 10px;
        background-color: #fff;
        color: #000;
        box-sizing: border-box;
        font: normal normal normal 14px/1.2em "Georgia";
        margin-bottom: 10px;
        margin-top: 5px;
        width: 150px;
    }

}

/* 
end top bar form 
*/


/* 
begin welcome page 
*/

.approved_page_container .welcome_page{
    width: 100%;
    padding: 10% 0% 15% 0%;
    background: url(../../../images/student/welcome/bg.jpg) no-repeat center center /cover;
}

.approved_page_container .welcome_title{
    font: normal normal normal 50px/1.2em "Arial";
    margin-bottom: 10px;
    text-align: center;
    color: #000;

}

.approved_page_container .welcome_menu_items_wrapper{
    width: 100%;
}

.welcome_menu_items_wrapper .welcome_menu_items_contianer{
    width: 100%;
}

.welcome_menu_items_contianer .new_row{
    width: 100%;
    text-align: center;
}

.welcome_menu_items_contianer .new_row .item{
    width: 200px;
    text-align: center;
    background-color: #4b345d;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 10px 10px;
    display: inline-block;
    transition: all .5s ease-in-out;
}

.welcome_menu_items_contianer .new_row .item:hover{
    background-color: #e90172;
}



.welcome_menu_items_contianer .new_row .item .menu_image_container{
    width: 100%;
    margin-bottom: 10px;
}

.welcome_menu_items_contianer .new_row .item .menu_image_container img{
    width: 50%;
}

.welcome_menu_items_contianer .new_row .item .item_title{
    font: normal normal normal 18px/1.2em "Helvetica";
    color: #fff;
}


/* 
end welcome page 
*/
