@model bim_edu.Models.Course;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "How To Use Bim-Edu Certification Page | Admin ";
    List<Course> courses = ViewData["vCourse"] as List<Course>;
}


<section class="admin_page_wrapper">

    <div class="admin_page_container clear_float">

        <div class="note">
                <span class="title"> NOTE: </span> 
                <p class="message">
                    This Section Shows How To Use The CERTIFICATION Page. 
                </p>
        </div>

        <figure class="item">
            <h2 class="heading"> ADD NEW PROGRAM CERTIFICATE </h2>
            <div class="instructions">

                <p>
                    <span class="number"> 1. </span>
                    <span class="instruction"> Go to the Certification Page.
                        <a class="link" asp-controller="Administration" asp-action="AdminCertification" target="_blank"> 
                            Click here to go to the page 
                        </a>
                    </span>
                </p>

                <p>
                    <span class="number"> 2. </span>
                    <span class="instruction"> 
                        Enter The Name Of The Certificate To Add
                    </span>
                </p>

                <p>
                    <span class="number"> 3. </span>
                    <span class="instruction"> 
                        Click On 'Add' To Add The Certificate
                    </span>
                </p>

            </div>
        </figure>
    
    </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/administration_documentation/admin_docs.css" />
}
