@model bim_edu.Models.Course;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "How To Use Bim-Edu Program Page | Admin ";
    List<Course> courses = ViewData["vCourse"] as List<Course>;
}


<section class="admin_page_wrapper">

    <div class="admin_page_container clear_float">

        <div class="note">
                <span class="title"> NOTE: </span> 
                <p class="message">
                    This Section Shows How To Use The PROGRAM Page. 
                </p>
        </div>

        <figure class="item">
            <h2 class="heading"> ADD NEW PROGRAM </h2>
            <div class="instructions">

                <p>
                    <span class="number"> 1. </span>
                    <span class="instruction"> Go to the Program Page.
                        <a class="link" asp-controller="Administration" asp-action="AdminProgramme" target="_blank"> 
                            Click here to go to the page 
                        </a>
                    </span>
                </p>

                <p>
                    <span class="number"> 2. </span>
                    <span class="instruction"> 
                        Fill In The Information For The Program
                        
                    </span>
                </p>

                <p>
                    <span class="number"> 3. </span>
                    <span class="instruction"> 
                        Click On 'Add' To Add The Program
                    </span>
                </p>

            </div>
        </figure>

        <figure class="item">
            <h2 class="heading"> UPDATE PROGRAM </h2>
            <div class="instructions">

                <p>
                    <span class="number"> 1. </span>
                    <span class="instruction"> Go to the Program Page.
                        <a class="link" asp-controller="Administration" asp-action="AdminProgramme" target="_blank"> 
                            Click here to go to the page 
                        </a>
                    </span>
                </p>

                <p>
                    <span class="number"> 2. </span>
                    <span class="instruction"> 
                        On Top Of The Page, There Is A Dropdown Menu That List All The Available Programs. 
                        Select A Program To Update (Details Of The Program Will Be Automatically Inserted On The Form)
                        
                    </span>
                </p>

                <p>
                    <span class="number"> 3. </span>
                    <span class="instruction"> 
                        Make The Necessary Changes On The Form
                    </span>
                </p>

                <p>
                    <span class="number"> 4. </span>
                    <span class="instruction"> 
                        Click On 'Update' To Update The Program
                    </span>
                </p>

            </div>
        </figure>
    
    </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/administration_documentation/admin_docs.css" />
}
