.page_wrapper{
    width: 100%;
}

.page_wrapper .page_container{
    padding: 5% 20%;
    background-color: #e90172;
    color: #fff;
    margin-bottom: 20%;
}

.page_container .heading{
    font: normal normal bold 30px/1.2em "Arial";
}

.page_container .description{
    font: normal normal normal 18px/1.2em "Helvetica";
    margin-top: 20px;
}