@{
    ViewData["Title"] = " About Bim-Edu Business Intelligence Institute of Management ";
}

<section class="intro_image_wrapper">
    <div class="intro_image_container">
        <div class="text_container">
                <h1 class="heading"> Apprentissage en ligne </h1>
        </div>
    </div>
</section>

<section class="about_wrapper">
    <div class="about_container">

        <figure class="make_it_stand_out">
            <h2 class="big_heading"> En résumé </h2>
            <h3 class="small_heading"> A propos de Bim-Edu </h3>
            <p class="description"> 
                Bim-Edu se consacre à l'accès à l'enseignement supérieur dans le monde
                entier, Bim-Edu est conçu pour aider les diplômés du secondaire à
                surmonter leurs contraintes géographiques, politiques et personnelles les
                empêchant de poursuivre des études supérieures. L’université offer des
                programmes de niveau BTS, Licence et Master en administration des
                affaires, en genie civil (option mines et carriers et BTP), en informatique et
                en sciences de la santé et de façon générale sur tous les segments du
                Management. Bim-Edu a été fondée en 2016 et accrédité la même année. Il
                compte aujourd'hui plus de 1 000 étudiants de plus de 20 pays et territoires.
            </p>
        </figure>

        <figure class="make_it_stand_out">
            <h2 class="big_heading"> Mission et Vision </h2>

            <h3 class="small_heading"> Vision de Bim-Edu </h3>
            <p class="description"> 
               L’Institut de Management Bim-Edu estime que l’accès à l’enseignement
                supérieur est un élément clé de la promotion de la paix mondiale et du
                développement économique mondial. Il considère l’enseignement supérieur
                comme un droit fondamental, et estime qu’il peut à la fois transformer la vie
                des individus et constituer une force importante pour la société. Bim-Edu
                estime que l'éducation joue un rôle fondamental dans le renforcement du
                respect des droits de l'homme et des libertés fondamentales, ainsi que dans
                la promotion de l’acceptation mutuelle et de la tolérance.
            </p>

            <h3 class="small_heading"> Mission de Bim-Edu </h3>
            <p class="description"> 
                La mission de Bim-Edu Institute of Management est d’offrir des
                programmes d’études supérieures abordables et de qualité, des programmes
                éducatifs conférant le grade de Technicien supérieur, d’ingenieur ou de
                Master à tout étudiant qualifié.
            </p>

        </figure>

        <figure class="make_it_stand_out">
            <h2 class="big_heading"> Nos buts </h2>

            <h3 class="small_heading"> Offrir aux étudiants de divers horizons l’enseignement supérieur à travers : </h3>
            <div class="description"> 
               <ul>
                    <li> Utilisation de l’Internet pour dispenser des enseignements à distance </li>
                    <li> Offre de programmes à des coûts étudiés </li>
                    <li> Fournir un large éventail d'options d'aide financière </li>
                    <li> Promotion des programmes de l’Université dans les régions mal desservies d’Afrique et du monde en général. </li>
                <ul>
            </div>

            <h3 class="small_heading"> Offrir des programmes de qualité : </h3>
            <div class="description"> 
                <ul>
                    <li> Maintenir des normes académiques élevées </li>
                    <li> Inclure des éléments essentiels pour favoriser la pensée critique, la communication 
                        et l'engagement envers l'apprentissage tout au long de la vie </li>
                    <li> Centration sur les compétences nécessaires pour réussir dans l'économie mondiale </li>
                    <li> Programmes continuellement évalués et améliorés par une évaluation régulière des résultats et des examens. </li>
                <ul>
            </div>

        </figure>

    </div>
</section>



@section scripts{
    <link rel="stylesheet" href="~/css/internal/home/about.css"/>
}