
@{
    string heading = ViewData["heading"] as string;
    string description = ViewData["description"] as string;
    ViewData["Title"] = heading + " - Bim-Edu";
}

<section class="page_wrapper">

    <div class="page_container">

                <div class="status_container">
                        <h1 class="heading"> 
                            @heading 
                        </h1>
                        <p class="description"> 
                            @description 
                        </p>
                </div>

        </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/payment/succeeded.css" />
}

