@{
    ViewData["Title"] = " Bim-Edu Business Intelligence Institute of Management ";
}

<section class="front_image_wrapper">
    <div class="front_image_container">
        <div class="text_wrapper">
            <h2 class="big_heading"> UNIVERSITE DE BIM-EDU </h2>
            <h2 class="small_heading"> Université Anglo-saxonne et Francophone </h2>
            <div class="action_button_container">
                <a asp-controller="Account" asp-action="Apply" class="action_button"> INSCRIPTION </a>
            </div>
        </div>
    </div>
</section>


<section class="about_wrapper">
    <div class="about_container clear_float">

        <figure class="left_side">
            <div class="left_side_container">
                <h1 class="heading"> A propos   <br/> de BIM-EDU </h1>
                <p class="description">
                    Business Intelligence Institute of Management (Bim-Edu) est la
                    révolution de l'éducation. Elle est parmi les universités de classe
                    internationale ofrant des programmes accredités aussi bien en
                    présentiel qu’en ligne.
                </p>
                <div class="action_button_container">
                    <a asp-controller="Home" asp-action="About" class="action_button"> En savoir plus </a>
                </div>
            </div>
        </figure>

        <figure class="right_side">
            <div class="image_container">
                <img src="~/images/index/graduation.jpg" alt="About Bim-Edu"/>
            </div>
        </figure>

    </div>
</section>

<section class="programs_wrapper">
    <div class="programs_container">

        <h1 class="heading"> PROGRAMMES ACCRÉDITÉS </h1>
        <div class="heading image_container">
            <img src="~/images/Icons/certificate_quality.svg" alt="Certificate Quality From Bim-Edu"/>
        </div>

        <div class="programs_list">

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/scienceducation.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Sciences de l’Éducation </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Fournit un programme d'études concurrentiel pour préparer des enseignants et 
                            des travailleurs de l’education et de la formation hautement qualifiés.
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> CANDIDATURE ></a>
                        </div>
                    </div>
                </div>
            </figure>

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/administrationdesaffaires.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Administration des affaires </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Fournit une connaissance complète des théories de l'entreprise et l’application
                            aux marchés actuels
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> CANDIDATURE > </a>
                        </div>
                    </div>
                </div>
            </figure>

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/Informatique.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Informatique </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Fournit la base et les outils techniques pour la mise en œuvre dans le secteur de la
                            haute technologie
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> CANDIDATURE > </a>
                        </div>
                    </div>
                </div>
            </figure>

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/sciencescommunication.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Sciences et techniques de l’information et de la communication </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Fournit la base et les outils techniques pour la gestion de l’information et la
                            communication de façon générale
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> CANDIDATURE > </a>
                        </div>
                    </div>
                </div>
            </figure>

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/management.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Management </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Fournit la base et les outils techniques pour le management global que ce soit au
                            niveau des organisations de la societe civile ou dans les firmes au niveau
                            international
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> CANDIDATURE > </a>
                        </div>
                    </div>
                </div>
            </figure>

            <figure class="program clear_float">
                <div class="left_side">
                    <div class="image_container">
                        <img src="~/images/index/programs/sciencedelasante.jpg" alt="Education From Bim-Edu"/>
                    </div>
                </div>
                <div class="right_side">
                    <h2 class="sub_heading"> Science de la sante </h2>
                    <div class="description_container clear_float">
                        <p class="description">
                            Fournit la base et les outils techniques pour la gestion et la recherche dans le
                            domaine de la santé publique internationale
                        </p>
                        <div class="description_button">
                            <a asp-controller="Account" asp-action="Apply" class="action_button"> CANDIDATURE > </a>
                        </div>
                    </div>
                </div>
            </figure>

        </div>
    </div>
</section>

<section class="students_around_wrapper">
    <div class="students_around_container">
        <div class="overlay">
            <h1 class="heading"> Etudiants d’Afrique et d’ailleurs <br/> (Plus de 20 pays)</h1>

            <div class="action_button_container">
                <a asp-controller="Account" asp-action="Register" class="action_button"> INSCRIPTION > </a>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <link rel="stylesheet" href="~/css/internal/home/index.css"/>
}