@{
    ViewData["Title"] = " Bim-Edu Bus. Intelligence Inst of Management Student Experience";
}

<section class="experience_wrapper">

    <div class="experience_container">

        <figure class="experience">
            
                <div class="overlay">

                    <p class="description">
                        "Le	Business Intelligence Institute Of Management (Bim-­‐Edu) est une université qui délivre des programmes 
                        accrédités en présentiel et en ligne depuis les États-­‐Unis et aussi en Afrique et dont les méthodes rigoureuses 
                        d’enseignement attestent de leur excellence académique."
                    </p>
                    <div class="image_container">
                        <span class="student_name"> Josephine Mills	</span>  
                        <img src="~/images/studentexperience/one.jpg" alt="Bim-Edu Student Experience"/>
                    </div>

                </div>
        </figure>

        <figure class="experience">
                <div class="overlay">

                    <p class="description">
                        "Notre leadership est incarné par les meilleurs universitaires et professionnels engagés dans notre	mission d'ouvrir les portes de l'enseignement supérieur pour tous"
                    </p>
                    <div class="image_container">
                        <span class="student_name"> Nakelintouba NIKIEMA  </span>  
                        <img src="~/images/studentexperience/nikiema.jpg" alt="Bim-Edu Student Experience"/>
                    </div>

                </div>
        </figure>

        <figure class="experience">
                <div class="overlay">

                    <p class="description">
                        "Business Intelligence Institute of Management (Bim-­‐Edu) propose des classes moins chargées avec apprentissage	par les pairs, flexibilité et accessibilité."
                    </p>
                    <div class="image_container">
                        <span class="student_name"> Felicia WILLIAMS </span>  
                        <img src="~/images/studentexperience/two.jpg" alt="Bim-Edu Student Experience"/>
                    </div>

                </div>
        </figure>

    </div>

</section>


@section scripts{
    <link rel="stylesheet" href="~/css/internal/home/studentexperience.css"/>
}