@{
    ViewData["Title"] = " Bim-Edu Business Intelligence Institute of Management Tuition Fee ";
}

<section class="intro_image_wrapper">
    <div class="intro_image_container">
        <div class="text_container">
                <h1 class="heading"> Enseigner chez nous </h1>
        </div>
    </div>
</section>

<section class="tuition_free_wrapper">
    <div class="tuition_free_container">

        <div class="button_container clear_float">
            <a asp-controller="Account" asp-action="Apply" class="button"> S’INSCRIRE	</a>
        </div>

        <div class="fees_button_container clear_float">
            <a href="~/images/policies/masterfee.jpg" target="_blank" class="button"> VIEW MASTER FEES	</a>
            <a href="~/images/policies/bachelorfee.jpg" target="_blank" class="button"> VIEW BACHELOR  FEES	</a>
        </div>

        <figure class="make_it_stand_out">
            <h2 class="big_heading"> Une Education de qualité à des conditions très	avantageuses </h2>
            <p class="description"> 
               Business Intelligence Institute Of Management (Bim-­‐Edu) offre aux étudiants la possibilité de recevoir 
               un programme d'étude en ligne tout comme en présentiel à des conditions très avantageuses. Notre objectif 
               est de rendre l'enseignement supérieur de qualité accessible à tous, à tout moment, n'importe où. Nous ne 
               facturons pas nos étudiants pour les cours, le matériel de cours mais plutôt sur les frais de correction et 
               de tutoring de nos enseignants et les droits d’inscription annuels, ce qui rend les programmes menant à un 
               diplôme beaucoup plus abordables et accessibles. Notre modèle unique d'enseignement supérieur nous permet de 
               vous apporter la salle de classe chez vous partout ou vous êtes, ce qui réduit les coûts globaux pour nos étudiants.
            </p>
        </figure>

        <figure class="make_it_stand_out">
            <h2 class="small_heading"> Avantages </h2>
            <p class="description"> 
                Notre modèle nous permet d’offrir des programmes de premier plan dans des salles de 
                classe innovantes. Nous offrons aux étudiants le choix entre des programmes bilingues 
                d’Associates degree (équivalent au BTS d’Etat dans le système francophone) en ligne et / 
                ou une Licence en Communication, en Administration des affaires, en Informatique, en 
                Management global ou en Sciences de la santé, ainsi que des programmes bilingues de Master 
                en Communication, en Administration des affaires, en Informatique, en Management global ou en 
                Sciences de la santé. Tous les cours sont flexibles et facilement accessibles et peuvent être 
                dispenses uniquement dans une ou l’autre des langue (Anglais,Espagnole ou Français).
            </p>

        </figure>

        <figure class="make_it_stand_out">
            <p class="description"> 

                La mission 
                de notre institution est de fournir une éducation de qualité et abordable au grand public. Business 
                Intelligence Institute of Mangement (Bim-­‐Edu) propose des programmes abordables, ce qui signifie que 
                l'enseignement est abordable pour les couches moyennes de la société. Business Intelligence Institute of 
                Management (Bim-­ Edu) exige des frais d’analyse de dossier de 60 $ soit environ 30 000 XOF et un barème de 
                frais d’évaluation. Frais par cours suivi (100 $ soit environ 50 000 XOF pour les programmes du cycle Associates 
                et Bachelor et 200 $ soit environ 100 000 XOF pour les programmes du cycle Master). Pas de frais d'inscription 
                annuels et pas de frais pour le matériel de cours.
            </p>

        </figure>

        <figure class="make_it_stand_out">
            <p class="description">                 
                Sur cette base, un diplôme de niveau Associate ou BTS d’Etat 
                peut être complété en 2 ans pour 2060 $ (environ 1 000 000 XOF), un Bachelor peut être achevé en 4 ans soit 
                2 années supplémentaires pour 4060 $ (environ 2 000 000 XOF). Pour les programmes d'études de niveau Master, 
                le MBA, et la plupart des Masters peuvent être complété en 15 mois pour 2460 $ (environ 1 200 000), le M.Ed. 
                en 17 mois pour 2660 $ (environ 1 300 000).. Ces frais modestes comparativement à d’autres programmes de même 
                qualité garantissent la durabilité de l'université et sa capacité à continuer à fournir une éducation de qualité 
                à tous. 
            </p>

        </figure>

        <figure class="make_it_stand_out">
            <p class="description"> 
                Des bourses sont disponibles pour les étudiants qui ne peuvent pas payer les frais de l'Université. Business 
                Intelligence Institute of Management est convaincue que tout le monde mérite le droit à l'éducation et que personne ne 
                devrait être laissé pour compte en raison de contraintes financières.
            </p>

        </figure>
        
        <div class="button_container clear_float">
            <a asp-controller="Account" asp-action="Apply" class="button"> S’INSCRIRE </a>
        </div>

    </div>
</section>



@section scripts{
    <link rel="stylesheet" href="~/css/internal/home/tuitionfee.css"/>
}