@model bim_edu.Models.Course;
@{
    ViewData["Title"] = "Bim-Edu Student Portal Online Documentation ";
}


<section class="documentation_page_wrapper">

    <div class="documentation_page_container clear_float">

        <div class="link_container">
            <span class="number"> 1.</span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Welcome_Link"> 
                Set Active Program Or Set Program In Context For The Student Portal Dashboard
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 2.</span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Welcome_Link"> 
                Set Active Course Or Set Course In Context For The Student Portal Dashboard
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 3.</span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Application_Link"> 
                How To Use Bim-Edu Student Portal 'Application' Page
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 4.</span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Payment_Link"> 
                How To Use Bim-Edu Student Portal 'Payments' Page 
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 5. </span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Foundation_Link"> 
                How To Use Bim-Edu Student Portal 'Foundation' Page
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 6. </span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Policy_Link"> 
                How To Use Bim-Edu Student Portal 'Policy' Page
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 7.</span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Forum_Link"> 
                How To Use Bim-Edu Student Portal 'Forum' Page 
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 8. </span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Video_Link"> 
                How To Use Bim-Edu Student Portal 'Videos' Page
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 9. </span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Document_Link"> 
                How To Use Bim-Edu Student Portal 'Document' Page
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 10. </span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Question_Link"> 
                 How To Use Bim-Edu Student Portal 'Questions' Page
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 11. </span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Program_Link"> 
                 How To Use Bim-Edu Student Portal 'Program' Page
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 12. </span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Lecturer_Link"> 
                How To Use Bim-Edu Student Portal 'Lecturer' Page 
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 13. </span>
            <a class="link" target="_blank"  target="_blank" asp-controller="Documentation" asp-action="Youtube_Link"> 
                How To Use Bim-Edu Student Portal 'Youtube' Link 
            </a>
        </div>

        <div class="link_container">
            <span class="number"> 14. </span>
            <a class="link"  target="_blank" asp-controller="Documentation" asp-action="Website_Link"> 
                 How To Use Bim-Edu Student Portal 'Website' Link
            </a>
        </div>

    </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/documentation/menu_links.css" />
}
