@model bim_edu.Models.Course;
@{
    ViewData["Title"] = "How To Use BIM-EDU Student Portal PAYMENTS Page";
}


<section class="documentation_page_wrapper">

    <div class="documentation_menu">
        <a asp-controller="Documentation" asp-action="Menu"> Documentation Menu </a>
    </div>

    <div class="documentation_page_container clear_float">


        <div class="note">
                <span class="title"> NOTE: </span> 
                <p class="message">
                    This Section Shows How To Use BIM-EDU Student Portal PAYMENTS Page.
                    It Displays All The Payments And Owings.
                </p>
        </div>

        <figure class="item">
            <h2 class="heading"> MAKE PAYMENT </h2>
            <div class="instructions">

                <p>
                    <span class="number"> 1. </span>
                    <span class="instruction"> Go to the Payments Page.
                        <a class="link" asp-controller="en_Student" asp-action="Payment" target="_blank"> 
                            Click here to go to the page 
                        </a>
                    </span>
                </p>

                <p>
                    <span class="number"> 2. </span>
                    <span class="instruction">                         
                        Go To The Specific Payment You Want To Make Payment
                    </span>
                </p>

                <p>
                    <span class="number"> 3. </span>
                    <span class="instruction"> 
                        Click On 'Make Payment'. This Is Located Below The Specific Payment You Intend To Pay.
                    </span>
                </p>

                <p>
                    <span class="number"> 4. </span>
                    <span class="instruction"> 
                        Your Payment Will Be Processed And You Will Be Taken To The Payment Link
                    </span>
                </p>

            </div>
        </figure>
    
    </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/documentation/documentation.css" />
}
