@{
    ViewData["Title"] = "Bim-Edu Agent de bureau/Réceptionniste";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Agent de bureau/Réceptionniste </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Les réceptionnistes passent la plupart de leur temps à interagir avec le public. Leurs fonctions varient selon l'industrie, 
                    mais les principales responsabilités comprennent le service à la clientèle et certains travaux administratifs, tels que 
                    le traitement de texte ou la saisie de données. Ils tiennent des registres, répondent aux appels, traitent les plaintes 
                    des clients et fournissent des informations aux clients et aux clients. Ces travailleurs exercent souvent leurs fonctions 
                    dans des environnements de bureau confortables, mais il est difficile de traiter avec des clients insatisfaits. 
                    Pour devenir un réceptionniste réussi, 
                    les étudiants sont formés pour développer de solides compétences en communication et en informatique, puis acquérir une 
                    expérience de travail.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}