@{
    ViewData["Title"] = "Bim-Edu Mécanicien automobile";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Mécanicien automobile </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Un mécanicien automobile (technicien automobile, mécanicien automobile) est un mécanicien avec une variété de 
                    marques automobiles ou dans un domaine spécifique ou dans une marque spécifique d'automobile. Dans la réparation 
                    des voitures, leur rôle principal est de diagnostiquer le problème avec précision et rapidité. Ce cours forme des 
                    assistants qui pourraient créer leur propre entreprise après avoir atteint un bon niveau d'expérience dans l'industrie 
                    ou choisir de travailler sous la supervision d'ingénieurs.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}