@{
    ViewData["Title"] = "Bim-Edu Entreprenariat - Incubation d'entreprises";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Entreprenariat - Incubation d'entreprises - Coaching </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    L'une des façons de penser l'incubation et l'entrepreneuriat est de contribuer à accroître le succès et les 
                    opportunités entrepreneuriales et à renforcer les communautés. Notre programme améliore les chances de réussite 
                    en offrant des choses comme des bureaux, des services professionnels et des conseils aux entreprises. De plus, 
                    nous formons et accompagnons les futurs entrepreneurs pour réussir le lancement et le maintien de leurs idées 
                    commerciales. Ce cours forme les futurs entrepreneurs qui pourraient créer leur propre entreprise dans une industrie donnée.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}