@{
    ViewData["Title"] = "Bim-Edu Agent concasseur";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Agent concasseur </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Nous avons développé un programme complet de cours de formation sur mesure pour aider 
                    les opérateurs et les techniciens de maintenance à apprendre les tenants et aboutissants d'une gamme 
                    d'équipements de concassage et de criblage. Les compétences acquises et les connaissances acquises vous 
                    aideront à optimiser votre opération et à atténuer les risques. Nos cours théoriques et pratiques enseigneront 
                    aux opérateurs et aux techniciens des techniques pour prolonger la disponibilité mensuelle de l'équipement 
                    et la durée de vie globale et améliorer le rendement. Vous apprendrez à réduire les arrêts imprévus qui 
                    sont coûteux et, surtout, peuvent créer des risques pour la sécurité.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}