@{
    ViewData["Title"] = "Bim-Edu Électricien automobile";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Électricien automobile </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                   Le système électrique d'une voiture est un peu comme le système circulatoire de votre corps en ce qu'il a 
                   une batterie (le cœur) à partir de laquelle l'électricité (le sang) circule le long des fils (les vaisseaux sanguins) 
                   vers les parties qui en ont besoin, avant de retourner à la batterie. En fait, l'analogie est encore plus proche lorsque 
                   vous considérez que, comme le sang, le courant électrique circule dans une seule direction - de la batterie à la partie 
                   alimentée et à la batterie à travers la carrosserie métallique de la voiture. Non seulement cela, tout comme le sang coule 
                   sous pression, l'électricité aussi. La pression à laquelle il s'écoule est mesurée en volts et la quantité d'électricité 
                   qui circule, en ampères, généralement raccourcie en ampères, bien que ce chiffre soit plus généralement exprimé par une 
                   autre mesure appelée watts. À mesure que l'électricité circule, elle rencontre une résistance lorsque le fil peut en conduire 
                   moins (un peu comme un vaisseau sanguin plus étroit), un effet mesuré en ohms. Si cette résistance est trop élevée 
                   (en d'autres termes, si le fil est trop mince), de la chaleur est générée. Cela se produit dans une ampoule où le 
                   mince filament ne peut pas conduire l'électricité facilement et est donc chauffé à blanc par lui dans un gaz qui 
                   ne le fera pas brûler. Ce cours forme des assistants qui pourraient créer leur propre entreprise après avoir atteint 
                   un bon niveau d'expérience dans l'industrie ou choisir de travailler sous la supervision d'ingénieurs.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}