@{
    ViewData["Title"] = "Bim-Edu Auxiliaire/Technicien de pharmacie";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Auxiliaire/Technicien de pharmacie </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    La pharmacie est un métier aussi ancien que le temps lui-même. C'est l'art et la science de dispenser et de préparer 
                    des médicaments et de fournir au public des informations sur les médicaments. Le rôle d'un assistant en pharmacie s'est 
                    élargi ces dernières années. Les rôles d'un pharmacien comprennent le lancement, l'ajustement ou le renouvellement des 
                    ordonnances / prescriptions de médicaments en fonction des connaissances et de l'expertise. Surveiller les doses, utiliser 
                    une liste de médicaments recommandés par la pharmacie, dispenser des médicaments en vente libre, signer toutes les entrées 
                    dans les dossiers médicaux, commander des tests et des études de laboratoire et offrir des consultations au besoin. 
                    L'assistant est formé pour remplir un tel rôle tout en assistant le pharmacien.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}