@{
    ViewData["Title"] = "Bim-Edu Marketiste numérique";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Marketiste numérique </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Le marketing numérique englobe tous les efforts de marketing qui utilisent un appareil 
                    électronique ou Internet. Les entreprises tirent parti des canaux numériques tels que les moteurs de recherche, 
                    les médias sociaux, le courrier électronique et d'autres sites Web pour se connecter avec les clients actuels 
                    et potentiels. Ce cours forme des agents qui pourraient créer leur propre entreprise après avoir atteint un bon niveau 
                    d'expérience dans l'industrie ou choisir de travailler sous la supervision d'un expert.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}