@{
    ViewData["Title"] = "Bim-Edu Technicien en bâtiment/Maçon";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Technicien en bâtiment/Maçon </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Le génie de la construction est une discipline professionnelle qui traite de la conception, de la planification, 
                    de la construction et de la gestion des infrastructures telles que les routes, les tunnels, les ponts, les aéroports, 
                    les chemins de fer, les installations, les bâtiments, les barrages, les services publics et autres projets.
                    Le génie civil est un domaine connexe qui traite davantage des aspects pratiques des projets. Les ingénieurs en 
                    construction apprennent certains aspects de la conception similaires aux ingénieurs civils ainsi que les aspects 
                    de gestion du site du projet. Ce cours forme des assistants qui pourraient créer leur propre entreprise après avoir 
                    atteint un bon niveau d'expérience dans l'industrie ou choisir de travailler sous la supervision d'ingénieurs.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}