@{
    ViewData["Title"] = "Bim-Edu Délégué médical";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Délégué médical </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Le travail d'un représentant médical consiste à promouvoir et à vendre les produits de son entreprise, 
                    qu'il s'agisse de médicaments pharmaceutiques ou d'équipements médicaux. Les clients peuvent inclure des 
                    médecins, des infirmières et des pharmaciens. Le représentant médical augmentera la sensibilisation aux produits, 
                    répondra aux questions, fournira des conseils et présentera de nouveaux produits. Ce cours forme des agents qui 
                    pourraient créer leur propre entreprise après avoir atteint un bon niveau d'expérience dans l'industrie ou 
                    travailler indépendamment en tant que consultant.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}