@{
    ViewData["Title"] = "Bim-Edu Assistant en Logistique et Transport";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Assistant en Logistique et Transport </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Obtenez une certification en tant que technicien en logistique ou associé en logistique 
                    certifié! La logistique et la distribution sont essentielles pour aider les produits et services 
                    à atteindre le consommateur final. Apprenez à planifier et à planifier le mouvement des biens et 
                    des services. Les opérations logistiques nécessitent des travailleurs bien formés dans les installations 
                    et les entrepôts pour s'assurer que les marchandises sont là où elles devraient être et que les commandes 
                    sont remplies et expédiées pour correspondre aux commandes des clients.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}