@{
    ViewData["Title"] = "Bim-Edu Électricien/Agent en Énergie solaire";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Électricien/Agent en Énergie solaire </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Découvrez la puissance de l'énergie solaire et apprenez à concevoir un système photovoltaïque complet. 
                    Ce cours présente la technologie qui convertit l'énergie solaire en électricité, chaleur et combustibles 
                    solaires avec un accent principal sur la production d'électricité. Photovoltaïque (PV).
                    Découvrez la puissance de l'énergie solaire et apprenez à concevoir un système photovoltaïque complet. Ce cours présente 
                    la technologie qui convertit l'énergie solaire en électricité, chaleur et combustibles solaires avec un accent principal 
                    sur la production d'électricité. Photovoltaïque (PV).
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}