@{
    ViewData["Title"] = "Bim-Edu Vocational Training Course";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Agent de Tourisme et d’hôtellerie </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Les voyages et le tourisme sont l'une des plus grandes industries du monde, représentant plus de 9,3% du produit intérieur brut mondial. 
                    Chaque année, plus d'un milliard de touristes visitent des destinations par voie aérienne, terrestre et maritime. Les hôtels représentent 
                    à eux seuls plus d'un demi-milliard de dollars dans le monde en revenus annuels. L'industrie est très large, ce qui signifie 
                    qu'il existe de nombreuses opportunités et domaines de spécialité, à la fois visibles et travaillant dans les coulisses. 
                    En fait, un emploi sur onze dans l'économie mondiale actuelle est lié au tourisme et à l'hôtellerie. Le tourisme et l'hospitalité 
                    comprennent la gestion des attractions, la planification des congrès, le service à la clientèle, la planification d'événements, 
                    la restauration, les jeux, l'hébergement, le marketing, les ventes et les voyages. Travailler dans la gestion du tourisme et de 
                    l'hôtellerie pourrait vous décrocher un emploi presque partout dans le monde. Les hôtels, les compagnies aériennes, les restaurants, 
                    les sociétés de transport, les services touristiques, les centres de congrès, les casinos, les équipes sportives, les agences de 
                    voyage et les fournisseurs d'activités font tous partie d'une industrie dynamique qui a continuellement besoin d'employés qualifiés.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}