@{
    ViewData["Title"] = "Bim-Edu Assistant/Secrétaire comptable";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Assistant/Secrétaire comptable </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Ce certificat est conçu pour aider les étudiants de différentes carrières à acquérir 
                    les connaissances nécessaires pour réussir leur transition vers une carrière en comptabilité. 
                    Fournir aux étudiants les bases pour obtenir une certification professionnelle est la clé de 
                    leur préparation. En fin de compte, les apprenants deviennent des associés de secrétaires et 
                    de professionnels de la comptabilité.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}