@{
    ViewData["Title"] = "Bim-Edu Agent de service traiteur";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Agent de service traiteur </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    La restauration est l'industrie chargée de fournir des boissons, de la nourriture et d'autres services à 
                    différents clients pour des événements spéciaux. Les traiteurs font partie des professionnels travaillant 
                    dans ce domaine et leurs fonctions sont liées à l'organisation et au contrôle des opérations de restauration. 
                    Ces professionnels ont recours à des entrepreneurs indépendants pour effectuer des services de restauration pour 
                    les mariages et les fêtes. Ils peuvent travailler comme traiteurs personnels pour certains clients ou être embauchés 
                    pour des événements spécifiques comme des événements d'entreprise et des réunions de famille.<br/>
                    Les personnes travaillant dans le secteur de la restauration effectuent généralement bon nombre des tâches suivantes:
                </p>
                <ul class="one_list">
                    <li> 
                        Assister aux plaintes des clients.
                    </li>
                    <li> 
                        Assurer la propreté des zones de la salle à manger et de la cuisine.
                     </li>
                    <li> 
                        Superviser l'achat de produits.
                    </li>
                    <li> 
                        Planification des menus alimentaires.
                    </li>
                    <li> 
                        Discuter des arrangements de restauration avec les clients.
                     </li>
                </ul>
                <p class="description"> 
                    Ce cours forme des agents qui pourraient créer leur propre entreprise après avoir atteint un 
                    bon niveau d'expérience dans l'industrie.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}