@{
    ViewData["Title"] = "Bim-Edu Infographiste/Monteur vidéo";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Infographiste/Monteur vidéo </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Le plan de cours d'infographie est conçu pour former les étudiants à acquérir des compétences expertes en 
                    conception graphique à l'aide d'applications standard de l'industrie. À partir d'Adobe Photoshop CS6, Corel Draw, 
                    Illustrator, Indesign, After Effect, etc., MS Powerpoint sont introduits par la suite, vous permettant d'intégrer 
                    les trois programmes pour produire des solutions de conception plus complexes. Ce cours forme des agents qui pourraient 
                    créer leur propre entreprise après avoir atteint un bon niveau d'expérience dans l'industrie ou choisir de travailler 
                    sous la supervision d'un expert.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}