@{
    ViewData["Title"] = "Bim-Edu Opérateurs d'explosifs miniers";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="Account" asp-action="Register" class="apply_button"> CANDIDATURE </a>
        </div>

        <h1 class="main_heading"> PROGRAMMES DE FORMATION PROFESSIONNELLE DE BIM-EDU  </h1>
        <h2 class="sub_main_heading"> Les programmes de formation professionnelle disponibles au Centre d'excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Opérateurs d'explosifs miniers </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Un travailleur des explosifs est un professionnel hautement qualifié qui travaille avec des substances 
                    volatiles telles que des produits chimiques industriels, des armes et des matériaux de démolition explosifs. 
                    Comme leur nom l'indique, ces personnes traitent fréquemment des substances très dangereuses et doivent avoir 
                    des pouvoirs de concentration exceptionnels pour se protéger et protéger ceux qui les entourent. L'industrie 
                    minière emploie des travailleurs des explosifs pour fixer des charges de dynamite et exposer de nouvelles veines 
                    minérales; l'application de la loi et les applications militaires d'un travailleur des explosifs peuvent comprendre 
                    le désamorçage de bombes et le calage de mines terrestres. D'autres travailleurs des explosifs travaillent dans 
                    la construction et la démolition, où ils doivent choisir les explosifs à utiliser et où les placer, de sorte qu'un 
                    bâtiment condamné s'effondre rapidement et en toute sécurité. Ce cours met l'accent sur la gestion des roches 
                    explosives et explosives dans le secteur minier.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}