@{
    ViewData["Title"] = "Bim-Edu GENIE CIVIL – MINES & CARRIERES ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> PROGRAMME LICENCE (L1, L2, L3) </h1>
        <h2 class="sub_main_heading"> GENIE CIVIL – MINES & CARRIERES </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITRE ET GRADE	</h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Intitule du diplôme </td>
                        <td> Domaine de formation (champs de compétences) </td>
                        <td> Mention (thème majeur de la formation)</td>
                        <td> Spécialité (spécificité de la mention)</td>
                    </tr>
                    <tr> 
                        <td> Licence </td>
                        <td> Matériaux et Gestion de Production <br/> Production </td>
                        <td> Mines & Carrières </td>
                        <td> Génie minier </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin second stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. OBJECTIFS PEDAGOGIQUES </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origine du programme </h3>
                <p class="description"> 
                    Dans un environnement minier de plus en plus grandissant que connaissent nos pays en développement, B2I s’est doté d’un programme de
                    formation s’inscrivant dans la droite ligne du Système LMD. Ce programme a pour but d’assure la formation des ingénieurs de haut niveau
                    destinés à servir dans tous les domaines, dans l’Industrie minière , les administrations et les établissements publics, les sociétés d’économie mixte
                    et le secteur privé.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Objectifs du programme </h3>
                <h3 class="smaller_heading"> II.2.1. Objectif général </h3>
                <p class="description"> 
                    Le programme de Licence en Génie civil mention mines & carrières est structuré autour de six semestres indissociables axés sur la gestion
                    durable des ressources et la préservation de l’environnement. L’objectif est de former des Ingénieurs aptes à intégrer les enjeux
                    environnementaux liés aux activités de l'industrie extractive, en leur apportant un socle de connaissances en géosciences pour l'ingénieur,
                    méthodes et techniques d'exploitation, valorisation des ressources minérales et préservation de l’environnement. Ce socle permet de construire les
                    connaissances scientifiques et les compétences techniques et opérationnelles dans les principaux segments d'activités de l'Industrie Extractive.       
                </p>

                <h3 class="smaller_heading"> II.2.2. Objectifs spécifiques </h3>
                <p class="description"> 
                    <strong> Commun à la mention </strong><br/>
                   L’apprenant, à l’issue de ce programme sera capable de : <br/>
                </p>
                <ul class="one_list">
                    <li> Travailler dans une société minière ;</li>
                    <li> Procéder à l’abattage et au dynamitage dans la mine ;</li>
                    <li> Poursuivre des études de spécialisation en master ;. </li>
                    <li> Maitrise les dangers dans un environnement minier ;</li>
                    <li> Organiser et suivre au plan opérationnel les activités et les projets au sein d’une équipe ; </li>
                    <li> Gérer l’organisation et le traitement des minerais. </li>
                </ul>

                <h3 class="small_heading"> II.3. Approche du programme </h3>
                <p class="description"> 
                    Le programme prépare au parcours d’ingénieurs des travaux et qui a pour but de préparer aux carrières de spécialistes des mines.
                </p>

            </div>

        </figure>

        <!-- end second stand out  -->

        <!-- begin third stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> III. CONDITIONS D’INSCRIPTION </h3>

            <p class="description"> 
               Les modalités d’accès à la formation sont les suivantes :
            </p>
            <ul class="one_list">

                <li> 
                    Admission en 1ère année sur examen de dossier et/ou concours ouverts à tous les titulaires du baccalauréat de l'enseignement
                    secondaire série C, D, H, F, BAC PRO, ou équivalents.
                </li>

                <li> 
                    Admission en 2 ème année, tous les étudiants de la filière Génie minier et ayant validé leur première année (L1) ; ou tout autre niveau sur
                    autorisation du directeur académique ;
                </li>

                <li> 
                    Admission directe en 3ème année des étudiants ayant un niveau d'étude de 2ème année en Génie minier et ayant fait une moyenne
                    générale supérieure ou égale à 12/20 ; ou tout autre niveau sur autorisation du directeur académique ;
                </li>

            </ul>

        </figure>

        <!-- end third stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. PRESENTATION DETAILLEE DES UNITES D’ENSEIGNEMENT </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Tableau d’organisation du parcours du Licence Génie civil – Mines & Carrières </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Licence <br/> Génie	<br/> minier	</td>
                        <td rowspan="2" > Nb de semestres </td>
                        <td colspan="7" class="long_bottom_border"> Unités d’enseignement du Master </td>
                        <td rowspan="2" > Crédit </td>
                        <td rowspan="2"> Volumes horaires</td>
                    </tr>
                    <tr> 
                        <td> UE obligatoires (fondamentales) </td>
                        <td> UE transversales </td>
                        <td> UE d’approfondissement </td>
                        <td> UE Option </td>
                        <td> UE complément </td>
                        <td> UE libres </td>
                        <td class="right_side_border"> UE de remise a niveau </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> L.1 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Concepts <br/> techniques de <br/> base
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Communication <br/>
                                    & Langues  <br/>
                                    étrangères
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Mathématiques <br/> appliquées
                                </li>
                                <li> 
                                    Droit & <br/> Economie
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> L.2 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> 
                                   Concepts <br/>
                                    techniques de <br/>
                                    base
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Droit & <br/>
                                    Economie
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li>
                                    Mathématiques<br/>
                                    appliquées
                                </li>
                                <li>
                                    Informatiques <br/>
                                    appliqués
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>


                    <tr class="border_top"> 
                        <td> <strong> L.3 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Exploitation <br/>
                                    minière
                                </li>
                                <li>
                                    Informatiques <br/>
                                    appliquées
                                </li>
                                <li> 
                                    Stage <br/>
                                    professionnel
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Culture <br/>
                                    d’entreprise et<br/>
                                    de projets
                                </li>
                                <li>
                                   Outils de base
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Composition type du parcours du Licence professionnel en Génie civil – Mines & Carrières </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semestres </td>
                        <td> Unités d’enseignement de la licence </td>
                        <td> Crédits </td>
                        <td> Volumes horaires </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> Semestre 1 </td>
                            <td class="strong_underline"> UE Fondamentale (UE1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               UE1.1 Concepts techniques de base	
                            </td>
                            <td> 15 </td>
                            <td> 300 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire (UE2) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                UE2.1 Droit & Economie
                            </td>
                            <td> 15 </td>
                            <td> 300 </td>
                        </tr>
                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> Semestre 2 </td>
                            <td class="strong_underline"> UE Fondamentale (UE4) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               UE3.1. Concepts techniques de base
                            </td>
                            <td> 12 </td>
                            <td> 240 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire (UE4) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                UE4.1 Mathématiques appliquées
                            </td>
                            <td> 10 </td>
                            <td> 200 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Transversale (UE5) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                UE5.1Communication & Langues <br/> étrangères
                            </td>
                            <td> 08 </td>
                            <td> 160 </td>
                        </tr>

                    </tbody>
                    <!-- end second semester row -->

                    <!-- begin third semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> Semestre 3 </td>
                            <td class="strong_underline"> UE Fondamentale (UE1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                              UE1.1. Concepts techniques de base
                            </td>
                            <td> 15 </td>
                            <td> 300 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire (UE2)  </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                UE2.1. Mathématiques appliquées
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>
                        <tr> 
                            <td> 
                                UE2.2 Informatiques appliqués
                            </td>
                            <td> 09 </td>
                            <td> 180 </td>
                        </tr>

                    </tbody>
                    <!-- end third semester row -->

                    <!-- begin fourth semester row -->

                    <tbody class="table_row_stand_out">
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td rowspan="11"> Semestre 4 </td>
                            <td class="strong_underline"> UE Fondamentale (UE3)	 </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                UE3.1. Concepts techniques de base
                            </td>
                            <td> 15 </td>
                            <td> 300 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire (UE4)  </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               UE4.1. Economie & Droit
                            </td>
                            <td> 09 </td>
                            <td> 180 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Transversale (UE5)  </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               UE5.1. Communication & Langues <br/> étrangères
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>
                        
                    </tbody>
                    <!-- end fourth semester row -->

                    <!-- begin fifth semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="7"> Semestre 5 </td>
                            <td class="strong_underline"> UE Fondamentale (UE1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                UE1.1. Exploitation minière
                            </td>
                            <td> 12 </td>
                            <td> 240 </td>
                        </tr>
                        <tr> 
                            <td> 
                               UE1.2 Informatiques appliqués
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire (UE2) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                UE2.1.Culture d’entreprise et de projets
                            </td>
                            <td> 08 </td>
                            <td> 160 </td>
                        </tr>
                        <tr> 
                            <td> 
                                UE2.2 Outils de base
                            </td>
                            <td> 04 </td>
                            <td> 180 </td>
                        </tr>

                    </tbody>
                    <!-- end fifth semester row -->

                    <!-- begin sixth semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> Semestre 6 </td>
                            <td class="strong_underline"> UE Fondamentale (UE3) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                UE3.1. Stage professionnel
                            </td>
                            <td> 30 </td>
                            <td> 600 </td>
                        </tr>

                    </tbody>
                    <!-- end sixth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>  180  </strong>  </td>
                            <td>  <strong>  3600  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. DEBOUCHES PROFESSIONNELS	</h3>
                <p class="description"> 
                    Les débouchés pour les diplômés de la Licence professionnelles en Génie civil – Mines & Carrières sont les suivants :	
                </p>
                <ul class="one_list">
                    <li> Ingénieur chef de projet ; </li>
                    <li> Planificateur minier ; </li>
                    <li>Chargé d’abattage et de dynamitage ; </li>
                    <li> Chargé de missions ; </li>
                    <li> Chargé d’affaires moyennes industrielles ; </li>
                    <li> Ingénieur qualité en production ;  </li>
                    <li> Ingénieur d’Exploitation ; </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin seventh stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VI. CONTROLE DES CONNAISSANCES </h3>
                <ul class="one_list">
                    <li> Un contrôle continu pour chaque cours magistral </li>
                    <li> Une session d’examen (oral ou écrit) à la fin de chaque semestre organisée en fonction des matières inscrites au semestre </li>
                    <li> Rédaction d’un rapport de stage soutenu devant un jury en fin de cycle. </li>
                </ul>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. PROCEDURE D’EVALUATION </h3>
                <p class="description"> 
                    Chaque unité d'enseignement fait l’objet d’une évaluation au sein de commissions d'évaluation tripartites associant les étudiants, les enseignants
                    et la direction académique. Les commissions d'évaluation sont placées sous la double responsabilité du directeur académique et du service en
                    charge de l’évaluation. Le processus d’évaluation requiert pour chaque unité d’enseignement une participation active des étudiants, directement
                    par réponse à un questionnaire et par la voie de représentants. La synthèse des informations recueillies par la commission d'évaluation contribue à
                    déterminer les adaptations à apporter à l’unité d’enseignement considéré et à faire évoluer l'offre d'enseignement.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. PROGRAMME DETAILLE POUR GENIE MCIVIL – MINES & CARRIERES </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Licence 1 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 1 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Unités d’enseignement </td>
                        <td class="emphasis"> Crédit </td>
                        <td class="emphasis" > Heures Présentielles </td>
                        <td class="emphasis"> Heures Personnelles Etudiant </td>
                        <td class="emphasis"> Volume Horaire Etudiant </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE1.1 Concepts techniques de base </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> GCMC-L1.1.1 </td>
                        <td> Géologie des Mines et Carrières </td>
                        <td> 05 </td>
                        <td> 60 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.2.1 </td>
                        <td> Exploitation pétrolière </td>
                        <td> 05 </td>
                        <td> 60 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.3.1 </td>
                        <td> Géologie des ressources minérales </td>
                        <td> 05 </td>
                        <td> 60 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> UE COMPLEMENTAIRE UE2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE2.1 Economie & Droit </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L1.4.1 </td>
                        <td> Droit foncier </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.4.1 </td>
                        <td> Droit civil </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.5.1 </td>
                        <td> Economie générale I </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.6.1 </td>
                        <td> Psychologie des organisations </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.4.1 </td>
                        <td> Economie & organisation des entreprises I </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 1 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 2 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE4) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE3.1 Concepts techniques de base </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L1.1.2 </td>
                        <td> Chimie organique </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.2.2 </td>
                        <td> Gestion des eaux et rejets </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.3.2 </td>
                        <td> Gestion des impacts environnementaux et réhabilitation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6">UE FONDAMENTALE (UE3)  </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE3.1 Concepts techniques de base </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L1.4.2 </td>
                        <td> Mathématiques générales </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.5.2 </td>
                        <td> Mathématiques financières </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.7.2 </td>
                        <td> Statistiques descriptives & Probabilités </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.7.2 </td>
                        <td> Informatiques (Excel & Access) </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 


                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> UE TRANSVERSALES (UE5) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE5.1 Communication & langues étrangères </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L1.7.2 </td>
                        <td> Anglais I </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L1.8.2 </td>
                        <td> Espagnole I </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis"> GCMC-L1.9.2 </td>
                        <td> Technique de communication écrite & orale I </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 2 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL LICENCE 1 </td>
                        <td>60</td>
                        <td>720</td>
                        <td>480</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->


    <!-- begin ninth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Licence 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 3 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Unités d’enseignement </td>
                        <td class="emphasis"> Crédit </td>
                        <td class="emphasis" > Heures Présentielles </td>
                        <td class="emphasis"> Heures Personnelles Etudiant </td>
                        <td class="emphasis"> Volume Horaire Etudiant </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE1.1 Concepts techniques de base</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> GCMC-L2.1.3 </td>
                        <td> Traitement & Valorisation des déchets </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.2.3 </td>
                        <td> Gestion environnementale des projets miniers </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.3.3 </td>
                        <td> Qualité de protection des eaux souterraines </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.4.3 </td>
                        <td> Géologie minière </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> UE COMPLEMENTAIRE UE2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE2.1 2Mathématiques appliquées </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L2.4.3 </td>
                        <td> Mathématiques générales </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.5.3 </td>
                        <td> Probabilités </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE2.2 Informatiques appliqués </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L2.6.3 </td>
                        <td> Informatique générale </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.7.3 </td>
                        <td> Logiciels (Autocad ;Surpac) </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 3 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 4 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6">UE APPROFONDISSEMENT (UE3)</td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE3.1 Concepts techniques de base </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L2.1.4 </td>
                        <td> Dessin & construction atelier </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.2.4 </td>
                        <td> Activités extérieures </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.3.4 </td>
                        <td> Chimie de l’environnemt/gestion des résidus et effluents </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> UE COMPLEMENTAIRE (UE4) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE4.1 Economie & Droit </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L2.3.4 </td>
                        <td> Droit du travail pour ingénieurs </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.5.4 </td>
                        <td> Droit international sur les gisements </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.6.4 </td>
                        <td> Economie & Gestion </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.7.4 </td>
                        <td> Economie minière : marché des matières premières </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> UE TRANSVERSALE (UE5) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE5.1 Communication & langues étrangères </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L2.5.4 </td>
                        <td> Anglais II </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.5.4 </td>
                        <td> Espagnole II </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L2.5.4 </td>
                        <td> Technique de communication écrite & orale II </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 4 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL LICENCE 2 </td>
                        <td>60</td>
                        <td>720</td>
                        <td>480</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end ninth stand out -->


    <!-- begin tenth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Licence 3 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 5 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Unités d’enseignement </td>
                        <td class="emphasis"> Crédit </td>
                        <td class="emphasis" > Heures Présentielles </td>
                        <td class="emphasis"> Heures Personnelles Etudiant </td>
                        <td class="emphasis"> Volume Horaire Etudiant </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE1.1 Exploitation minière </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> GCMC-L3.1.5 </td>
                        <td> Gestion environnementale et des projets miniers </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L3.2.5 </td>
                        <td> Traitement et valorisation des déchets </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L3.3.5 </td>
                        <td> Technique de conduite de groupe </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L3.4.5 </td>
                        <td> Santé et sécurité de travail en entreprise </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE1.2 Informatiques appliqués </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L3.5.5 </td>
                        <td> Logiciels SURPAC GEMCOM </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L3.6.5 </td>
                        <td> SIG & Gestion des données géologiques</td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> UE COMPLEMENTAIRE UE2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE2.1 Culture entreprise et projets </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L3.7.5 </td>
                        <td> Management de projets </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L3.8.5 </td>
                        <td> Le business plan : stratégies & méthodologie </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L3.9.5 </td>
                        <td> Le business plan : stratégies & méthodologie </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE2.1 Outil de base </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L3.10.5</td>
                        <td> Méthodologie de rédaction de mémoire </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCMC-L3.11.5 </td>
                        <td> Anglais </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  
                    
                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 5 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 6 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE3) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE3.1 Stage professionnel </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCMC-L3.1.6 </td>
                        <td> Stage professionnel à temps plein et Projet professionnel </td>
                        <td> 30 </td>
                        <td> 00 </td>
                        <td> 600 </td>
                        <td> 600 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 6 </td>
                        <td>30</td>
                        <td>00</td>
                        <td>600</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL LICENCE 3 </td>
                        <td>60</td>
                        <td>360</td>
                        <td>840</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end tenth stand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}