@{
    ViewData["Title"] = "Bim-Edu BANQUES & INSTITUTIONS DE MICROFINANCES ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> PROGRAMME DE MASTER (M1 - M2) </h1>
        <h2 class="sub_main_heading"> BANQUES & INSTITUTIONS DE MICROFINANCES </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITRE ET GRADE	</h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Intitule du diplôme </td>
                        <td> Domaine de formation (champs de compétences) </td>
                        <td> Mention (thème majeur de la formation)</td>
                        <td> Spécialité (spécificité de la mention)</td>
                    </tr>
                    <tr> 
                        <td> Master </td>
                        <td> Sciences de Gestion </td>
                        <td> Gestion </td>
                        <td> Banque et institution de micro finance </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin second stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. OBJECTIFS PEDAGOGIQUES </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origine du programme </h3>
                <p class="description"> 
                    Résolument tourné vers le monde professionnel (IMF, Banques, ONG et autres institutions financières spécialisées), ce programme est unique
                    dans son contenu et dans son articulation. Il permet d’acquérir toutes les compétences qu’il est nécessaire de maîtriser pour être opérationnel dans
                    le secteur de la microfinance, de la banque et de la finance.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Objectifs du programme </h3>
                <h3 class="smaller_heading"> II.2.1. Objectif général </h3>
                <p class="description"> 
                    Ce Master doit permettre de maîtriser les savoirs théoriques et les 
                    compétences méthodologiques et pratiques dans le domaine de la microfinance.
                </p>

                <h3 class="smaller_heading"> II.2.2. Objectifs spécifiques </h3>
                <p class="description"> 
                    <strong> Commun à la mention </strong><br/>
                    A l’issue de la formation, les étudiants : <br/>
                </p>
                <ul class="one_list">
                    <li> 
                        Connaissent les principes et les techniques propres aux disciplines étudiées (Gestion des Risques, Analyse de Crédit, Analyse financière,
                        Gestion de trésorerie, Gestion budgétaire Contrôle de gestion dans les IMF, Marketing Bancaire, Gestion clientèle...) ; 
                    </li>
                    <li> 
                        Sont des professionnels hautement qualifiés en matière, de gestion des risques, de gestion de trésorerie IMF, de contrôle de gestion dans les
                        IMF, capables d’allier les techniques de l’analyse et d’évaluation financière, d’audit financier, d’analyse et d’évaluation des risques liés à
                        l’activité des IMF.
                     </li>
                    <li> 
                        Construisent des raisonnements dans ces disciplines et formulent des solutions opérationnelles argumentées. 
                    </li>
                </ul>

                <h3 class="small_heading"> II.3. Approche du programme </h3>
                <p class="description"> 
                    Le programme se déroule en quatre semestres dont deux pour le M1 et deux autres semestres pour le M2.
                </p>

            </div>

        </figure>

        <!-- end second stand out  -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. PRESENTATION DETAILLEE DES UNITES D’ENSEIGNEMENT </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Tableau d’organisation du parcours du Master professionnel en Banque et Institution de Micro Finance en UE </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Master <br/> Banque et <br/> Institution de <br/> Micro <br/> Finance  </td>
                        <td rowspan="2" > Nb de semestres </td>
                        <td colspan="7" class="long_bottom_border"> Unités d’enseignement du Master </td>
                        <td rowspan="2" > Crédit </td>
                        <td rowspan="2"> Volumes horaires</td>
                    </tr>
                    <tr> 
                        <td> UE obligatoires (fondamentales) </td>
                        <td> UE transversales </td>
                        <td> UE d’approfondissement </td>
                        <td> UE Option </td>
                        <td> UE complément </td>
                        <td> UE libres </td>
                        <td class="right_side_border"> UE de remise a niveau </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.1 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> Management <br/>
                                    des systèmes <br/>
                                    d’information
                                </li>
                                <li> Droit de la <br/>
                                    concurrence <br/>
                                    et LFT
                                </li>
                                <li> 
                                    Finances
                                </li>
                                <li> 
                                    Economie et <br/>
                                    Economie et
                                </li>
                                <li> 
                                    Gestion de la <br/>
                                    trésorerie et <br/>
                                    Finance
                                </li>
                                <li> 
                                    Gestion <br/>
                                    juridique et <br/>
                                    titres
                                </li>
                                <li> 
                                    Techniques <br/>
                                    bancaires
                                </li>
                                <li> 
                                    Contrôle <br/>
                                    gestion
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Management et <br/>
                                    Anglais
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.2 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Gestion <br/>
                                    juridique, <br/>
                                    fiscale
                                </li>
                                <li>
                                    Pérennité de <br/>
                                    l’entreprise
                                </li>
                                <li>
                                    Gestion du <br/>
                                    portefeuille <br/>
                                    portefeuille <br/>
                                    monétique
                                </li>
                                <li>
                                    Comptabilité <br/>
                                    et contrôle de <br/>
                                    gestion
                                </li>
                                <li>
                                    Finance
                                </li>
                                <li>
                                    Diagnostic <br/>
                                    financier
                                </li>
                                <li>
                                    Gestion du <br/>
                                    patrimoine et du <br/>
                                    portefeuille <br/>
                                    de client
                                </li>
                                <li>
                                    Stratégie et <br/>
                                    contrôles <br/>
                                    bancaires
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Outils de <br/> base
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>
            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Composition type du parcours du Master professionnelle en Banque et Institution de Micro Finance </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semestres </td>
                        <td> Unités d’enseignement de la licence </td>
                        <td> Crédits </td>
                        <td> Volumes horaires </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> Semestre 7 </td>
                            <td class="strong_underline"> UE Fondamentale (UE7.1) </td>
                            <td>30</td>
                            <td>600</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                UE Fondamentale (UE7.1)
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE7.1.2 Gestion juridique, fiscale et sociale
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE7.1.3 Droit de la concurrence et LFT
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE7.1.4 Finance
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE7.1.5 Economie et Comptabilité
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> Semestre 8 </td>
                            <td class="strong_underline"> UE7.1.5 Economie et Comptabilité </td>
                            <td> 24 </td>
                            <td> 480 </td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               UE8.1.1 Gestion de la trésorerie et Finance
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE8.1.2 Gestion juridique et titres financiers
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE8.1.3 Techniques bancaires
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE8.1.4 Contrôle de gestion
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire (UE8.2) </td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               UE8.2.1 Management et Anglais
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                    </tbody>
                    <!-- end second semester row -->

                    <!-- begin third semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> Semestre 9 </td>
                            <td class="strong_underline"> UE Fondamentale (UE9.1) </td>
                            <td>24</td>
                            <td>540</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               UE9.1.1 Gestion juridique, fiscale
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE9.1.2 Pérennité de l’entreprise
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE9.1.3 Gestion du portefeuille titre et monétique
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE9.1.4 Comptabilité et contrôle de gestion
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire (UE9.2) </td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                UE9.2.3 Outils de base
                            </td>
                            <td>  </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end third semester row -->

                    <!-- begin fourth semester row -->

                    <tbody class="table_row_stand_out">
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td rowspan="11"> Semestre 10 </td>
                            <td class="strong_underline"> UE Fondamentale (UE10.1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                UE10.1.1 Finance
                            </td>
                            <td> 13 </td>
                            <td> 260 </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE10.1.2 Diagnostic financier
                            </td>
                            <td> 13 </td>
                            <td> 260 </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE10.1.3 Gestion du patrimoine et de portefeuille client
                            </td>
                            <td> 13 </td>
                            <td> 260 </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE10.1.4 Stratégie et contrôle bancaires
                            </td>
                            <td> 13 </td>
                            <td> 260 </td>
                        </tr>

                    </tbody>
                    <!-- end fourth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>    </strong>  </td>
                            <td>  <strong>  2400  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. DEBOUCHES PROFESSIONNELS	</h3>
                <p class="description"> 
                   Les débouchés professionnels sont les suivants :	
                </p>
                <ul class="one_list">
                    <li> Analyste financier, </li>
                    <li> Gestionnaires de banque, </li>
                    <li> Chargés de clientèle entreprise </li>
                    <li> Chargé d'affaires financements structurés </li>
                    <li> Analyste crédit </li>
                    <li> Capital investisseur. </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin sixth stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VII. CONTROLE DES CONNAISSANCES </h3>
                <ul class="one_list">
                    <li> Un contrôle continu pour chaque cours magistral </li>
                    <li> Une session d’examen (oral ou écrit) à la fin de chaque semestre organisée en fonction des matières inscrites au semestre </li>
                    <li> Rédaction d’un rapport de stage soutenu devant un jury en fin de cycle. </li>
                </ul>
        </figure>

        <!-- end sixth stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. PROCEDURE D’EVALUATION </h3>
                <p class="description"> 
                    Chaque unité d'enseignement fait l’objet d’une évaluation au sein de commissions d'évaluation tripartites associant les étudiants, les enseignants
                    et la direction académique. Les commissions d'évaluation sont placées sous la double responsabilité du directeur académique et du service en
                    charge de l’évaluation. Le processus d’évaluation requiert pour chaque unité d’enseignement une participation active des étudiants, directement
                    par réponse à un questionnaire et par la voie de représentants. La synthèse des informations recueillies par la commission d'évaluation contribue à
                    déterminer les adaptations à apporter à l’unité d’enseignement considéré et à faire évoluer l'offre d'enseignement.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. PROGRAMME DETAILLE POUR BANQUE ET INSTITUTION DE MICRO FINANCE </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Master 1 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 7 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Unités d’enseignement </td>
                        <td class="emphasis"> Crédit </td>
                        <td class="emphasis" > Heures Présentielles </td>
                        <td class="emphasis"> Heures Personnelles Etudiant </td>
                        <td class="emphasis"> Volume Horaire Etudiant </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE7.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.1 Management des systèmes d’information </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> BMF-M1.1.7 </td>
                        <td> Système d’information </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 32 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M1.2.7 </td>
                        <td> Analyse de données (TC) </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 23 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M1.3.7 </td>
                        <td> Archives et documentations </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.2 Gestion juridique, fiscale et sociale </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M1.4.7 </td>
                        <td> Droit des contrats (étude de contrats types d’entreprise) TC </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M1.6.7 </td>
                        <td> Les établissemts de crédits et lutte contre financemt du terro </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.4 Finance </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M1.6.7 </td>
                        <td> Analyse financière TC </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M1.7.7 </td>
                        <td> Finance d’entreprise niveau 1&2 </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M1.8.7 </td>
                        <td> Mathématiques financières et appliquées </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.4 Finance </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M1.9.7 </td>
                        <td> Economie monétaire (instruments polit monétaire UEMOA) </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M1.10.7 </td>
                        <td> Comptabilité générale appliquée (SYSCOA) cas complexe </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 7 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 8 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE8.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.1.1 Gestion de la trésorerie et Finance </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M1.1.8 </td>
                        <td> Bourse et marché financier, </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M1.2.8 </td>
                        <td> Gestion de la trésorerie </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.1.2 Gestion juridique et titres financiers </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M1.3.8 </td>
                        <td> Règlementation marché fin. sûreté et gest du risque client </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M1.4.8 </td>
                        <td> Titres financiers </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.1.3 Techniques bancaires </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M1.5.8 </td>
                        <td> Gestion prudentielle et Bâle III </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M1.6.8 </td>
                        <td> Opérations sur crédit, </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M1.7.8 </td>
                        <td> Modes de règlement des opérations à l’international </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.1.4 Contrôle de gestion </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M1.8.8</td>
                        <td> Le contrôle de gestion bancaire </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr> 

                    <!-- begin sub heading -->

                    <tr> 
                        <td class="emphasis" colspan="6"> UE COMPLEMENTAIRE (UE8.2) </td>
                    </tr> 
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.2.1 Méthodologie et Anglais </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M1.5.8</td>
                        <td> Anglais </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.6.8 </td>
                        <td> Méthodologie de recherche </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 8 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 1 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->


    <!-- begin ninth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> MASTER 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 9 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Unités d’enseignement </td>
                        <td class="emphasis"> Crédit </td>
                        <td class="emphasis" > Heures Présentielles </td>
                        <td class="emphasis"> Heures Personnelles Etudiant </td>
                        <td class="emphasis"> Volume Horaire Etudiant </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE9.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.1 Gestion juridique, fiscale </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> BMF-M2.1.9 </td>
                        <td> Droit fiscal </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.2.9 </td>
                        <td> Droit pénal des affaires </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 23 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.3.9 </td>
                        <td> Droit fiscal international et des groupes </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.2 Pérennité de l’entreprise </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M2.4.9 </td>
                        <td> Management des risques dans les projets et programmes </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.3 Gestion du portefeuille titre et monétique </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M2.5.9 </td>
                        <td> Gestion du portefeuille titres </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.6.9 </td>
                        <td> Monétique (moyen de transaction financière) </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr>  

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.4 Comptabilité et contrôle de gestion </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M2.7.9 </td>
                        <td> Contrôle de gestion bancaire </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.8.9 </td>
                        <td> Comptabilité bancaire (les opérations à terme) </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> UE9.2.1 Outils de base </td>
                    </tr> 
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.2.1 Outils de base </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M2.9.9 </td>
                        <td> Anglais </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.10.9 </td>
                        <td> Méthodologie de recherche </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>  

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 9 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 10 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> UE APPROFONDISSEMENT (EU10.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.1.1 Finance </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M2.1.10 </td>
                        <td> Ingénierie financière </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.1.10 </td>
                        <td> Politique de financement </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.1.2 Diagnostic financier </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M2.3.10 </td>
                        <td> Diagnostic financier et évaluation des entreprises </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.4.10 </td>
                        <td> Diagnostic financière de la banque </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.1.3 Gestion du patrimoine et de portefeuille client </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> BMF-M2.5.10 </td>
                        <td> Gestion du patrimoine </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.6.10 </td>
                        <td> Gestion du portefeuille client  </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.1.4 Stratégie et contrôle bancaires </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> BMF-M2.7.10 </td>
                        <td> Evaluation et prévention du risque de contrepartie </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.8.10 </td>
                        <td> Les stratégies bancaires </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> BMF-M2.9.10 </td>
                        <td> Le contrôle des opérations bancaires </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> UE TRANSVERSALES (UE10.2) </td>
                    </tr> 
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.2.1 Projet professionnel</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> BMF-M2.10.10 </td>
                        <td> Projet professionnel/Stag </td>
                        <td> 08 </td>
                        <td> 00 </td>
                        <td> 160 </td>
                        <td> 160 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 10 </td>
                        <td>30</td>
                        <td>264</td>
                        <td>336</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 2 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end ninth stand out -->


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}