@{
    ViewData["Title"] = "Bim-Edu GENIE CIVIL-GESTION DURABLE DES MINES ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> PROGRAMME DE MASTER (M1 - M2) </h1>
        <h2 class="sub_main_heading"> GENIE CIVIL-GESTION DURABLE DES MINES </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITRE ET GRADE	</h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Intitule du diplôme </td>
                        <td> Domaine de formation (champs de compétences) </td>
                        <td> Mention (thème majeur de la formation)</td>
                        <td> Spécialité (spécificité de la mention)</td>
                    </tr>
                    <tr> 
                        <td> Master </td>
                        <td> Sciences de Gestion </td>
                        <td> Gestion </td>
                        <td> Gestion durable des mines </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin second stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. OBJECTIFS PEDAGOGIQUES </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origine du programme </h3>
                <p class="description"> 
                    Le secteur des mines et carrières joue un rôle fondamental dans le développement économique de notre pays et de l’Afrique en général. Environ
                    deux-tiers des pays du continent concentrent des activités minières et plus de la moitié produisent des minerais pour le marché international. A lui
                    seul, il peut représenter jusqu’à 25% du PIB d’un Etat. En raison de la demande croissante en métaux des pays émergents (doublement de la
                    population urbaine en 30 ans, développement des infrastructures à un rythme soutenu), les perspectives à venir du secteur sont prometteuses.
                    Dans l’optique d’une croissance durable de leurs activités, les entreprises minières sont de plus en plus à la recherche de solutions et d’une main
                    d’œuvre spécialisé, dans la gestion des impacts sociaux et environnementaux liés à leurs activités : pollution, déplacement de population etc.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Objectifs du programme </h3>
                <h3 class="smaller_heading"> II.2.1. Objectif général </h3>
                <p class="description"> 
                    L’objectif du Master 2 en Génie civil option Gestion Durable des Mines vise à former des professionnels capables d’identifier, d’évaluer et de
                    minimiser les impacts environnementaux des carrières et des mines.
                </p>

                <h3 class="smaller_heading"> II.2.2. Objectifs spécifiques </h3>
                <p class="description"> 
                    <strong> Commun à la mention </strong><br/>
                    L’apprenant, à l’issue de ce programme sera capable de :
                </p>
                <ul class="one_list">
                    <li> 
                        Savoir évaluer les risques liés à l’exploitation minière d’un site donné.
                    </li>
                    <li> 
                        Savoir traiter et/ou minimiser les risques lorsqu’ils interviennent (déchets miniers, eaux d’exhaure, rejets atmosphériques, etc.).
                    </li>
                    <li> 
                        Maîtriser la législation et le cadre de l’économie minérale.
                    </li>
                    <li> 
                        Utiliser des outils d’évaluation environnementale et effectuer l’audit environnemental d’une carrière ou d’un site minier.
                    </li>
                    <li> 
                        Mettre en place des politiques d’Hygiène, Sécurité, Environnement (HSE).
                    </li>
                </ul>

                <h3 class="small_heading"> II.3. Approche du programme </h3>
                <p class="description"> 
                    L’organisation pédagogique de la formation comprend six domaines de compétences constitués en tout de neuf Unités d’Enseignement (UE) à
                    finalité professionnelle, comprenant elles-mêmes des disciplines d’enseignement. Le contenu de formation comprend les cours fondamentaux et
                    les cours de spécialisation axé sur :
                </p>
                <ul class="one_list">
                    <li> 
                        Les activités minières : connaissances fondamentales
                    </li>
                    <li> 
                        Génie des procédés miniers
                    </li>
                    <li> 
                        Qualité hygiène et sécurité
                    </li>
                    <li> 
                        Pollution environnementale
                    </li>
                    <li> 
                        Management de l’environnement
                    </li>
                    <li> 
                        Protection et réhabilitation des sites miniers
                    </li>
                    <li> 
                        Traitements des eaux et des sols
                    </li>
                    <li> 
                        La gestion des risques
                    </li>
                    <li> 
                        La méthodologie de recherche
                    </li>
                    <li> 
                        La rédaction de travaux de fin d’études
                    </li>
                </ul>

            </div>

        </figure>

        <!-- end second stand out  -->

        <!-- begin third stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> III. CONDITIONS D’INSCRIPTION </h3>

            <p class="description"> 
                Le Master 2 Gestion durable des Mines est ouvert aux :
            </p>
                <ul class="one_list">
                    <li> 
                        Titulaires d’un Master 1 (Bac +4) dans les domaines du génie civil, de l’eau, de l’environnement, de l’énergie, des géosciences, de la
                        chimie.
                    </li>
                    <li> 
                        Titulaires d’un diplôme Bac + 3 avec une expérience professionnelle de 3 ans minimum dans les mêmes domaines de l’exploitation
                        minière et des géosciences.
                    </li>
                </ul>

            <p class="description"> 
                Les étudiants sont sélectionnés sur étude du dossier de candidature, en fonction du niveau de leur formation initiale et de la pertinence de leur
                projet professionnel.
            </p>

        </figure>

        <!-- end third stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. PRESENTATION DETAILLEE DES UNITES D’ENSEIGNEMENT </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Tableau d’organisation du parcours du Master professionnel en Génie civil - Gestion durable des mines en UE </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Master <br/> Gestion des- <br/> Ressources <br/> Humaines  </td>
                        <td rowspan="2" > Nb de semestres </td>
                        <td colspan="7" class="long_bottom_border"> Unités d’enseignement du Master </td>
                        <td rowspan="2" > Crédit </td>
                        <td rowspan="2"> Volumes horaires</td>
                    </tr>
                    <tr> 
                        <td> UE obligatoires (fondamentales) </td>
                        <td> UE transversales </td>
                        <td> UE d’approfondissement </td>
                        <td> UE Option </td>
                        <td> UE complément </td>
                        <td> UE libres </td>
                        <td class="right_side_border"> UE de remise a niveau </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.2 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> Génie des <br/>
                                    procédés <br/>
                                    miniers
                                </li>
                                <li> 
                                    Qualité <br/>
                                    hygiène et <br/>
                                    sécurité
                                </li>
                                <li> 
                                    Pollution <br/>
                                    environnemen <br/>
                                    tale
                                </li>
                                <li> 
                                    Protection et <br/>
                                    réhabilitation <br/>
                                    des sites <br/>
                                    miniers
                                </li>
                                <li> 
                                    Traitement <br/>
                                    des eaux et <br/>
                                    des sols
                                </li>
                                <li> 
                                    Gestion des <br/>
                                    risques
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li> 
                                   Projets et <br/>
                                   stage
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Les activités <br/>
                                    minières: <br/>
                                    connaissances <br/>
                                    fondamentales <br/>
                                    Finance
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Composition type du parcours du Master professionnel en Génie civil - Gestion durable des mines </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semestres </td>
                        <td> Unités d’enseignement de la licence </td>
                        <td> Crédits </td>
                        <td> Volumes horaires </td>
                    </tr>

                    <!-- begin ninth semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> Semestre 9 </td>
                            <td class="strong_underline"> UE Fondamentale (UE9.1) </td>
                            <td>30</td>
                            <td>600</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                UE9.1.1 Génie des procédés miniers
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE9.1.2 Les activités minières : connaissances fondamentales
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE9.1.3 Qualité hygiène et sécurité
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE9.1.4 Pollution environnementale
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE9.1.4 Management de l’environnement
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end ninth semester row -->

                    <!-- begin tenth semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> Semestre 10 </td>
                            <td class="strong_underline"> UE Fondamentale (UE10.1) </td>
                            <td> 16 </td>
                            <td> 320 </td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               UE10.1.1 Protection et réhabilitation des sites miniers
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE10.1.2 Traitement des eaux et des sols
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE10.1.3 Gestion des risques
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaires (UE10.2) </td>
                            <td>14</td>
                            <td>280</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               UE10.2.1 Projets et stage
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                    </tbody>
                    <!-- end tenth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>   </strong>  </td>
                            <td>  <strong>  2400  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. DEBOUCHES PROFESSIONNELS	</h3>
                <p class="description"> 
                   Les débouchés professionnels sont les suivants :	
                </p>
                <ul class="one_list">
                    <li> Ingénieur en exploitation des mines ou des carrières </li>
                    <li> Chercheur en exploitation des mines ou des carrières </li>
                    <li> Consultant en projet minier, etc. </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin sixth stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VII. CONTROLE DES CONNAISSANCES </h3>
                <ul class="one_list">
                    <li> Un contrôle continu pour chaque cours magistral </li>
                    <li> Une session d’examen (oral ou écrit) à la fin de chaque semestre organisée en fonction des matières inscrites au semestre </li>
                    <li> Rédaction d’un mémoire de fin de cycle </li>
                </ul>
        </figure>

        <!-- end sixth stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. PROCEDURE D’EVALUATION </h3>
                <p class="description"> 
                    Chaque unité d'enseignement fait l’objet d’une évaluation au sein de commissions d'évaluation tripartites associant les étudiants, les enseignants
                    et la direction académique. Les commissions d'évaluation sont placées sous la double responsabilité du directeur académique et du service en
                    charge de l’évaluation. Le processus d’évaluation requiert pour chaque unité d’enseignement une participation active des étudiants, directement
                    par réponse à un questionnaire et par la voie de représentants. La synthèse des informations recueillies par la commission d'évaluation contribue à
                    déterminer les adaptations à apporter à l’unité d’enseignement considéré et à faire évoluer l'offre d'enseignement.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. PROGRAMME DETAILLE POUR GESTION DES RESSOURCES HUMAINES </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Master 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 9 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Unités d’enseignement </td>
                        <td class="emphasis"> Crédit </td>
                        <td class="emphasis" > Heures Présentielles </td>
                        <td class="emphasis"> Heures Personnelles Etudiant </td>
                        <td class="emphasis"> Volume Horaire Etudiant </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE9.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.1 Les activités minières : connaissances fondamentales </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> GCGM-M1.1.9 </td>
                        <td> Cycle de vie d’une mine </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M1.2.9 </td>
                        <td> Gestion opérationnelle du recrutement et étude de cas </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M1.3.9 </td>
                        <td> Mines à ciel ouvert et mines souterraines </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.2 Génie des procédés miniers</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCGM-M1.3.9 </td>
                        <td> Fractionnement des roches </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M1.4.9 </td>
                        <td> Traitement des minerais </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M1.3.9 </td>
                        <td> Principes de l’extraction des métaux </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.3 Qualité hygiène et sécurité </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCGM-M1.7.9 </td>
                        <td> Inspection et hygiène sécurité dans les mines </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M1.8.9 </td>
                        <td> Système de Management de la qualité (SMQ) </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M1.9.9 </td>
                        <td> Responsabilité Sociale et Environnementale (RSE) </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.4 Pollution environnementale </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCGM-M1.10.9 </td>
                        <td> Pollution chimique </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M1.11.9 </td>
                        <td> Pollution industrielle </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M1.12.9 </td>
                        <td> Pollution atmosphérique </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.5 Management de l’environnement</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCGM-M1.13.9 </td>
                        <td> Audit et système de management de l’Environmt </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M1.14.9 </td>
                        <td> Etude d’impact Environnemental </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M1.15.9 </td>
                        <td> Analyse du cycle de vie (ACV) </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 9 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 10 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (EU10.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.1.1 Protection et réhab. des sites miniers </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCGM-M2.1.10 </td>
                        <td> Gestion déchets miniers et carrières </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M2.2.10 </td>
                        <td> Aspects environnementx de l’exploitation d’une mine </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M2.3.10 </td>
                        <td> Réhabilitation durable des sites miniers </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.1.2 Traitement des eaux et des sols </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCGM-M2.4.10 </td>
                        <td> Pollution et dépollution des sols </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M2.5.10</td>
                        <td> Dépollution des eaux industrielles </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.1.3 Gestion des risques </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCGM-M2.6.10 </td>
                        <td> Etude des dangers </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M2.7.10 </td>
                        <td> Gestion des risques technologiques </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCGM-M2.8.10 </td>
                        <td> Dépollution des eaux industrielles </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> UE COMPLEMENTAIRE (UE10.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.2.1 Projets et stage </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCGM-M2.9.10 </td>
                        <td> Méthodologie de recherche </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> GCGM-M2.10.10 </td>
                        <td> Projet de fin d’étude </td>
                        <td> 12 </td>
                        <td> 00 </td>
                        <td> 240 </td>
                        <td> 240 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 10 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 2 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}