@{
    ViewData["Title"] = "Bim-Edu BANQUES & INSTITUTIONS DE MICROFINANCES ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> PROGRAMME DE MASTER (M1 - M2) </h1>
        <h2 class="sub_main_heading"> GENIE CIVIL/INGENIEUR DE CONCEPTION BTP </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITRE ET GRADE	</h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Intitule du diplôme </td>
                        <td> Domaine de formation (champs de compétences) </td>
                        <td> Mention (thème majeur de la formation)</td>
                        <td> Spécialité (spécificité de la mention)</td>
                    </tr>
                    <tr> 
                        <td> Master </td>
                        <td> Génie civil </td>
                        <td> Ingénieur de conception </td>
                        <td> Génie Civil/Ingénieur de Conception BTP </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. OBJECTIFS PEDAGOGIQUES </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origine du programme </h3>
                <p class="description"> 
                    Le génie civil représente l'ensemble des techniques de constructions civiles. Les ingénieurs 
                    civils ou ingénieurs en génie civil s’occupent de la conception, la réalisation, l’exploitation 
                    et la réhabilitation d’ouvrages de construction et d’infrastructures dont ils assurent la gestion afin de 
                    répondre aux besoins de la société, tout en assurant la sécurité du public et la protection de l’environnement. 
                    Très variées, leurs réalisations se répartissent principalement 
                    dans cinq grands domaines d’intervention : structures, géotechnique, hydraulique, transport, et environnement.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Objectifs du programme </h3>
                <h3 class="smaller_heading"> II.2.1. Objectif général </h3>
                <p class="description"> 
                    La spécialité Génie Civil BTP vise à donner aux étudiants une culture scientifique et 
                    technique pour maîtriser les technologies et leurs évolutions, notamment dans les ouvrages 
                    construits. Ces connaissances articulent ingénierie et sciences humaines et économiques. 
                    Les enseignements ciblent la connaissance des matériaux, des fluides et des structures dans une 
                    visée de production, de maintenance ou de gestion. Ils développent également les outils de planification 
                    et de gestion de projet. Les spécialités de cette mention partagent des objectifs de formation des étudiants à 
                    la fois dans le domaine de la recherche et vers des applications professionnelles. 
                </p>

                <h3 class="smaller_heading"> II.2.2. Objectifs spécifiques </h3>
                <p class="description"> 
                    <strong> Commun à la mention </strong><br/>
                    L’enseignement s’appuie sur un socle solide de connaissances et de pratiques scientifiques et techniques qui 
                    permettent de maîtriser les méthodes de dimensionnement des structures et des équipements des bâtiments en 
                    respectant les réglementations en vigueur, de rédiger les documents correspondants et réaliser les plans 
                    d'exécution. La formation inclut un projet de fin d’études et un stage en entreprise afin de mieux préparer 
                    à l’insertion professionnelle. 
                    Elle développe l’esprit de veille technologique et les facultés d’adaptation. Elle s’ouvre également aux 
                    échanges internationaux.
                </p>

                <h3 class="small_heading"> II.3. Approche du programme </h3>
                <p class="description"> 
                    Le parcours Ingénierie de conception du Bâtiment et des Travaux publics (GCBT) est l’un des trois parcours du Master Genie Civil BTP de B2IM et prépare les étudiants aux métiers d’ingénierie du secteur Bâtiment et Travaux Publics. Il procure toutes les compétences nécessaires pour la conception et la réalisation des ouvrages de génie civil tout en initiant les étudiants aux domaines de la recherche et de l’innovation. Le cursus couvre sur deux ans tous les principaux aspects du génie civil. Il s’appuie sur un solide socle d’enseignements scientifiques et techniques visant à la polyvalence et à l’autonomie scientifique et technique ainsi qu’à l’ouverture d’esprit.
                    Il prépare à la vie professionnelle par des séminaires professionnels, des visites de chantiers, des projets, des rencontres avec les entreprises ainsi que par des stages en entreprise. Il procure aussi une excellente initiation à la recherche enrichie, pour ceux qui le souhaitent, par un stage recherche préparant ainsi à la poursuite d’études en doctorat.
                   <br/> Le M1 de la mention Génie Civil BTP est commun aux trois parcours de la deuxième année (M2) :
                </p>
                <ul class="one_list">
                    <li> 
                        Conception Construction Ingénierie du Bâtiment,
                    </li>
                    <li> 
                        Conception Construction Ingénierie des Travaux Publics,
                     </li>
                    <li> 
                        Matériaux Ouvrages Recherche et Innovation.
                    </li>
                </ul>

            </div>

        </figure>

        <!-- end stand out  -->

        <!-- begin stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> III. CONDITIONS D’INSCRIPTION</h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> Pré-requis obligatoires </h3>
                <p class="description"> 
                    Être titulaire de 180 crédits ECTS acquis à travers une formation dans un domaine approprié.
                </p>
                <h3 class="small_heading"> Pré-requis recommandés </h3>
                <p class="description"> 
                    Les mentions de Licences recommandées pour candidater dans ce Master sont : 
                    Licence Sciences pour l’ingénieur et Licence Génie Civil.
                </p>
            </div>

        </figure>

        <!-- end stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. PRESENTATION DETAILLEE DES UNITES D’ENSEIGNEMENT </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Tableau d’organisation du parcours du Master en Génie Civil BTP - Ingénieur de Conception </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Master <br/> Génie <br/>Civil BTP-Ingénieur <br/>de Conception  </td>
                        <td rowspan="2" > Nb de semestres </td>
                        <td colspan="7" class="long_bottom_border"> Unités d’enseignement du Master </td>
                        <td rowspan="2" > Crédit </td>
                        <td rowspan="2"> Volumes horaires</td>
                    </tr>
                    <tr> 
                        <td> UE obligatoires (fondamentales) </td>
                        <td> UE transversales </td>
                        <td> UE d’approfondissement </td>
                        <td> UE Option </td>
                        <td> UE complément </td>
                        <td> UE libres </td>
                        <td class="right_side_border"> UE de remise a niveau </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.1 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 

                                <li> 
                                    Béton armé
                                </li>

                                <li> 
                                    Mécaniques
                                </li>

                                <li> 
                                    Transferts <br/>Thermiques/Résistance <br/>des matériaux avancée
                                </li>

                                <li> 
                                    Milieu naturel <br/>et risques/Analyse <br/>des structures 1
                                </li>
                                <li> 
                                    Charpentes <br/>métalliques/Structures <br/>sismiques
                                </li>
                                <li> 
                                   Géotechnique/Analyse<br/> des structures 2
                                </li>
                                <li> 
                                    Stabilité/Fatigue <br/>set rupture des matériaux
                                </li>
                                <li> 
                                    Stage/Dessin <br/>technique appliqué au BTP
                                </li>

                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Langages & <br/>Communication/Outils
                                </li>
                                <li> 
                                    Projet/Ressources humaines
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.2 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Béton précontraint/Ouvrages <br/> d'art
                                </li>
                                <li>
                                    Structures mixtes/Constructions <br/> bois/Renforcement/Réparation
                                </li>
                                <li>
                                    Optimisation de <br/>la conception des <br/>structures/Calcul des <br/>structures/Génie urbain et réseau
                                </li>
                                <li>
                                    Droit de l'urbanisme <br/>et de l'aménagement/Marchés <br/>publics et <br/>promotion/Évaluation des <br/>opérations d'aménagement
                                </li>
                                <li>
                                    Stage/Mémoire
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Langues/Séminaires/Projet <br/> en R&D
                                </li>
                                <li> 
                                    Outils
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>
            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Composition type du parcours du Master professionnelle en Génie Civil BTP - Ingénieur de Conception </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semestres </td>
                        <td> Unités d’enseignement de la licence </td>
                        <td> Crédits </td>
                        <td> Volumes horaires </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> Semestre 1 </td>
                            <td class="strong_underline"> UE Fondamentale (UE1.1) </td>
                            <td>24</td>
                            <td>480</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                UE7.1.1 Béton armé
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE7.1.2 Mécaniques
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE7.1.3 Transferts Thermiques/Résistance des matériaux avancée
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE7.1.4 Milieu naturel et risques/Analyse des structures 1
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <!-- begin heading section  -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire (UE7.2) </td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                UE7.2.1 Langages & Communication/Outils
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> Semestre 8 </td>
                            <td class="strong_underline"> UE Fondamentales (UE8.1) </td>
                            <td> 24 </td>
                            <td> 480 </td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               UE8.1.1 Charpentes métalliques/Structures sismiques
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE8.1.2 Géotechnique/Analyse des structures 2
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE8.1.3 Stabilité/Fatigue et rupture des matériaux
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE8.1.4 Stage/Dessin technique appliqué au BTP
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire (UE8.2) </td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               UE8.2.1 Projet/Ressources humaines
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                    </tbody>
                    <!-- end second semester row -->

                    <!-- begin third semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> Semestre 9 </td>
                            <td class="strong_underline"> UE Fondamentale (UE9.1) </td>
                            <td>24</td>
                            <td>480</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                              UE9.1.1 Béton précontraint/Ouvrages d'art
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE9.1.2 Structures mixtes/Constructions bois/Renforcement/Réparation
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE9.1.3 Optimisation de la conception des structures/Calcul des structures/Génie urbain et réseau
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE9.1.4 Droit de l'urbanisme et de l'aménagement/Marchés publics et promotion/Évaluation des opérations d'aménagement
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire (UE9.2) </td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                UE9.2.1 Langues/Séminaires/Projet en R&D
                            </td>
                            <td>  </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end third semester row -->

                    <!-- begin fourth semester row -->

                    <tbody class="table_row_stand_out">
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td rowspan="11"> Semestre 10 </td>
                            <td class="strong_underline"> UE Fondamentale (UE10.1) </td>
                            <td>30</td>
                            <td>600</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                UE10.1.1 Stage/Travaux de fin d’étude
                            </td>
                            <td> </td>
                            <td></td>
                        </tr>

                    </tbody>
                    <!-- end fourth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>    </strong>  </td>
                            <td>  <strong>  2400  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. DEBOUCHES PROFESSIONNELS	</h3>
                <p class="description"> 
                   Les débouchés professionnels sont les suivants :
                </p>
                <ul class="one_list">
                    <li> Ingénierie et études du BTP </li>
                    <li> Direction de chantier du BTP </li>
                    <li> Préparation du gros œuvre et des travaux publics </li>
                    <li> Direction et ingénierie en entretien infrastructure et bâti </li>
                    <li> Distribution et assainissement d'eau </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin sixth stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VI. CONTROLE DES CONNAISSANCES </h3>
                <ul class="one_list">
                    <li> 
                        Un contrôle continu pour chaque cours magistral
                    </li>
                    <li> 
                        Une session d’examen (oral ou écrit) à la fin de chaque semestre organisé en fonction des matières inscrites au semestre
                    </li>
                    <li> 
                        Rédaction d’un mémoire de fin de cycle
                    </li>
                </ul>
        </figure>

        <!-- end sixth stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. PROCEDURE D’EVALUATION </h3>
                <p class="description"> 
                    Chaque unité d'enseignement fait l’objet d’une évaluation au sein de commissions 
                    d'évaluation tripartites associant les étudiants, les enseignants et la direction académique. 
                    Les commissions d'évaluation sont placées sous la double responsabilité du directeur académique et 
                    du service en charge de l’évaluation. Le processus d’évaluation requiert pour chaque unité d’enseignement 
                    une participation active des étudiants, directement par réponse à un questionnaire et par la voie de représentants. 
                    La synthèse des informations recueillies par la commission d'évaluation contribue à déterminer 
                    les adaptations à apporter à l’unité d’enseignement considéré et à faire évoluer l'offre d'enseignement.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. PROGRAMME DETAILLE POUR GENIE CIVIL BTP - INGENIEUR DE CONCEPTION </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Master 1 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 7 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Unités d’enseignement </td>
                        <td class="emphasis"> Crédit </td>
                        <td class="emphasis" > Heures Présentielles </td>
                        <td class="emphasis"> Heures Personnelles Etudiant </td>
                        <td class="emphasis"> Volume Horaire Etudiant </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE7.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.1 Béton armé </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> GCBT-M1.1.7 </td>
                        <td> Béton armé </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.2 Métalliques </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> GCBT-M1.2.7 </td>
                        <td> Mécanique des Fluides </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M1.3.7 </td>
                        <td> Mécanique du Solide </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.3 Transfert thermiques/Résistance des matériaux </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M1.4.7 </td>
                        <td> Transferts Thermiques </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M1.5.7 </td>
                        <td> Economie de la connaisssance mondialisée </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.4 Milieu naturel/Analyse des structures 1 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M1.6.7 </td>
                        <td>  Milieu naturel et risques </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M1.7.7 </td>
                        <td> Analyse des structures 1 </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> UE COMPLEMENTARES (UE7.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.2.1 Langues/Communication/Outils </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M1.8.7 </td>
                        <td> Anglais </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M1.9.7 </td>
                        <td> Gestion de projet </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M1.10.7 </td>
                        <td> Communication </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr>  

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 7 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 8 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE8.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.1.1 Charpentes métalliques/Structures sismiques </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M1.1.8 </td>
                        <td>Charpentes métalliques </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M1.2.8 </td>
                        <td> Structures sismiques </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.1.2 Géotechnique/Analyse des structures 2 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M1.3.8 </td>
                        <td> Géotechnique </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> GCBT-M1.4.8 </td>
                        <td> Analyse des structures 2 </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.1.3 Stabilité/Fatigue et rupture des matériaux </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> GCBT-M1.5.8 </td>
                        <td> Stabilité </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>

                    <tr> 
                        <td class="emphasis"> GCBT-M1.6.8 </td>
                        <td> Fatigue et rupture des matériaux  </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.1.3 Stage/Dessin technique appliqué en BTP </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M1.7.8</td>
                        <td> Stage </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M1.8.8</td>
                        <td> Dessin technique appliqué en BTP </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->

                    <tr> 
                        <td class="emphasis" colspan="6"> UE COMPLEMENTAIRES (UE8.2) </td>
                    </tr> 
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.2.1 Projet/Ressources humaines </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M1.9.8</td>
                        <td>  Anglais </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M1.10.8</td>
                        <td> Projet </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M1.11.8</td>
                        <td> Ressources humaines   </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 8 </td>
                        <td>30</td>
                        <td>360</td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 1 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->


    <!-- begin ninth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> MASTER 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 9 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Unités d’enseignement </td>
                        <td class="emphasis"> Crédit </td>
                        <td class="emphasis" > Heures Présentielles </td>
                        <td class="emphasis"> Heures Personnelles Etudiant </td>
                        <td class="emphasis"> Volume Horaire Etudiant </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE9.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.1 Béton précontraint/Ouvrage d’art </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> GCBT-M2.1.9 </td>
                        <td> Béton précontraint  </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M2.2.9 </td>
                        <td> Ouvrages d'art </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.2 Structures mixtes/Constructions bois/Renforcement </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M2.2.9 </td>
                        <td> Structures mixtes </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M2.4.9 </td>
                        <td> Constructions bois </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M2.5.9 </td>
                        <td> Renforcement / Réparation </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.3 Optimisation/Calcul des structures/Génie urbain et réseau </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M2.6.9 </td>
                        <td> Optimisation de la conception des structures </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M2.7.9 </td>
                        <td> Calcul des structures </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M2.8.9 </td>
                        <td> Génie urbain et réseau </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.4 Droit/Marches publics/Evaluation des opérations </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M2.9.9 </td>
                        <td> Droit de l'urbanisme et de l'aménagement </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M2.10.9 </td>
                        <td> Marchés publics et promotion </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> GCBT-M2.11.9 </td>
                        <td> Évaluation des opérations d'aménagement </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> UE COMPLEMENTAIRES (UE9.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.2.1 Langues/Séminaires/Projet en R&D </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M2.12.9 </td>
                        <td> Anglais </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> GCBT-M2.13.9 </td>
                        <td> Projet en R&D </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> GCBT-M2.14.3 </td>
                        <td> Séminaires </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 9 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 10 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> UE D’APPROFONDISSEMENT (EU10.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.1.1 Stage/Travaux de fin d’étude </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GCBT-M2.1.10 </td>
                        <td> Stage </td>
                        <td> 12 </td>
                        <td> 00 </td>
                        <td> 240 </td>
                        <td> 240 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GCBT-M2.2.10 </td>
                        <td> Mémoire </td>
                        <td> 18 </td>
                        <td> 00 </td>
                        <td> 360 </td>
                        <td> 360 </td>
                    </tr> 
                    
                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 10 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 2 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end ninth stand out -->


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}