@{
    ViewData["Title"] = "Bim-Edu INTERPRETATION DE CONFERENCES ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> PROGRAMME DE MASTER (M1 - M2) </h1>
        <h2 class="sub_main_heading"> INTERPRETATION DE CONFERENCES </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITRE ET GRADE	</h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Intitule du diplôme </td>
                        <td> Domaine de formation (champs de compétences) </td>
                        <td> Mention (thème majeur de la formation)</td>
                        <td> Spécialité (spécificité de la mention)</td>
                    </tr>
                    <tr> 
                        <td> Master </td>
                        <td> Etudes internationales </td>
                        <td> Interprétation </td>
                        <td> Interprétation de conférence </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin second stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. OBJECTIFS PEDAGOGIQUES </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origine du programme </h3>
                <p class="description"> 
                    Les rencontres internationales sont toujours des occasions de brassages culturelles dans toutes leurs diversités et qui parle de diversité culturelle
                    parle aussi d’une diversité de langues; d’où la nécessité d’avoir des professionnels de l’interprétation de conférences pour tirer pleinement profit
                    de l’inter culturalité.
                    La formation de Master professionnel Interprétation de conférence qui est proposée, s'inscrit dans ce contexte éminemment international.
                    A la fois intensive et progressive, elle est rigoureusement encadrée par des interprètes professionnels engagés. Ce Master vise la pratique active
                    des différentes techniques d'interprétation dès la fin des études.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Objectifs du programme </h3>
                <h3 class="smaller_heading"> II.2.1. Objectif général </h3>
                <p class="description"> 
                    Le Master professionnel Interpretation de conferences a pour objectif principal de nous permettre de nous adapter au contexte économique et
                    d’anticiper les changements à venir dans la profession (intégration plus progressive, exigence de mobilité accrue, besoins linguistiques fluctuants,
                    langue B incontournable, anglais indispensable, etc.).
                </p>

                <h3 class="smaller_heading"> II.2.2. Objectifs spécifiques </h3>
                <p class="description"> 
                    <strong> Commun à la mention </strong><br/>
                    Cette formation de haut niveau en interprétation permet d'acquérir une parfaite maîtrise des techniques d’interprétation consécutive et simultanée
                    afin d’exercer cette activité dans le cadre de grandes conférences.
                </p>


                <h3 class="small_heading"> II.3. Approche du programme </h3>
                <p class="description"> 
                    La première année (M1) Interprétation de conférences est essentiellement consacrée à l’acquisition des techniques d’interprétation (exercices
                    préparatoires, interprétation consécutive et techniques de prise de notes, traduction à vue, interprétation de liaison) à partir de supports variés
                    dans des domaines divers.
                    Elle permet également de mieux connaître la profession d’interprète.
                    En M2, l’on se prépare directement à l’exercice de la profession. Les cours sont consacrés à l’apprentissage et au renforcement des différentes
                    techniques utilisées dans la profession. Des stages et des cabines muettes permettent de concrétiser les enseignements sur le terrain. Des
                    séminaires sur les réalités professionnelles et des conférences simulées sont organisés dans une salle entièrement équipée aux normes en matière
                    d’interprétation de conférence.
                </p>

            </div>

        </figure>

        <!-- end second stand out  -->

        <!-- begin third stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> III. CONDITIONS D’ADMISSION </h3>

            <p class="description"> 
                Admission en 1re année : Être titulaire d’un diplôme équivalent à Bac +3 (licence/BA) correspondant à 180 crédits.
                Admission directe en 2e année : Être titulaire d’un diplôme équivalent à Bac +4 (master 1re année, maîtrise) correspondant à 240 crédits. Un test
                d'admission est prévu, dont les épreuves écrites sont identiques pour les admissions en M1 ou M2. Le résultat des épreuves déterminera une
                admission en 1re ou 2e année de Master Interprétation de conférence.
            </p>

        </figure>

        <!-- end third stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. PRESENTATION DETAILLEE DES UNITES D’ENSEIGNEMENT </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Tableau d’organisation du parcours du Master professionnelle Interprétation de conférences en UE </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Master <br/> Interprétation <br/> de <br/> Conférences	 </td>
                        <td rowspan="2" > Nb de semestres </td>
                        <td colspan="7" class="long_bottom_border"> Unités d’enseignement du Master </td>
                        <td rowspan="2" > Crédit </td>
                        <td rowspan="2"> Volumes horaires</td>
                    </tr>
                    <tr> 
                        <td> UE obligatoires (fondamentales) </td>
                        <td> UE transversales </td>
                        <td> UE d’approfondissement </td>
                        <td> UE Option </td>
                        <td> UE complément </td>
                        <td> UE libres </td>
                        <td class="right_side_border"> UE de remise a niveau </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.1 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> Méthodologie de<br/>
                                    l’interprétation
                                </li>
                                <li> 
                                    Initiation a <br/>
                                    l’interprétation 
                                </li>
                                <li> 
                                    Traduction <br/>
                                    Politique des <br/>
                                    langues et <br/>
                                    traduction
                                </li>
                                <li> 
                                    Linguistique <br/>
                                    appliquée a la <br/>
                                    traduction
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Français <br/>
                                    (Technique <br/>
                                    de rédaction <br/>
                                    et <br/>
                                    d’expression)
                                </li>
                                <li> 
                                    d’expression) <br/>
                                    de la <br/>
                                    recherche et <br/>
                                    outils de <br/>
                                    traduction
                                </li>
                                <li> 
                                    Institutions <br/>
                                    africaines
                                </li>
                                <li> 
                                    Ressources <br/>
                                    électroniques <br/>
                                    et techniques <br/>
                                    documentaire <br/>
                                    s pour la <br/>
                                    traduction
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.2 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Fondements<br/>
                                    disciplinaires
                                </li>
                                <li>
                                    Fondements <br/>
                                    professionnels 
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Mémoire et <br/>
                                    stages <br/>
                                    professionnels
                                </li>
                            </ul>
                       </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>
            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Composition type du parcours du Master professionnelle en Marketing </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semestres </td>
                        <td> Unités d’enseignement de la licence </td>
                        <td> Crédits </td>
                        <td> Volumes horaires </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> Semestre 7 </td>
                            <td class="strong_underline"> UE Fondamentale (UE7.1) </td>
                            <td>24</td>
                            <td>480</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                UE7.1.1 Méthodologie de l’interprétation
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE7.1.2 Initiation a l’interprétation
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                UE7.1.3 Traduction 	
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <!-- begin heading section  -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire	(UE7.2)	</td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               UE7.2.1 Français (Technique de rédaction et d’expression)
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr> 
                            <td> 
                               UE8.1.2 Linguistique appliquée a la traduction
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> Semestre 8 </td>
                            <td class="strong_underline"> UE Fondamentale (UE8.1) </td>
                            <td> 12 </td>
                            <td> 240 </td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               UE8.1.1 Politique des langues et traduction
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE8.1.2 Linguistique appliquée a la traduction
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> UE Complémentaire	(UE8.2)	</td>
                            <td>18</td>
                            <td>360</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               UE8.2.1 Institutions africaines
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE8.2.1 Ressources électroniques et techniques documentaires pour la traduction
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                    </tbody>
                    <!-- end second semester row -->

                    <!-- begin third semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> Semestre 9 </td>
                            <td class="strong_underline"> UE Fondamentale (UE9.1) </td>
                            <td>30</td>
                            <td>600</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               UE9.1.1 Fondements disciplinaires
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               UE9.1.2 Fondements professionnels
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                    </tbody>
                    <!-- end third semester row -->

                    <!-- begin fourth semester row -->

                    <tbody class="table_row_stand_out">
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td rowspan="11"> Semestre 10 </td>
                            <td class="strong_underline"> UE9.1.2 Fondements professionnels </td>
                            <td>30</td>
                            <td>300</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               UE10.1.1 Stage
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr> 
                            <td> 
                              UE10.1.2 Mémoire	
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                    </tbody>
                    <!-- end fourth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong> </strong>  </td>
                            <td>  <strong>  2400  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. DEBOUCHES PROFESSIONNELS	</h3>
                <p class="description"> 
                   L’interprète est membre de profession libérale ou salarié du secteur privé, fonctionnaire au sein d’une administration ou d’une organisation
                    internationale.	Les diplômés peuvent intégrer :
                </p>
                <ul class="one_list">
                    <li> Les organisations internationales (ONU, UNESCO, OMS,...) </li>
                    <li> Les ambassades et représentations diplomatiques </li>
                    <li> Les ministères </li>
                    <li> La défense </li>
                    <li> Les administrations (justice, police, douanes) </li>
                    <li> Les entreprises </li>
                    <li> Les Organisations Non Gouvernementales (ONG) </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin sixth stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VII. CONTROLE DES CONNAISSANCES </h3>
            <p class="description">
                Le régime général est le contrôle continu. Une session d’examen à la fin de chaque semestre organisé en fonction des matières inscrites au
                semestre. Rédaction d’un mémoire soutenu devant un jury en fin de cycle.
            </p>
        </figure>

        <!-- end sixth stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. PROCEDURE D’EVALUATION </h3>
                <p class="description"> 
                    Chaque unité d'enseignement fait l’objet d’une évaluation au sein de commissions d'évaluation tripartites associant les étudiants, les enseignants
                    et la direction académique. Les commissions d'évaluation sont placées sous la double responsabilité du directeur académique et du service en
                    charge de l’évaluation.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. PROGRAMME DETAILLE POUR l’INTERPRETATION DE CONFERENCE </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Master 1 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 7 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Unités d’enseignement </td>
                        <td class="emphasis"> Crédit </td>
                        <td class="emphasis" > Heures Présentielles </td>
                        <td class="emphasis"> Heures Personnelles Etudiant </td>
                        <td class="emphasis"> Volume Horaire Etudiant </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE7.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.1 Méthodologie de l’interprétation </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> MIC-M1.1.7 </td>
                        <td> Analyse de journaux </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> MIC-M1.2.7 </td>
                        <td> Vocabulaire et registres de langue </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> MIC-M1.2.7 </td>
                        <td> Improvisation, élocution </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> MIC-M1.3.7 </td>
                        <td> Synthèses orale </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.2 Initiation a l’interprétation </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> MIC-M1.5.7 </td>
                        <td> Interprétation consécutive </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> MIC-M1.6.7 </td>
                        <td> Interprétation de liaison </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> MIC-M1.7.7 </td>
                        <td> Traduction a vue </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> MIC-M1.8.7 </td>
                        <td> Approche de l’interprétation simultanée </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.1.3 Traduction </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> MIC-M1.9.7 </td>
                        <td> Traduction dans les deux langues de travail </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> UE COMPLEMENTAIRE UE7.2) </td>
                    </tr> 
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.2.1 Français </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> MIC-M1.10.7 </td>
                        <td> Techniques de rédaction et d’expression </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE7.2.1 Métho de recherche et outils de traduct </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> MIC-M1.11.7 </td>
                        <td> Méthodologie de recherche </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> MIC-M1.12.7 </td>
                        <td> Outils de traduction </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 7 </td>
                        <td>30</td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 8 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE8.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.1.1 Politique de langues et traduction </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> MIC-M1.1.8 </td>
                        <td> Politique des langues </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> MIC-M1.2.8 </td>
                        <td> Traduction </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr> 

                    <!-- begin sub heading -->

                    <tr> 
                        <td class="emphasis" colspan="6"> UE COMPLEMENTAIRE (UE8.2) </td>
                    </tr> 
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.2.1 Institutions africaines </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> MIC-M1.3.8 </td>
                        <td> Institutions africaines sous régionales </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> MIC-M1.4.8 </td>
                        <td> Institution continentales </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE8.2.1 Ressources élec et tech docu pour trad </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> MIC-M1.5.8 </td>
                        <td> Ressources électroniques </td>
                        <td>05</td>
                        <td>60</td>
                        <td>40</td>
                        <td>100</td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> MIC-M1.6.8 </td>
                        <td> Techniques documentaires pour la traduction </td>
                        <td>05</td>
                        <td>60</td>
                        <td>40</td>
                        <td>100</td>
                    </tr>   

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 8 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 1 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->


    <!-- begin ninth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> MASTER 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 9 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Unités d’enseignement </td>
                        <td class="emphasis"> Crédit </td>
                        <td class="emphasis" > Heures Présentielles </td>
                        <td class="emphasis"> Heures Personnelles Etudiant </td>
                        <td class="emphasis"> Volume Horaire Etudiant </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (UE9.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.1 Fondements disciplinaires</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> MIC-M2.1.9 </td>
                        <td> Méthodologie de l’interprétation </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> MIC-M2.2.9 </td>
                        <td> Français appliqué à l’interprétation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> MIC-M2.3.9 </td>
                        <td> Droit </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.1.2 Fondements professionnels </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> MIC-M2.5.9 </td>
                        <td> Interprétation consécutive </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> MIC-M2.6.9 </td>
                        <td> Traduction a vue </td>
                        <td> 05 </td>
                        <td> 60 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> MIC-M2.7.9 </td>
                        <td> Interpretation simultanée </td>
                        <td> 05 </td>
                        <td> 60 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 9 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 10 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6">UE COMPLEMENTAIRE (UE10.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.1.1 Stage professionnel et mémoire </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> MIC-M2.1.10 </td>
                        <td> Suivi de la rédaction du mémoire </td>
                        <td> 22 </td>
                        <td> 264 </td>
                        <td> 176 </td>
                        <td> 440 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> MIC-M2.1.10 </td>
                        <td> Stage </td>
                        <td> 08 </td>
                        <td> 00 </td>
                        <td> 160 </td>
                        <td> 160 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 10 </td>
                        <td>30</td>
                        <td>264</td>
                        <td>336</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 2 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end ninth stand out -->


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}