@{
    ViewData["Title"] = "Bim-Edu PhD in Communications ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h2 class="sub_main_heading"> PhD in Communications </h1>

    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> At the Intersection of Media,Technology, and Democracy </h3>
                <p class="description"> 
                    The BIIM School of Communication's Doctor of Philosophy in Communication allows
                    you to focus on the intersection of media, technology, and democracy. Our
                    program is designed for scholars who seek to understand how communication and
                    technology interact with democratic life and participation in an open society, with a
                    particular emphasis on the role of new media in civil society. <br/> <br/>

                    Our interdisciplinary course of study is solidly rooted in contemporary
                    communications knowledge, theory, research methods, and principles, while drawing
                    from the diverse intellectual resources across BIIM. The program offers both
                    humanistic and social scientific approaches to the study of communication, tapping
                    into our relationships with NGOs, media companies, foundations, and government
                    institutions. <br/> <br/>

                    In our doctoral program, you'll produce scholarship, using both quantitative and
                    qualitative approaches, that has <strong> real-world connection and impact </strong>. You'll organize
                    your studies around your choice of a thematic concentration. Courses covering a
                    wide spectrum of issues will allow you to explore the cultural, technological,
                    economic, and policy forces shaping the media system. <br/> <br/>

                    The <strong> accelerated structure </strong> of our program offers an 11-month-per-year mentoring
                    and learning environment, enabling you to <strong> complete your degree in three years </strong>.
                    Our graduates are qualified for tenure-track faculty positions at institutions of higher
                    education in communication, media studies, public relations, journalism, film and
                    media arts, and related fields. You'll also have the advanced qualifications for
                    professional work in public policy, research, communication, marketing, and
                    production at media, nonprofit, advocacy, government, and industry organizations. <br/> <br/>

                    The BIIM School of Communication's PhD in Communication advances theory,
                    develops knowledge, and enhances the ability of our institutions, social groups, and
                    professionals to apply that knowledge to <strong> address our most pressing political and
                    social challenges </strong> today. If you want to be a part of the next generation of
                    communication scholars, professors, leaders, and practitioners for the digital age,
                    this is an ideal program for you. <br/> <br/>

                </p>
        </figure>

        <!-- end tand out -->


    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> Admission </h3>
            <h3 class="small_heading"> DEMONSTRATE YOUR COMMITMENT AND INTEREST </h3>
                <p class="description"> 
                   All applicants must hold a master's degree (or be in the process of completing a
                    master's degree) to apply for the PhD in Communication. The degree does not have
                    to be in the field of communication or be research-based, as many of our PhD
                    students have master's degrees in film or journalism. <br/> <br/>


                    Applicants must submit a statement of purpose that outlines the intended research
                    area, what research methods and theories the applicant will use, and which faculty
                    members the applicant hopes to work with. <br/> <br/>


                    The candidate must also submit either a master's thesis or another example of
                    substantial research. The GRE is also required. Students should submit their official
                    GRE scores to CEEB code 5007. <br/> <br/>


                    The School of Communication's PhD program operates on a hard deadline.
                    Applications must be received by December 15th. Applications received after the
                    deadline will not be considered.<br/> <br/>

                    A complete PhD application consists of the following:
                        <ul class="one_list">
                            <li> Statement of purpose </li>
                            <li> Resume </li>
                            <li> University transcripts from all universities attended (transcripts from outside of
                                 the U.S. must be evaluated by WES or ECE)</li>
                            <li> Two letters of recommendation </li>
                            <li> GRE scores </li>
                            <li> Master's thesis </li>
                            <li> Proof of English proficiency (100 on the TOEFL, 7.0 on the IELTS, or a bachelor or master's degree from university in an English speaking country) </li>
                        </ul>
                    The admissions committee may ask applicants to interview with the program director
                    and affiliated faculty. Interviews are conducted either on campus or virtually.

                </p>
        </figure>

        <!-- end tand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}