@{
    ViewData["Title"] = "Bim-Edu PhD in Political Sciences ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h2 class="sub_main_heading"> PhD in Political Science </h1>

    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> At the Heart of Policy and Politics </h3>
                <p class="description"> 
                    The PhD in Political Science at the BIIM School of Law International Relations draws
                    from the breadth and depth of intellectual resources across BIIM, providing our
                    students with rigorous cross-disciplinary training, both substantively and
                    methodologically. They work closely with prominent scholars whose cutting-edge
                    research activities and professional engagements play key roles in national and
                    global policy development.
                </p>
        </figure>

        <!-- end tand out -->

    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> CROSS DISCIPLINARY </h3>
                <p class="description"> 
                    Our students organize their programs around a choice of two fields of study. In their
                    primary field, they specialize in African, European, American or comparative politics.
                    Their secondary field can be chosen either from within the School of Law and
                    International Relations—public policy or public administration, for example—or from a
                    department within another school at BIIM that grants doctoral degrees. Regardless of
                    their selected fields, students may enroll in courses from any department within the
                    School of Law and International Relations.
                </p>
        </figure>

        <!-- end tand out -->


    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> MAKE PROFESSIONAL CONNECTIONS </h3>
                <p class="description"> 
                    In addition to their coursework, doctoral students are introduced into the discipline
                    and make professional connections through a variety of research workshops. They
                    also benefit from exposure to activities, conferences, and research opportunities.
                </p>
        </figure>

        <!-- end tand out -->


    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> OPPORTUNITIES TO PUBLISH AND PRESENT </h3>
                <p class="description"> 
                    Indeed, we encourage students throughout the course of their graduate school
                    careers to present research papers at major academic conferences, co-author
                    papers with faculty members, publish in top journals, and seek prestigious awards to
                    fund their research.
                </p>
        </figure>

        <!-- end tand out -->

    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> BECOME AN AUTHORITY AND LEADER </h3>
                <p class="description"> 
                    By the time our students complete the program, they have already produced original
                    research and are prepared for university teaching and research or a career as an
                    authority and leader within the political arena.
                </p>
        </figure>

        <!-- end tand out -->


    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> DEGREE REQUIREMENTS </h3>
                <p class="description"> 
                    The PhD degree in Political Science requires 54 credit hours of approved graduate
                    work for students entering the program with a bachelor's degree alone, or 36 credit
                    hours if entering with a related master's degree. <br/><br/>

                    All students must complete 12 credits of research design and methodology courses,
                    6 credits of seminars in African, European or American and comparative politics, 12
                    credits in their primary field of study, and 6 to 24 credits in electives, which they
                    choose in consultation with their advisor. The total number of credit hours depends
                    on their approved program of study. <br/><br/>

                    As work on the dissertation project progresses, students register for dissertation
                    credit in order to maintain matriculation. They take Doctoral Continuing Enrollment
                    (GOVT-898) (during the third year of study if they have a master's degree or the
                    fourth year of study if they have a bachelor's degree) and Doctoral Dissertation
                    (GOVT-899) after their dissertation proposal is approved. <br/><br/>

                    A minimum grade point average of 3.20 in all coursework is required to remain in
                    good standing and to earn the degree. Full-time status is considered to be nine credit
                    hours per semester. Students are expected to complete the degree within four years
                    for those entering with a master's degree and within five years for those entering with
                    a bachelor's degree alone. <br/><br/>

                    Students advance to PhD candidacy by successfully completing all required courses,
                    passing the oral qualifier and two written comprehensive examinations (one in each
                    of their fields of study), and defending their dissertation proposals. To earn the
                    degree, students must pass a final oral defense of the dissertation.

                </p>
        </figure>

        <!-- end tand out -->


    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> ADMISSION </h3>
                <p class="description"> 
                    
                    Applicants are considered and students admitted for the fall semester only. <br/> 

                    While previous academic or professional work in politics or political science is not
                    required, applicants need to demonstrate a serious commitment to a career in this
                    field. The personal statement on reasons for pursuing graduate study in the program
                    is essential, along with the other required application materials. <br/>

                    We accept PhD applicants for full-time study only.

                </p>
        </figure>

        <!-- end tand out -->
    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}