@{
    ViewData["Title"] = "Bim-Edu PhD in Organizational Leadership ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h2 class="sub_main_heading"> PhD in Organizational Leadership </h1>

    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> A CHALLENGING, FULFILLING, IN-DEPTH STUDY OF LEADERSHIP </h3>
                <p class="description"> 
                    The PhD in Organizational Leadership program allows you to examine
                    leadership in a multitude of dimensions. Upon completion of the program,
                    you will have gained the knowledge to evaluate major theories and
                    contribute to the body of knowledge in the field of organizational
                    leadership.
                </p>
        </figure>

        <!-- end tand out -->


    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> BIIM'S INDEPENDENT STUDY APPROACH IS DESIGNED FOR YOU </h3>
                <p class="description"> 
                    Few universities can offer the uniquely flexible approach to earning your
                    PhD in Organizational Leadership available at BIIM. In a class size of one,
                    you'll have one-to-one, individualized interaction with our all-doctoral
                    faculty. BIIM's Doctor of Philosophy in Organizational Leadership
                    program has no entrance exam requirements, saving you time and money.
                </p>
        </figure>

        <!-- end tand out -->


    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> PHD IN ORGANIZATIONAL LEADERSHIP </h3>
                <ul class="one_list">
                    <li> Total Credit Hours: <strong> 60 Credit Hours </strong> </li>
                    <li> Courses:<strong> 20 Courses </strong></li>
                    <li> Recommended Completion Time: <strong>45 Months </strong></li>
                    <li> Next Start Date:<strong> Every Monday </strong></li>
                    <li> Classroom Size:<strong> One</strong></li>
                </ul>
        </figure>

        <!-- end tand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}