@{
    ViewData["Title"] = "Bim-Edu PhD in Education ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h2 class="sub_main_heading"> PhD in Education </h1>

    <!-- begin stand out -->
        <figure class="stand_out">
                <p class="description"> 
                    The Ph.D. in Education is an interdisciplinary doctoral program offered BIIM. As a Ph.D.
                    candidate, you will collaborate with scholars across all BIIM graduate schools on original
                    interdisciplinary research. In the process, you will help forge new fields of inquiry that will
                    impact the way we teach and learn. <br/>
                </p>
        </figure>

        <!-- end tand out -->

    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> Research-Based Doctoral Degree </h3>
                <p class="description"> 
                    The program’s required coursework will develop your knowledge of the interdisciplinary
                    nature of education and expertise in a range of quantitative and qualitative methods needed to
                    conduct high-quality research. Guided by the goal of having a transformative impact on
                    education research, policy, and practice, you will focus on independent research in various
                    domains, including human development, learning and teaching, policy analysis and
                    evaluation, institutions and society, and instructional practice. You will assume roles as
                    university faculty, researchers, senior-level education leaders, and policymakers.

                </p>
        </figure>

        <!-- end tand out -->

    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> Curriculum Information </h3>
                <p class="description"> 
                    The Ph.D. in Education requires five years of full-time study to complete. You will choose
                    your individual coursework and design your original research in close consultation with your
                    BIIM faculty adviser and dissertation committee. The requirements listed below include the
                    three Ph.D. concentrations: <strong> Culture, Institutions, and Society; Education Policy and
                    Program Evaluation; and Human Development, Learning and Teaching. </strong>

                </p>
        </figure>

        <!-- end tand out -->


    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> SUMMARY OF Ph.d. PROGRAM </h3> <hr/> <br/> <br/>
            <h3 class="small_heading"> Culture, Institutions, and Society (CIS)	Concentration </h3>
                <p class="description"> 
                    In CIS, you will examine the broader cultural, institutional, organizational, and social contexts
                    relevant to education across the lifespan. What is the value and purpose of education? How do
                    cultural, institutional, and social factors shape educational processes and outcomes? How
                    effective are social movements and community action in education reform? How do we
                    measure stratification and institutional inequality? In CIS, your work will be informed by
                    theories and methods from sociology, history, political science, organizational behavior and
                    management, philosophy, and anthropology. You can examine contexts as diverse as
                    classrooms, families, neighborhoods, schools, colleges and universities, religious institutions,
                    nonprofits, government agencies, and more.
                </p>
            <h3 class="small_heading"> Education Policy and Program Evaluation (EPPE) Concentration  </h3>
                <p class="description"> 
                    In EPPE, you will research the design, implementation, and evaluation of education policy
                    affecting early childhood, K–12, and postsecondary education in the U.S. and internationally.
                    You will evaluate and assess individual programs and policies related to critical issues like
                    access to education, teacher effectiveness, school finance, testing and accountability systems,
                    school choice, financial aid, college enrollment and persistence, and more. Your work will be
                    informed by theories and methods from economics, political science, public policy, and
                    sociology, history, philosophy, and statistics. This concentration shares some themes with
                    CIS, but your work with EPPE will focus on public policy and large-scale reforms.
                </p>
            <h3 class="small_heading"> Human Development, Learning and Teaching (HDLT) Concentration </h3>
                <p class="description"> 
                    In HDLT, you will work to advance the role of scientific research in education policy, reform,
                    and practice. New discoveries in the science of learning and development — the integration
                    of biological, cognitive, and social processes; the relationships between technology and
                    learning; or the factors that influence individual variations in learning — are transforming the
                    practice of teaching and learning in both formal and informal settings. Whether studying
                    behavioral, cognitive, or social-emotional development in children or the design of learning
                    technologies to maximize understanding, you will gain a strong background in human
                    development, the science of learning, and sociocultural factors that explain variation in
                    learning and developmental pathways. Your research will be informed by theories and
                    methods from psychology, cognitive science, sociology and linguistics, philosophy, the
                    biological sciences and mathematics, and organizational behavior.
                </p>
        </figure>

        <!-- end tand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}