@{
    ViewData["Title"] = "Bim-Edu PhD in Psychology ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h2 class="sub_main_heading"> PhD in Psychology (Behaviour,Cognition and Neuroscience) </h1>

    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> Study the Brain and the Mind </h3>
                <p class="description"> 
                    The PhD in Psychology (Behavior, Cognition and Neuroscience) is a
                    multidisciplinary, interdepartmental program that applies biological and
                    psychological principles to behavior and cognition. In this program, you will gain
                    academic expertise through laboratory experience and core coursework while
                    broadening your knowledge and research skills through electives and special
                    seminars. <br/> <br/>

                    We apply a flexible approach to your education, providing a broad-based
                    curriculum, specialized research training, and quality teaching
                    opportunities. Our doctoral students concentrate on one of the traditional areas of
                    behavior, cognition, or neuroscience or combine portions of these areas for
                    individually tailored regimens specifically suited to their interests. <br/> <br/>

                    Our faculty members are active scientists with fully equipped laboratories who
                    provide individual mentorship throughout the program. You will receive in-depth,
                    apprenticeship-style training, working closely with faculty. Our complete program of
                    classes, research, teaching practica, and grantsmanship training will prepare you for
                    an academic teaching position and to perform independent and funded research in
                    behavioral neuroscience.
                </p>
        </figure>

        <!-- end tand out -->

    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> RIGOROUS, RESEARCH-CENTERED EDUCATION </h3>
                <p class="description"> 
                    The PhD in Psychology is a rigorous and uniquely flexible 54-credit hour program.
                    Focusing on one of the traditional areas of behavior, cognition, or neuroscience or
                    combining elements of these areas, you will develop an individualized course of
                    study to pursue your academic and research interests. <br/> <br/>

                    You will build a solid foundation in biology and psychology through required and
                    elective coursework and take advantage of faculty expertise by engaging in
                    special topic seminars. In the course of your in-depth laboratory research training,
                    you will perform original experiments under the guidance of a faculty member. With
                    this apprenticeship-style training, your master’s thesis, and your dissertation
                    research, you will engage in research every semester. This combination of an
                    advanced scientific education and extensive hands-on experience will prepare you
                    for your research career. <br/> <br/>

                    Students who enter the program without an MA in psychology will complete one over
                    the course of the doctoral program.

                </p>
        </figure>

        <!-- end tand out -->


    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> ADMISSION TO THE PROGRAM </h3>
                <p class="description"> 
                    In addition to meeting the minimum university requirements for graduate study,
                    applicants must submit a completed graduate application form, Graduate Record
                    Examination (GRE) scores for the General examination (Verbal, Quantitative, and
                    Analytic), three letters of recommendation, and copies of all college transcripts.
                    Students are admitted for full-time study only.
                </p>
        </figure>

        <!-- end tand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}