@{
    ViewData["Title"] = "Bim-Edu PhD in International Relations ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h2 class="sub_main_heading"> PhD in International Relations </h1>

    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> Expertise, rigor, & excellence </h3>
                <p class="description"> 
                    The challenges currently facing our world are numerous and varied. Successfully
                    handling these issues requires the brightest and best-trained minds. The School of
                    Law and International Relations (SLIR) PhD in International Relations provides
                    qualified and dedicated students with the training, knowledge, and experience
                    necessary to pursue careers in the scholarly and policy worlds and to contribute
                    game-changing solutions in international affairs as emerging thought leaders. <br/> <br/>

                    With its large and diverse faculty, SLIR offers a broad, interdisciplinary, and policy-
                    relevant approach to the study of international affairs. We value theoretical diversity,
                    intellectual breadth, analytical rigor, and scholarly excellence. SLIR is committed to
                    maintaining, both among its faculty and within its doctoral program, the expertise
                    needed for the rigorous analysis of critical issues in international affairs.

                </p>
        </figure>

        <!-- end tand out -->


    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> Curriculum </h3>
                <p class="description"> 
                    The PhD program requires 39 credit hours of approved graduate coursework, plus
                    the successful defense of a dissertation. The first year is devoted to core courses
                    and methods training. In the second year, students complete one of the
                    concentrations offered by SLIR, or construct one of their own. <br/><br/>

                    Students must also successfully complete two comprehensive exams - a qualifying
                    exam at the end of their first year and a concentration comp at the end of the second
                    year. Students are also asked to demonstrate competency in a modern foreign
                    language. <br/> <br/>

                    The dissertation must advance knowledge in the field of international relations,
                    broadly defined. Students select and design their own research project in
                    consultation with a committee of at least three experts in their chosen field of study.
                    Students advance to candidacy upon the successful defense of a dissertation
                    prospectus, usually in their third year. A public defense of the dissertation is required
                    for graduation. 

                </p>
        </figure>

        <!-- end tand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}