
@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Access Denied | Bim-Edu";
}

<section class="page_wrapper">

    <div class="page_container">

                <div class="status_container">
                        <h1 class="heading"> Access Denied </h1>
                        <p class="description"> You Are Not Allowed To View This Resource </p>
                </div>

        </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/payment/succeeded.css" />
}

