@model bim_edu.Models.ResetPasswordViewModel;

@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Password Reset | Bim-Edu";
    var Id = ViewData["Id"] as string;
}


<section class="page_wrapper">

    <div class="page_container">

            @if(Id != null){
            <div class="status_container">
                    <h1 class="heading"> Please Provide Your New Password </h1>
            </div>
            }else{
                <div class="status_container">
                        <h1 class="heading"> Password Successfully Reset </h1>
                        <p class="description"> Your Password Has Been Successfully Reset </p>
                </div>
            }

            @if(Id != null){
            <form class="form" asp-controller="Account" asp-method="POST">

                    <div class="ValidationError" asp-validation-summary="All"></div>

                    <div class="input_wrapper hide_it">
                        <input class="input hide_it" type="text" value="@Id" id="Id" name="Id" readonly/>
                    </div>

                    <div class="input_wrapper">
                        <label class="label" asp-for="Password"></label>
                        <input class="input" type="Password" id="Password" name="Password"/>
                        <span class="show_on_error" asp-validation-for="Password"></span>
                    </div>

                    <div class="input_wrapper">
                        <label class="label" asp-for="ConfirmPassword"> Confirm Password </label>
                        <input class="input" type="Password" id="ConfirmPassword" name="ConfirmPassword"/>
                        <span class="show_on_error" asp-validation-for="ConfirmPassword"></span>
                    </div>

                    <div class="button_container">
                        <input type="submit" asp-action="ResetPassword" id="ResetPassword" class="button" value="Submit"/>
                    </div>

            </form>
            }

        </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/account/passwordresetemail.css" />
}
