
@{
    Layout = "~/Views/Shared/_ApprovedLayout.cshtml";
    ViewData["Title"] = "Policy Bim-Edu Student";
}


<section class="approved_page_wrapper">

    <div class="approved_page_container">

            <div class="text_wrapper">

                <h2 class="welcome_title"> Règlement intérieur de </h2>

                <p class="details">     
                Bim-­‐Edu Vous pouvez demander le règlement interieur regissant	toutes les activités académiques à cette adresse e-‐mail : 
                <a href="mailto:registrar@bim-edu.us">
                    registrar@bim-edu.us
                </a>
                </p>

                <h2 class="sub_title"> Complaints </h2>

                <p class="details">
                 Gestion	des plaintes Pour déposer une plainte, veuillez consulter la 
                 section <br/> des griefs du Catalogue  académique 
                </p>
                
                <p class="details">
                Bim-­‐Edu, ou cliquez ici pour une liste des procédures de plainte aux États 
                Unis. Bim-­‐Edu propose des Masters,<br/> des Bachelors et des diplômes de BTS d’Etat agréés.
                </p>
                
            </div>

            <div class="policies_links">

                <div class="new_row clear_float">

                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Admission
                            </div>
                        </a>
                    </figure>
                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Certifcation
                            </div>
                        </a>
                    </figure>
                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Payment
                            </div>
                        </a>
                    </figure>

                </div>

                <div class="new_row clear_float">
                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Branding
                            </div>
                        </a>
                    </figure>
                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Social Media
                            </div>
                        </a>
                    </figure>
                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Website Privacy
                            </div>
                        </a>
                    </figure>
                </div>

            </div>

    </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/student/policy.css" />
}
