@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Bim-Edu INTELLIGENCE ECONOMIQUE & MANAGEMENT DES CONNAISSANCES ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> BACHELOR PROGRAM (B3) </h1>
        <h2 class="sub_main_heading"> BUSINESS INTELLIGENCE & KNOWLEDGE MANAGEMENT </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITLE AND CLASSIFICATION   	</h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Title of the Degree </td>
                        <td> Area of training (area of skill) </td>
                        <td> Mention (major theme of the course) </td>
                        <td> Speciality (specificity of the mention) </td>
                    </tr>
                    <tr> 
                        <td> Bachelor </td>
                        <td> Communication & Information, Economy, Management</td>
                        <td> Strategic Management Information </td>
                        <td> Business Intelligence & <br/> Knowledge Management </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin second stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. PEDAGOGICAL OBJECTIVES </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Program origin </h3>
                <p class="description"> 
                    In a globalized economy, the emergence of specialized sectors has allowed a distinct separation of the company's activities. As information and
                    knowledge are increasingly specialized and fragmented, their production is an activity separate from the other activities of the company. The
                    knowledge management thus focuses on the production of knowledge for competitiveness.
                    To control information, companies must use the information cycle, which is established in three steps: collection of raw information by carrying
                    out monitoring and collection work, then, create knowledge from this information using intelligent software and human intelligence, and finally,
                    use this knowledge in the form of strategic information, this cycle can only be conducted through business intelligence work.
                    The Bachelor in Business Intelligence and Knowledge Management is a course program that spans one year and is aimed at holders of a degree
                    in science, economics, management and information science of Associates level. The course is organized in two semesters each with teaching in
                    the form of lectures, tutorials and practical work. Part of the second semester is devoted exclusively to a professional internship.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Program objectives </h3>
                <h3 class="smaller_heading"> II.2.1.General objectives </h3>
                <p class="description"> 
                    The goal of this program is to train students in strategic information management and knowledge management in businesses and various
                    organizations.                    
                </p>

                <h3 class="smaller_heading"> II.2.2. Specific goals </h3>
                <p class="description"> 
                    <strong> Common run with the mention </strong><br/>
                    This program allows the student to:<br/>
                </p>
                <ul class="one_list">
                    <li> Understand information needs and translate these needs into a built-in approach, </li>
                    <li> Collect and process information in a relevant way, </li>
                    <li> Know how to identify misinformation and react to rumors,</li>
                    <li> Address information security issues. </li>
                </ul>

                <h3 class="small_heading"> II.3. Program approach </h3>
                <p class="description"> 
                    The program prepares for a specialized course in Business Intelligence for companies or public administration.
                </p>

            </div>

        </figure>

        <!-- end second stand out  -->

        <!-- begin third stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> III.ADMISSION REQUIREMENTS </h3>

            <p class="description"> 
               Admission requirements are as follows :
            </p>
            <ul class="one_list">

                <li> 
                    Direct admission in B3 for students in Information and Communication Sciences, Economics, Law and Political Sciences, etc., having
                    validated the 2nd year (B2) woth a GPA of 3.4.  
                </li>

                <li> 
                    Or direct admission in B3 on file review for information and communication professionals who have relevant professional experience.
                </li>

            </ul>

        </figure>

        <!-- end third stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV.DETAILED PRESENTATION OF COURSE CURRICULUM</h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Organization of the Bachelor of Science in Business Intelligence and Knowledge Management </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Bachelor science <br/>  in BIKM </td>
                        <td rowspan="2" > Nb of semesters </td>
                        <td colspan="7" class="long_bottom_border"> Credit Units of the Master </td>
                        <td rowspan="2" > Credit </td>
                        <td rowspan="2"> Time allocated (Hours) </td>
                    </tr>
                    <tr> 
                        <td> Foundament CU </td>
                        <td> Transverse CU </td>
                        <td> Deepening CU </td>
                        <td> Optional CU </td>
                        <td> Complement CU  </td>
                        <td> Free CU </td>
                        <td class="right_side_border"> Refresher CU </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> B.3 </strong>  </td>
                        <td> 2 semesters </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Information systems <br/> and strategic management.
                                </li>
                                <li> 
                                    Research, treatment <br/> and information economy.
                                </li>
                                <li> 
                                    Dissemination and <br/> management of information
                                </li>
                                <li> 
                                    Professional internship & Dissertation
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Economics / Operations Research
                                </li>
                                <li> 
                                    IT and ICT
                                </li>
                                <li> 
                                    Business French
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Knowledge management <br/>  and risk control
                                </li>
                                <li> 
                                    Knowledge Management <br/> and Collective Strategies
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>
            </table>


            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Standard content of the Bachelor of Science in Business Intelligence and Knowledge Management </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semesters </td>
                        <td> Teaching Unit for bachelor </td>
                        <td> Credits </td>
                        <td> Time allocate/hour </td>
                    </tr>

                    <!-- begin fifth semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="7"> semester 5 </td>
                            <td class="strong_underline"> Fundament CU(CU1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU1.1 Information Systems and Strategic Management.
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>
                        <tr> 
                            <td> 
                               CU1.2 Research, Processing and Economics of Information.
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>
                        <tr> 
                            <td> 
                               CU1.3 Dissemination and Information Management
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU(CU2) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU2.1 Knowledge and control of risks.
                            </td>
                            <td> 08 </td>
                            <td> 120 </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU2.2 Knowledge Management and Collective Strategies
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>

                    </tbody>
                    <!-- end fifth semester row -->

                    <!-- begin sixth semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> semester 6 </td>
                            <td class="strong_underline"> Fundament CU(CU3) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               CU3.1 Tools / Business Application.
                            </td>
                            <td> 08 </td>
                            <td> 120 </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU3.2 Professional Internship
                            </td>
                            <td> 08 </td>
                            <td> 160 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU4) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU4.1 Computer and ICT
                            </td>
                            <td> 08 </td>
                            <td> 160 </td>
                        </tr>
                        <tr> 
                            <td> 
                                CU4.2 Business English
                            </td>
                            <td> 04 </td>
                            <td> 60 </td>
                        </tr>

                    </tbody>
                    <!-- end sixth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>  60  </strong>  </td>
                            <td>  <strong>  1200  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. CAREER PROSPECTS </h3>
                <p class="description"> 
                   The jobs for which the degree holders will be able to apply are:
                </p>
                <ul class="one_list">
                    <li> Assistant Project Manager, </li>
                    <li> Strategic Watch Manager, </li>
                    <li> Director of Decision Information Systems, </li>
                    <li> Knowledge Management Specialist in Organizations, </li>
                    <li> Any position to develop strategic choices. </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin seventh stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VI. COURSE EVALUATIONS </h3>
                <ul class="one_list">
                    <li> Continuous controls for each lecture </li>
                    <li> Examination sessions (oral and written) at the end of each semester organized according to the subjects covered in the semester </li>
                    <li> Internship report/dissertation presented before a jury at the end of the course. </li>
                </ul>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. EVALUATION PROCESS </h3>
                <p class="description"> 
                    Each credit unit is evaluated in tripartite evaluation committees involving students, teachers and the academic director. The evaluation
                    commissions are placed under the dual responsibility of the academic director and the department for quality control. The evaluation process
                    requires for each credit unit the active participation of the students.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin tenth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. DETAILED PROGRAM FOR BACHELOR OF SCIENCE IN BUSINESS INTELLIGENCE & KNOWLEDGE MANAGEMENT </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> BSc 3 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 5 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU(CU1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.1 Information systems and strategic management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> IEMC-L3.1.5 </td>
                        <td> Information system </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEMC-L3.2.5 </td>
                        <td> Data base </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 30 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEMC-L3.3.5 </td>
                        <td> Data analysis </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 30 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEMC-L3.4.5 </td>
                        <td> Strategic management </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.2 Research, Processing and Economics of Information </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEMC-L3.5.5 </td>
                        <td> Environment of the company </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEMC-L3.6.5 </td>
                        <td> Operational research </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEMC-L3.7.5 </td>
                        <td> Statistics </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.3 Dissemination and information management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis">  </td>
                        <td> Business Intelligence Concept </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis">  </td>
                        <td> Communication networks </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.1 Knowledge and control of risks </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEMC-L3.8.5</td>
                        <td> Economics </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEMC-L3.9.5 </td>
                        <td> Financial analysis </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> IEMC-L3.10.5 </td>
                        <td> General accounting </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.2 Knowledge Management and Collective Strategies </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEMC-L3.11.5 </td>
                        <td> Business strategies </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEMC-L3.12.5 </td>
                        <td> Strategic watch </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>  


                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 5 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 6 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU(CU3) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU3.1 Tools / Business Application </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEMC-L3.1.6 </td>
                        <td> Business Intelligence. </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEMC-L3.2.6 </td>
                        <td> Business intelligence tools. </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEMC-L3.3.6 </td>
                        <td> Business Applications </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td class="emphasis" > IEMC-L3.ST.6 </td>
                        <td class="emphasis"> CU3.2 Internship  </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"></td>
                        <td> Professional Relations III </td>
                        <td> 2 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> TRANSVERSE CU (CU4) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU4.1 IT and ICT </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEMC-L3.5.6 </td>
                        <td> Technology of the information </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> IEMC-L3.6.6</td>
                        <td> Algorithm and programming</td>
                        <td> 2 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEMC-L3.7.6 </td>
                        <td> Methodology of dissertation drafting </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU4.2 Business English </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEMC-L3.8.6 </td>
                        <td> Professional French </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 6 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL BSc 3 </td>
                        <td>60</td>
                        <td>720</td>
                        <td>480</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end tenth stand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}