@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Bim-Edu TRADUCTION & INTERPRETATION ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> BACHELOR’S DEGREE PROGRAM (B1, B2, B3) </h1>
        <h2 class="sub_main_heading"> TRANSLATION & INTERPRETATION </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I TITLE AND CLASSIFICATION OF THE DIPLOMA </h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Title of the diploma </td>
                        <td> Training area (fields of competences) </td>
                        <td> Mention (major topic of the course)</td>
                        <td> Speciality (specificity of the mention)</td>
                    </tr>
                    <tr> 
                        <td> Bachelor </td>
                        <td> Languages </td>
                        <td> Foreign languages </td>
                        <td> Translation & Interpretation </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin second stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. PEDAGOGICAL OBJECTIVES </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origine of the programme </h3>
                <p class="description"> 
                    Globalization, as well as the multiplication of meetings between decision-makers, collaborators and citizens are accompanied by a need for more
                    and more frequent multilingual communication. This requires the use of interpreters to translate current communications. Hence the need for us
                    to offer a complete course program in "Translation & Interpretation" to develop among our students skills for the practice of the profession of
                    translator and interpreter.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Program Objectives </h3>
                <h3 class="smaller_heading"> II.2.1. General Objective </h3>
                <p class="description"> 
                    This program aims to train professional translators and conference interpreters, able to work at the highest level for international organizations
                    and for the private sector at conferences or seminars.	                    
                </p>

                <h3 class="smaller_heading"> II.2.2. Specific Objectives </h3>
                <p class="description"> 
                    <strong> Commun run with the mention </strong><br/>
                    Students, at the end of this program will be able: <br/>
                </p>
                <ul class="one_list">
                    <li> To do general translations </li>
                    <li> To do general interpretation </li>
                    <li> To perform a consecutive and simultaneous interpretation </li>
                    <li> To do the legal, economic, court translation </li>
                </ul>

                <h3 class="small_heading"> II.3. Approach to the program </h3>
                <p class="description"> 
                    The Bachelor of Arts in "Translation & Interpretation" prepares students for the profession of translation and interpretation especially for
                    international and intercultural exchanges.
                </p>

            </div>

        </figure>

        <!-- end second stand out  -->

        <!-- begin third stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> III. ADMISSION REQUIREMENTS </h3>

            <p class="description"> 
               Admission requirements are as follows:
            </p>
            <ul class="one_list">

                <li> 
                   Admission in 1st year on students file examination and / or competitions open to High School Diploma holders.
                </li>

                <li> 
                    Direct admission in 3rd year for students with a 2nd year level in "Translation & Interpretion" or related courses and with a general average
                    above or equal to 12/20.
                </li>

                <li> 
                    Admission in 3rd year on contest for all other candidates.
                </li>

            </ul>

        </figure>

        <!-- end third stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. DETAILED PRESENTATION OF THE COURSE CURRICULUM </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Organization of the Bachelor of Arts in Translation & Interpretation </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Bachelor of <br/> Arts in Translation & <br/> Interpretation </td>
                        <td rowspan="2" > Nb de semesters </td>
                        <td colspan="7" class="long_bottom_border"> Credit Units of the Bachelor’s Degree </td>
                        <td rowspan="2" > Credit </td>
                        <td rowspan="2"> Time allocated (Hours)</td>
                    </tr>
                    <tr> 
                        <td> Fundament CU </td>
                        <td> Transverse CU </td>
                        <td> Deepening CU </td>
                        <td> Optional CU </td>
                        <td> Complementary CU </td>
                        <td> Free CU </td>
                        <td class="right_side_border"> Over has CU </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> BA1 </strong>  </td>
                        <td> 2 semesters </td>
                        <td> 
                            <ul> 
                                <li> English<br/>
                                    grammar
                                </li>
                                <li> 
                                    Practical of <br/>
                                    the	translation	
                                </li>
                                <li> 
                                    Phonetics	
                                </li>
                                <li> 
                                    Linguistics	& <br/>
                                    Stylistics		
                                </li>
                                <li> 
                                    English/French <br/>
                                    translation	
                                </li>
                                <li> 
                                    French/English <br/>
                                    translation			
                                </li>
                                <li> 
                                    British<br/>
                                    institutions
                                </li>
                                <li> 
                                    Laboratory
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    French literature<br/>
                                </li>
                                <li> 
                                    Written and oral <br/>
                                    expression
                                </li>
                                <li> 
                                    Second Language 2 	
                                </li>
                                <li>
                                    English	<br/>
                                    literature
                                </li>
                                <li> 
                                    American <br/>
                                    literature	
                                </li>
                                <li>
                                    British	history
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> BA2 </strong>  </td>
                        <td> 2 semesters </td>
                        <td> 
                            <ul> 
                                <li> 
                                    English/French <br/>
                                    translation	
                                </li>
                                <li>
                                    French/English <br/>
                                    translation	
                                </li>
                                <li>
                                    Phonetics	
                                </li>
                                <li>
                                    Grammar	
                                </li>
                                <li>
                                    Laboratory	
                                </li>
                                <li>
                                    Philology			
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    American <br/>
                                    civilization	
                                </li>
                                <li>
                                    Anglo-­‐Saxon<br/>
                                    literature
                                </li>
                                <li> 
                                    Written and oral <br/>
                                    expression	
                                </li>
                                <li> 
                                    Second language2
                                </li>
                                <li> 
                                    Civilization 
                                </li>
                                <li> 
                                    Linguistics
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>


                    <tr class="border_top"> 
                        <td> <strong> BA3 </strong>  </td>
                        <td> 2 semesters </td>
                        <td> 
                            <ul> 
                                <li> 
                                    English/French <br/>
                                   translation	
                                </li>
                                <li>
                                    French/English <br/>
                                   translation	
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Anglo-­‐Saxon <br/>
                                    literature
                                </li>
                                <li>
                                   Anglo-­‐Saxon <br/>
                                   civilization	
                                </li>
                                <li>
                                   History of the<br/>
                                   language	
                                </li>
                                <li>
                                   Civilization	
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Standard content for the Bacherlor of Arts in translation & Interpretation </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semesters </td>
                        <td> Credit Units of the Bachelor</td>
                        <td> Credits </td>
                        <td> Time allocation/H </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> semester 1 </td>
                            <td class="strong_underline"> Foundament CU (CU1.1) </td>
                            <td>23</td>
                            <td>43</td>
                        </tr>
                        <!-- end heading section  -->

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU 1.2) ) </td>
                            <td>07</td>
                            <td>140</td>
                        </tr>
                        <!-- end heading section -->

                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> semester 2 </td>
                            <td class="strong_underline">Foundament CU (CU2.1) </td>
                            <td>19</td>
                            <td>380</td>
                        </tr>
                        <!-- end heading section  -->

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU 2.2) </td>
                            <td>11</td>
                            <td>220</td>
                        </tr>
                        <!-- end heading section -->

                    </tbody>
                    <!-- end second semester row -->

                    <!-- begin third semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> semester 3 </td>
                            <td class="strong_underline"> Foundament CU (CU3.1) </td>
                            <td>19</td>
                            <td>380</td>
                        </tr>
                        <!-- end heading section  -->


                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU 3.2) </td>
                            <td>11</td>
                            <td>220</td>
                        </tr>
                        <!-- end heading section -->

                    </tbody>
                    <!-- end third semester row -->

                    <!-- begin fourth semester row -->

                    <tbody class="table_row_stand_out">
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td rowspan="11"> semester 4 </td>
                            <td class="strong_underline"> Foundament CU (CU4.1) </td>
                            <td>18</td>
                            <td>360</td>
                        </tr>
                        <!-- end heading section -->
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU 4.2) </td>
                            <td>12</td>
                            <td>240</td>
                        </tr>
                        <!-- end heading section -->


                    </tbody>
                    <!-- end fourth semester row -->

                    <!-- begin fifth semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="7"> semester 5 </td>
                            <td class="strong_underline"> Foundament CU (CU5.1) </td>
                            <td>12</td>
                            <td>240</td>
                        </tr>
                        <!-- end heading section  -->


                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU 5.2) </td>
                            <td>18</td>
                            <td>360</td>
                        </tr>
                        <!-- end heading section -->

                    </tbody>
                    <!-- end fifth semester row -->

                    <!-- begin sixth semester row -->

                    <tbody class="table_row_stand_out">
                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="7"> semester 6 </td>
                            <td class="strong_underline"> Foundament CU (CU6.1) </td>
                            <td>12</td>
                            <td>240</td>
                        </tr>
                        <!-- end heading section  -->


                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU6.2) </td>
                            <td>18</td>
                            <td>360</td>
                        </tr>
                        <!-- end heading section -->


                    </tbody>
                    <!-- end sixth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>  180  </strong>  </td>
                            <td>  <strong>  3600  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. PROFESSIONNAL OUTLETS	</h3>
                <p class="description"> 
                   The jobs holders of the Bachelor of Arts in Translation & Interpretation can apply to are as following:
                </p>
                <ul class="one_list">
                    <li> Translator </li>
                    <li> Conference interpreter </li>
                    <li> Language teacher </li>
                    <li> Language Center Manager, etc. </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin seventh stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VI. COURSE EVALUATION </h3>
                <ul class="one_list">
                    <li> Continuous control for each lecture </li>
                    <li> An examination session (oral or written) at the end of each semester organized according to the subjects covered in the semester </li>
                    <li> Writing a report of a long internship before a jury at the end of the cycle </li>
                </ul>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. EVALUATION PROCESS </h3>
                <p class="description"> 
                   Each credit unit is evaluated in tripartite evaluation committees involving students, teachers and the academic director. The evaluation
                    commissions are placed under the dual responsibility of the academic director and the department for quality control. The evaluation process
                    requires for each credit unit the active participation of the students.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. DETAILED PROGRAMME FOR TRANSLATION & INTERPRETATION </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Bsc 1 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 1 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hours </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined Time </td>
                    </tr> 
                    
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> FOUNDAMENT CU (U1.1) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> TI-L1.1.1 </td>
                        <td> English grammar </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 32 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.2.1 </td>
                        <td> Practical of the Translation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L13.1 </td>
                        <td> Phonetics </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.4.1 </td>
                        <td> Linguistics & Stylistics </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L16.1 </td>
                        <td> English/French translation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.7.1 </td>
                        <td> French/English Translation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L17.1 </td>
                        <td> Laboratory </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> COMPLEMENT (CU1.2) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TI-L1.1.8 </td>
                        <td> French literature </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.1.9 </td>
                        <td> Written and oral expression </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.1.10 </td>
                        <td> Second language 2 </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 1 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 2 </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> FOUNDAMENT (CU2.1) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TI-L1.2.1 </td>
                        <td> English/French translation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.2.2 </td>
                        <td> French/English Translation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.2.3 </td>
                        <td> English grammar </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.2.4 </td>
                        <td> Phonetics </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.2.5 </td>
                        <td> British institutions </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.2.6 </td>
                        <td> Laboratory </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> COMPLEMENT (CU2.2) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TI-L1.2.7 </td>
                        <td> Written and oral expression </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.2.8 </td>
                        <td> English literature </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.2.9 </td>
                        <td> American literature </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.2.10 </td>
                        <td> British history </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L1.2.11 </td>
                        <td> Second language 2 </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 2 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL BA 1 </td>
                        <td>60</td>
                        <td>720</td>
                        <td>480</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->


    <!-- begin ninth stand out -->
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> BSc 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 3 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hours </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined Time </td>
                    </tr> 

                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> FOUNDAMENT (CU3.1) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> TI-L2.3.1 </td>
                        <td> English/French translation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.3.2 </td>
                        <td> French/English Translation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.3.3 </td>
                        <td> Phonetics </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.3.4 </td>
                        <td> Philology </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.3.5 </td>
                        <td> Grammar </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.3.6 </td>
                        <td> Laboratory </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> COMPLEMENT (CU3.2) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> TI-L2.3.7 </td>
                        <td> American civilization </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.3.8 </td>
                        <td> Anglo-Saxon literature </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.3.7 </td>
                        <td> Written and oral expression </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.3.7 </td>
                        <td> Second language 2 </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.3.7 </td>
                        <td> Civilisation </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 


                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 3 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 4 </td>
                    </tr>

                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> FOUNDAMENT (CU4.1) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> TI-L2.4.1 </td>
                        <td> English/French translation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.4.2 </td>
                        <td> French/English Translation </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.4.3 </td>
                        <td> Written and oral expression </td>
                        <td> 02 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.4.4 </td>
                        <td> Phonetics </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.4.5 </td>
                        <td> Laboratory </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.4.6 </td>
                        <td> Philology </td>
                        <td> 02 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> COMPLEMENT (CU4.2) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TI-L2.4.7 </td>
                        <td> Linguistics </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.4.8 </td>
                        <td> American civilization </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.4.9 </td>
                        <td> Anglo-Saxon literature </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.4.10 </td>
                        <td> Civilization </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L2.4.11 </td>
                        <td> Second language 2 </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 4 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL BA 2 </td>
                        <td>60</td>
                        <td>720</td>
                        <td>480</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end ninth stand out -->


    <!-- begin tenth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> BSc 3 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 5 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hours </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined Time </td>
                    </tr> 

                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> FOUNDAMENT (CU5.1) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> TI-L3.5.1 </td>
                        <td> English/French translation </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L3.5.2 </td>
                        <td> French/English Translation </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> COMPLEMENT (CU5.2) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TI-L3.5.3 </td>
                        <td> Anglo-Saxon literature </td>
                        <td> 05 </td>
                        <td> 60 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L3.5.4 </td>
                        <td> Anglo-Saxon civilization </td>
                        <td> 05 </td>
                        <td> 60 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L3.5.5 </td>
                        <td> History of the language </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L3.5.6 </td>
                        <td> Civilization </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    
                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 5 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 6 </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> FOUNDAMENT (CU6.1) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TI-L3.6.1 </td>
                        <td> English/French translation </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L3.6.2</td>
                        <td> French/English Translation </td>
                        <td> 06 </td>
                        <td> 72 </td>
                        <td> 48 </td>
                        <td> 120 </td>
                    </tr>


                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> COMPLEMENT (CU6.2)  </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TI-L3.6.3 </td>
                        <td> History of the language </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L3.6.4 </td>
                        <td> Anglo-Saxon literature </td>
                        <td> 05 </td>
                        <td> 50 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L3.6.5 </td>
                        <td> Anglo-Saxon civilization </td>
                        <td> 05 </td>
                        <td> 50 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TI-L3.6.6 </td>
                        <td> Anglo-Saxon civilization </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 6 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL BA 3 </td>
                        <td>60</td>
                        <td>720</td>
                        <td>480</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end tenth stand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}