@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Bim-Edu SCIENCE POLITIQUE & RELATIONS INTERNATIONALES ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> BACHELOR PROGRAM (B1, B2, B3) </h1>
        <h2 class="sub_main_heading"> POLITICAL SCIENCE AND INTERNATIONAL RELATIONS </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITLE AND CLASSIFICATION   	</h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Title of the Degree </td>
                        <td> Area of training (area of skill) </td>
                        <td> Mention (major theme of the course) </td>
                        <td> Speciality (specificity of the mention) </td>
                    </tr>
                    <tr> 
                        <td> Bachelor </td>
                        <td> Human Science </td>
                        <td> International studies </td>
                        <td> Political Science & International Relations </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin second stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. PEDAGOGICAL GOALS </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Program origin </h3>
                <p class="description"> 
                    International relations occupy an important place in historiography and research. International relations are the analysis and explanation of the
                    relations established between states through politicians (diplomatic acts) but also the relationships established by individuals with other
                    individuals across borders. These two relations are inseparable from each other, even if one of them can be predominant. International relations
                    therefore study the actions of politicians, economic actors and non-political actor interactions that cross borders. These relationships can be
                    economic, social, legal, etc. In doing so, any country that wants to find a place in the concert of nations is called to build excellent diplomatic
                    relations with other countries. This requires the use of specialists in the field. Hence the need for us to offer a complete training in "International
                    Studies" with honors "Political Science and International Relations" to develop in our students skills for the exercise of diplomacy and political
                    science.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Program objectives </h3>
                <h3 class="smaller_heading"> II.2.1. General objectives </h3>
                <p class="description"> 
                    The Bachelor's degree in International Studies, Political Science and International Relations, is a three-year course. The proposed curriculum
                    aims to provide a solid foundation of knowledge in the field of Political Science and International Relations.                   
                </p>

                <h3 class="smaller_heading"> II.2.2. Specific goals </h3>
                <p class="description"> 
                    <strong> Common run with the mention </strong><br/>
                   This program allows the student to: <br/>
                </p>
                <ul class="one_list">
                    <li> Identify and analyze major issues related to international relations, </li>
                    <li> Analyze and follow the international news, </li>
                    <li> Have an expanded knowledge of the field of political science and international relations, </li>
                    <li> Have an openness to the other social and legal sciences. </li>
                </ul>

                <h3 class="small_heading"> II.3. Program approach </h3>
                <p class="description"> 
                    The professional degree program in "Political Science & International Relations" prepares students in the fields of diplomacy, especially for
                    international and intercultural exchange, and specialist in political science and international relations.
                </p>

            </div>

        </figure>

        <!-- end second stand out  -->

        <!-- begin third stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> III. ADMISSION REQUIREMENTS </h3>

            <p class="description"> 
               Admission requirements are as follows:
            </p>
            <ul class="one_list">

                <li> 
                   Admission in B1 on file review and / or competitions open to the holders of the High School Diploma
                </li>

                <li> 
                    Direct admission in B3 for students with a 2nd year law degree, sociology, psychology, management science, or all similar courses, with a
                    GPA of 3.4 or abov
                </li>

            </ul>

        </figure>

        <!-- end third stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. DETAILED PRESENTATION OF COURSE CURRICULUM </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Organization of the bachelor in Political Science & International Relations in CU </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Bachelor of <br/> Science in <br/> Finance	& <br/> Accounting </td>
                        <td rowspan="2" > Nb of semesters </td>
                        <td colspan="7" class="long_bottom_border"> Credit Units of the Master </td>
                        <td rowspan="2" > Credit </td>
                        <td rowspan="2"> Time allocated (Hours) </td>
                    </tr>
                    <tr> 
                        <td> Foundament CU </td>
                        <td> Transverse CU </td>
                        <td> Deepening CU </td>
                        <td> Optional CU </td>
                        <td> Complement CU  </td>
                        <td> Free CU </td>
                        <td class="right_side_border"> Refresher CU </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> B.1 </strong>  </td>
                        <td> 2 SEMESTERs </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Political	<br/>
                                    Science	and<br/>
                                    International<br/>
                                    Relations
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li> Tools,<br/>
                                    Languages and<br/>
                                    Methodology
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Fundamentals <br/> of economics and<br/>  management
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> B.2 </strong>  </td>
                        <td> 2 SEMESTERs </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Political	<br/>
                                    Science	and<br/>
                                    International<br/>
                                    Relations
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li> Tools,<br/>
                                    Languages and<br/>
                                    Methodology
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Fundamentals <br/> of economics and<br/>  management
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>


                    <tr class="border_top"> 
                        <td> <strong> B.3 </strong>  </td>
                        <td> 2 SEMESTERs </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Political	<br/>
                                    Science	and<br/>
                                    International<br/>
                                    Relations
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li> Thematic,<br/>
                                    Languages and<br/>
                                    openings
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Fundamentals <br/> of economics and<br/>  management
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Standard composition of the bachelor degree in Political Science & International Relations</h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semesters </td>
                        <td> Teaching Unit for bachelor </td>
                        <td> Credits </td>
                        <td> Time allocate/hour </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> SEMESTER 1 </td>
                            <td class="strong_underline"> Fundament CU (CU1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU1.1 Political	
                                Science	
                                and	
                                International	
                                Relations
                            </td>
                            <td> 09 </td>
                            <td> 180 </td>
                        </tr>
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU2) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU2.1 Fundamentals	
                                of	
                                economics	
                                and	
                                management
                            </td>
                            <td> 12 </td>
                            <td> 240 </td>
                        </tr>
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU3) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU3.1 Tools,	
                                Languages	
                                and	
                                Methodology	                                
                            </td>
                            <td> 09 </td>
                            <td> 180 </td>
                        </tr>
                        

                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> SEMESTER 2 </td>
                            <td class="strong_underline"> Fundament CU (CU4) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU4.1 Political	
                                Science	
                                and	
                                International	
                                Relations
                            </td>
                            <td> 09 </td>
                            <td> 180 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU5) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU5.1 Fundamentals	
                                of	
                                economics	
                                and	
                                management	                                
                            </td>
                            <td> 11 </td>
                            <td> 220 </td>
                        </tr>
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU6) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU6.1 Tools,	
                                Languages	
                                and	
                                Methodology	                                
                            </td>
                            <td> 10 </td>
                            <td> 200 </td>
                        </tr>

                    </tbody>
                    <!-- end second semester row -->

                    <!-- begin third semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> SEMESTER 3 </td>
                            <td class="strong_underline"> Fundament CU (CU1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU1.1 Political	
                                Science	
                                and	
                                International	
                                Relations
                            </td>
                            <td> 09 </td>
                            <td> 180 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU2) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU2.1 Fundamentals	
                                of	
                                economics	
                                and	
                                management
                            </td>
                            <td> 12 </td>
                            <td> 240 </td>
                        </tr>
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU3) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               CU3.1 Tools,	
                                Languages	
                                and	
                                Methodology	
                            </td>
                            <td> 09 </td>
                            <td> 180 </td>
                        </tr>

                    </tbody>
                    <!-- end third semester row -->

                    <!-- begin fourth semester row -->

                    <tbody class="table_row_stand_out">
                        
                            <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> SEMESTER 4 </td>
                            <td class="strong_underline"> Fundament CU (CU4) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU4.1 Political	
                                Science	
                                and	
                                International	
                                Relations
                            </td>
                            <td> 08 </td>
                            <td> 160 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU5) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU5.1 Fundamentals	
                                of	
                                economics	
                                and	
                                management
                            </td>
                            <td> 12 </td>
                            <td> 240 </td>
                        </tr>
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU6) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU6.1 Tools,	
                                Languages	
                                and	
                                Methodology	                                        
                            </td>
                            <td> 10 </td>
                            <td> 200 </td>
                        </tr>

                    </tbody>
                    <!-- end fourth semester row -->

                    <!-- begin fifth semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> SEMESTER 5 </td>
                            <td class="strong_underline"> Fundament CU (CU1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU1.1 Political	
                                Science	
                                and	
                                International	
                                Relations
                            </td>
                            <td> 09 </td>
                            <td> 180 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU2) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU2.1 Fundamentals	
                                of	
                                economics	
                                and	
                                management
                            </td>
                            <td> 11 </td>
                            <td> 220 </td>
                        </tr>
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU3) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU3.1 Tools,	
                                Languages	
                                and	
                                Methodology	
                            </td>
                            <td> 10 </td>
                            <td> 200 </td>
                        </tr>
                    </tbody>
                    <!-- end fifth semester row -->

                    <!-- begin sixth semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> SEMESTER 6 </td>
                            <td class="strong_underline"> Fundament CU (CU4) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU4.1 Political	
                                Science	
                                and	
                                International	
                                Relations
                            </td>
                            <td> 10 </td>
                            <td> 200 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU5) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU5.1 Fundamentals	
                                of	
                                economics	
                                and	
                                management
                            </td>
                            <td> 10 </td>
                            <td> 200 </td>
                        </tr>
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU6) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               CU6.1 Thematic	
                                languages	
                                and	
                                openings		
                            </td>
                            <td> 05 </td>
                            <td> 100 </td>
                        </tr>
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Stage	</td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section -->

                    </tbody>
                    <!-- end sixth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>  180  </strong>  </td>
                            <td>  <strong>  3600  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. CAREER OPPORTUNITIES	</h3>
                <p class="description"> 
                   The jobs for which the Political Science & International Relations bachelor holders can apply are:
                </p>
                <ul class="one_list">
                    <li> Administration and management of the voluntary sector, </li>
                    <li> Journalism (print, radio), </li>
                    <li> International Community and Business Services, </li>
                    <li> Public Relations Services, etc. </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin seventh stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VI. COURSE EVALUATIONS </h3>
                <ul class="one_list">
                    <li> Continuous evaluations for each lecture </li>
                    <li> Examination sessions (oral and written) at the end of each semester organized according to the subjects covered in the semester </li>
                    <li> Dissertation presented before a jury at the end of the course. </li>
                </ul>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. EVALUATION PROCESS </h3>
                <p class="description"> 
                    Each credit unit is evaluated in tripartite evaluation committees involving students, teachers and the academic director. The evaluation
                    commissions are placed under the dual responsibility of the academic director and the department for quality control. The evaluation process
                    requires for each credit unit the active participation of the students.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. DETAILED PROGRAM FOR POLITICAL SCIENCE & INTERNATIONAL RELATIONS </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> BA 1 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTER 1 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> 
                            CU1.1 Political Science and International Relations
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> SPRI-L1.1.1 </td>
                        <td> Introduction to Political Science </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 32 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.2.1 </td>
                        <td> Introduction to Law </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 23 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L13.1 </td>
                        <td> Methods and techniques of Political Science </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.1 Fundamentals of economics and management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L1.4.1 </td>
                        <td> Economic news and contemporary issues </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.5.1 </td>
                        <td> History of economic and social facts </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.6.1 </td>
                        <td> Introduction to management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> SPRI-L1.7.1 </td>
                        <td> Simulation of business management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> TRANSVERSE CU (CU3) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU3.1 Tools, Languages and Methodology </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L1.8.1 </td>
                        <td> French I </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.9.1 </td>
                        <td> Spanish I </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.10.1 </td>
                        <td> Statistics </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.11.1 </td>
                        <td> data processing </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.12.1 </td>
                        <td> Personal Development (ORET) </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTER 1 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTER 2 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU4) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> 
                            CU4.1 Political Science and	International Relations
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L1.1.2 </td>
                        <td> Political sociology </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.2.2 </td>
                        <td> Constitutional Law </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.3.2 </td>
                        <td> Institutions and political life </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU5) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU5.1 Fundamentals of economics and management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L1.4.2 </td>
                        <td> Microeconomics 1 </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> SPRI-L1.5.2 </td>
                        <td> Macroeconomics 1 </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> SPRI-L1.6.3 </td>
                        <td> Negotiation </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.7.3 </td>
                        <td> Introduction to accounting and corporate finance </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU6) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU6.1 Tools, Languages and Methodology </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L1.8.2 </td>
                        <td> French </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.8.2 </td>
                        <td> Spanish </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.9.2 </td>
                        <td> Applied mathematics </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.10.2 </td>
                        <td> Computers, digital tools </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.11.2 </td>
                        <td> Personal Development (Stress Management) </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L1.12.2 </td>
                        <td> Conferences and seminars outside walls </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTER 2 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL BA 1 </td>
                        <td>60</td>
                        <td>720</td>
                        <td>480</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->


    <!-- begin ninth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> BA 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTER 3 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> 
                            CU1.1 Political	Science	and	 International Relations
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> SPRI-L2.1.3 </td>
                        <td> African institutions </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.2.3 </td>
                        <td> African Union law </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.3.3 </td>
                        <td> History of international political events </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.1 Fundamentals of economics and management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> SPRI-L2.4.3 </td>
                        <td> Microeconomics II </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.5.3 </td>
                        <td> Currency and financial markets </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.6.3 </td>
                        <td> Introduction to marketing and international trade </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.7.3 </td>
                        <td> Control management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> TRANSVERSE CU (CU3) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU3.1 Tools, Languages and Methodology </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> SPRI-L2.8.3 </td>
                        <td> French II </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.9.3 </td>
                        <td> Spanish II </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.10.3 </td>
                        <td> Mathematics and statistics </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.11.3 </td>
                        <td> Computers, digital tools </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.12.3 </td>
                        <td> Personal development and prof. (self-confidence, proj) </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    
                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTER 3 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTER 4 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> FUNDAMENT CU (CU4) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> 
                            CU4.1 Political	Science	and	International Relations
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L2.1.4 </td>
                        <td> Geopolitics </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.2.4 </td>
                        <td> Specialized political sociology </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.3.4 </td>
                        <td> Introduction to international and strategic relations </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.4.4 </td>
                        <td> Demography </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU5) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU5.1 Fundamentals of economics and management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L2.5.4 </td>
                        <td> Theory of games and decisions </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.6.4 </td>
                        <td> International economy </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.7.4 </td>
                        <td> Organizational Behaviors </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.8.4 </td>
                        <td> Human Resource Management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> TRANSVERSE CU (CU6) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU6.1 Tools, Languages and Methodology </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L2.9.4 </td>
                        <td> Information Systems, Strategy and Security </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.10.4 </td>
                        <td> French </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.11.4 </td>
                        <td> Spanish </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.12.4 </td>
                        <td> Personal and professional development </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.13.4 </td>
                        <td> Conferences and seminars outside walls </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L2.14.4 </td>
                        <td> Citizens actions </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTER 4 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL BA 2 </td>
                        <td>60</td>
                        <td>720</td>
                        <td>480</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end ninth stand out -->


    <!-- begin tenth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> BA 3 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTER 5 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> 
                            Political Science and International Relations 
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> SPRI-L3.1.5 </td>
                        <td> International institutions </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.2.5 </td>
                        <td> Sociology of international relations </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.3.5 </td>
                        <td> International law </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>  

                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.1 Fundamentals of economics and management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> SPRI-L3.4.5 </td>
                        <td> Public Economy </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.5.5 </td>
                        <td> Economic growth </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.6.5 </td>
                        <td> Theory of Organizations / Management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.7.5 </td>
                        <td> Entrepreneurship </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 


                    <tr> 
                        <td class="emphasis" colspan="6"> TRANSVERSE CU (CU3) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU3.1 Tools, Languages and Methodology </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> SPRI-L3.4.5 </td>
                        <td> Ethics & deontology </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.9.5 </td>
                        <td> Crisis Management Simulation </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.10.5 </td>
                        <td> Quantitative techniques </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.11.5 </td>
                        <td> French </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.12.5 </td>
                        <td> Spanish </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.13.5 </td>
                        <td> Personal development (leadership, conflict management) </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTER 5 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTER 6 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU4) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> 
                            CU4.1 Political Science and International Relations 
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L3.1.6 </td>
                        <td> Economic intelligence and strategic watch </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.2.6 </td>
                        <td> Political and sensitive communication </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.3.6 </td>
                        <td> Media and public opinion analysis </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU5) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU5.1 Fundamentals of economics and management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L3.4.6 </td>
                        <td> Economic policy </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.5.6 </td>
                        <td> African economy </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.6.6 </td>
                        <td> Strategic diagnosis </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.7.6 </td>
                        <td> Business game </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>
                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> TRANSVERSE CU (CU6) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU6.1 Thematic languages and openings </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> SPRI-L3.8.6 </td>
                        <td> French </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.9.6 </td>
                        <td> Spanish </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.10.6 </td>
                        <td> Simulation of international crisis management</td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> SPRI-L3.11.6 </td>
                        <td> Internship </td>
                        <td> 06 </td>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTER 6 </td>
                        <td>30</td>
                        <td>288</td>
                        <td>312</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL BA 3 </td>
                        <td>60</td>
                        <td>639</td>
                        <td>552</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end tenth stand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}