@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Bim-Edu GESTION & PILOTAGE DE PROJETS ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> BACHELOR’S DEGREE PROGRAM (B1, B2, B3) </h1>
        <h2 class="sub_main_heading"> PROJECT MANAGEMENT </h1>

    <!-- begin first stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> I TITLE AND CLASSIFICATION OF THE DIPLOMA </h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Title of the diploma </td>
                        <td> Training area (fields of competences) </td>
                        <td> Mention (major topic of the course)</td>
                        <td> Speciality (specificity of the mention)</td>
                    </tr>
                    <tr> 
                        <td> Bachelor of Science </td>
                        <td> Management Sciences </td>
                        <td> Management </td>
                        <td> Project Management </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin second stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. PEDAGOGICAL OBJECTIVES </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origine of the program </h3>
                <p class="description"> 
                    Project management, in its modern form, has only begun to take root in the last few decades. From the early 1960s, companies began to realize
                    the utility of organizing project work. This vision of project-based organization grew as organizations began to realize the critical need for their
                    employees to communicate and collaborate in a professional context involving multiple services and professions, and in some cases set of
                    industrial sectors. With this constant, Business Intelligence Institute has set up a program of continuous and initial training entitled Management
                    and project management to address the concerns of organizations.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Program Objectives </h3>
                <h3 class="smaller_heading"> II.2.1. General Objective </h3>
                <p class="description"> 
                    The Bachelor of Science in Project Management is structured around two inseparable and design-oriented semesters for planning, monitoring and
                    evaluation of projects and programs. The aim is to train managers who are able to employ themselves or to be employed by companies,
                    consulting firms and humanitarian NGOs, by providing them with a foundation of knowledge in project management.                   
                </p>

                <h3 class="smaller_heading"> II.2.2. Specific Objectives </h3>
                <p class="description"> 
                    <strong> Commun run with the mention </strong><br/>
                    Students at the end of this program will be able to: <br/>
                </p>
                <ul class="one_list">
                    <li> Work in all national and international companies and NGOs; </li>
                    <li> Pilot an industrial project, computer, sanitary etc. ; </li>
                    <li> Manage, coordinate a research team for a specific purpose; </li>
                    <li> Elaboration of projects and programs; </li>
                    <li> Strategic and operational planning of the various projects; </li>
                    <li> Development of concept notes for projects; </li>
                    <li> Capitalization of good practices; </li>
                    <li> Participate in the development of tools and guidelines for the collection, compilation and reporting of activity (output) and outcome (outcome) data;</li>
                    <li> Provide monthly, quarterly, and annual form-based monitoring and evaluation reports to guide management decisions and programming; </li>
                    <li> Provide regular reports on the performance of monitoring and evaluation systems; </li>
                    <li> Design, organize, plan and monitor the operational implementation of the activities, projects, plans and programs of a department within a private or public entity. </li>
                </ul>

                <h3 class="small_heading"> II.3. Approach to the program </h3>
                <p class="description"> 
                    The program prepares for the Project Manager course and is intended to prepare for careers in civil society organizations, the public or the
                    private sector.
                </p>

            </div>

        </figure>

        <!-- end second stand out  -->

        <!-- begin third stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> III. ADMISSION REQUIREMENTS </h3>

            <p class="description"> 
               Admission requirements are as follow:
            </p>
            <ul class="one_list">

                <li> 
                    Direct admission for students with a 2nd year study level (Associates degree) and with a general average above or equal to 12/20;
                </li>

                <li> 
                    Or direct admission on file review for professionals of NGOs and Associations working in the humanitarian field with relevant
                    professional experience.
                </li>

            </ul>

        </figure>

        <!-- end third stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. DETAILED PRESENTATION OF THE COURSE CURRUCULUM </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Organization of the Bachelor of Science in Project Management </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Bachelor of <br/> Science in Project <br/> management </td>
                        <td rowspan="2" > Nb de semesters </td>
                        <td colspan="7" class="long_bottom_border"> Credit Units of the Bachelor’s Degree </td>
                        <td rowspan="2" > Credit </td>
                        <td rowspan="2"> Time allocated (Hours)</td>
                    </tr>
                    <tr> 
                        <td> Fundament CU </td>
                        <td> Transverse CU </td>
                        <td> Deepening CU </td>
                        <td> Optional CU </td>
                        <td> Complementary CU </td>
                        <td> Free CU </td>
                        <td class="right_side_border"> Over has CU </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> BSc.1 </strong>  </td>
                        <td> 2 Semesters </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Basic knowledge <br/>
                                    in project <br/>
                                    management
                                </li>
                                <li> 
                                    Tools for piloting <br/>
                                    of projects 
                                </li>
                                <li> 
                                    Internship & <br/>
                                    dissertation
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Technique of <br/>
                                    written & oral <br/>
                                    expression
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Project finance <br/>
                                    management
                                </li>
                                <li> 
                                    Knowledge of <br/>
                                    the <br/>
                                    organizations &<br/>
                                    communication
                                </li>
                                <li> 
                                    Legal <br/>
                                    environment of <br/>
                                    projects
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Standard content of the Bachelor of Science in Project Management </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semesters </td>
                        <td> Credit Units of the Bachelor </td>
                        <td> Credits </td>
                        <td> Time allocated/H </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> Semester 5 </td>
                            <td class="strong_underline"> Foundament (CU1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU1.1 Basic knowledge in project management
                            </td>
                            <td> 11 </td>
                            <td> 220 </td>
                        </tr>
                        <tr> 
                            <td> 
                                CU1.2 Tools for piloting of projects
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU2) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU2.1 Project Accounting
                            </td>
                            <td> 07 </td>
                            <td> 140 </td>
                        </tr>
                        <tr> 
                            <td> 
                               CU2.2 Knowledge of the organizations & Com
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>

                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> Semester 6 </td>
                            <td class="strong_underline">Foundament (CU3) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                              CU3.1 Basic knowledge in project management
                            </td>
                            <td> 10 </td>
                            <td> 200 </td>
                        </tr>
                        <tr> 
                            <td> 
                             CU3.2 Professional internship
                            </td>
                            <td> 08 </td>
                            <td> 160 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU4) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU4.1. Legal environment of projects
                            </td>
                            <td> 08 </td>
                            <td> 160 </td>
                        </tr>
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU5) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU5.1. Technique of written & oral expression
                            </td>
                            <td> 04 </td>
                            <td> 80 </td>
                        </tr>

                    </tbody>

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>  60  </strong>  </td>
                            <td>  <strong>  3600  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. PROFESSIONNAL OUTLETS	</h3>
                <p class="description"> 
                   Opportunities for graduates of the Bachelor's Degree in Project Management are as follow:
                </p>
                <ul class="one_list">
                    <li> Administrator of NGO or humanitarian association; </li>
                    <li> Head or coordinator of projects and programs; </li>
                    <li> Responsible for sector statistics; </li>
                    <li> Project Manager; </li>
                    <li> Program Officer; </li>
                    <li> Assistant in monitoring and evaluation of projects and programs. </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin seventh stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VI. COURSE EVALUATION </h3>
                <ul class="one_list">
                    <li> Continuous control for each lecture </li>
                    <li> An examination session at the end of each semester organized according to the subjects covered in the semester </li>
                    <li> Dissertation presented before a jury at the end of the course. </li>
                </ul>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. EVALUATION PROCESS </h3>
                <p class="description"> 
                    Each credit unit is evaluated within our commission of evaluation. The commission of evaluation is placed under the dual responsibility of the
                    academic director and the department of quality control. The evaluation process requires active participation of the students for each Credit Unit.
                    The synthesis of the information collected by the commission of evaluation contributes to determining the amendments to be made to the credit
                    unit under consideration and to improving the offer of education.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. DETAILED PROGRAM FOR BSc IN PROJECT MANAGEMENT </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> BSc 3 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> Semester 5 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Codes </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hours </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined Time </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> Foundament (CU1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.1 Basic knowledge in project management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> GPP-L1.1.5 </td>
                        <td> Project Situation analysis </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 32 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.2.5 </td>
                        <td> Initiation to Project Cycle Management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 23 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.3.5 </td>
                        <td> Follow-up-evaluation of project </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.4.5 </td>
                        <td> Integration of the gender in projects </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.2 Tools for piloting of the projects </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GPP-L1.5.5 </td>
                        <td> Project financing</td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.6.5 </td>
                        <td> Statistical Analysis of project data </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.6.5 </td>
                        <td> Simulation of project management with MS Project </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> COMPLEMENT CU2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.1 Project Accounting </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GPP-L1.8.5 </td>
                        <td> Financial management of project </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.9.5 </td>
                        <td> Project Financial Auditing </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.10.5 </td>
                        <td> Financial and economic analysis of projects </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.2 Knowledge of the organizations & Communication </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GPP-L1.11.5 </td>
                        <td> Human Resource Management </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.12.5 </td>
                        <td> Sociology et evolution of organizations</td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.13.5 </td>
                        <td> Interpersonnal communication techniques </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL Semester 5 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> Semester 6 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> Foundament (CU3) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU3.1 Basic knowledge in project management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GPP-L1.1.6 </td>
                        <td> Analysis of project logical framework </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.2.6 </td>
                        <td> Methods of invitation to tender </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 40 </td>
                    </tr> 
                    
                    <tr> 
                        <td class="emphasis"> GPP-L1.3.6 </td>
                        <td> Team Management and piloting of meeting </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 
                    
                    <tr> 
                        <td class="emphasis"> GPP-L1.4.6 </td>
                        <td> Project risk Management & analysis </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE3.2 Intership </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GPP-L3.ST.6 </td>
                        <td> Professional relationships III </td>
                        <td> 08 </td>
                        <td> 00 </td>
                        <td> 160 </td>
                        <td> 160 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU4) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU4.1 Legal environment of projects </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GPP-L3.5.6 </td>
                        <td> Business law </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.6.6 </td>
                        <td> Industrial property law </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 
                    
                    <tr> 
                        <td class="emphasis"> GPP-L1.7.6 </td>
                        <td> Social law </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 
                    
                    <tr> 
                        <td class="emphasis"> GPP-L1.8.6 </td>
                        <td> Project taxation </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> Transverse CU (CU5) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU5.1 Technique of written & oral expression </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> GPP-L3.9.6 </td>
                        <td> Professional English </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> GPP-L1.10.6 </td>
                        <td> Methodology of dissertation drafting </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 


                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL Semester 6 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL BSc 3 </td>
                        <td>60</td>
                        <td>720</td>
                        <td>480</td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>


    <!-- end tenth stand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}