@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Bim-Edu Business Administration (DBA) ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h2 class="sub_main_heading"> Doctor Of Business Administration (DBA) </h1>

    <!-- begin stand out -->
        <figure class="stand_out">
                <p class="description"> 
                   The DBA program is a rigorous academic program reflecting independent mastery of
                    a specialized field of knowledge and the successful pursuits of original research.
                    Efforts require academic discipline together with a significant commitment of time and
                    effort. It involves highly focused study in a particular area of interest and culminates
                    in the research efforts of original work. BIIM offers online doctoral programs that are
                    flexible and convenient, allowing students to work towards their degree from
                    anywhere and anytime. As students work to progress their professional goals, one of
                    BIIM’s highly qualified DBA mentors will assist each student with an individualized
                    and personalized experience.
                </p>
        </figure>

        <!-- end tand out -->
    <!-- begin stand out -->
        <figure class="stand_out">
                <p class="description"> 
                   The DBA program represents an extended academic study into a particular field of
                    knowledge with a clearly defined objective. Students will work closely with their
                    professors who will also provide mentorship to obtain approvals in each step of the
                    doctoral learning process. Those who earn the DBA degree must be able to
                    demonstrate significant intellectual achievement and must contribute to their
                    respective field of investigation via scholarly knowledge. Therefore, candidates of the
                    DBA program should have earned their master’s degree in the same field of study
                    chosen for their doctoral work.
                </p>
        </figure>

        <!-- end tand out -->
    <!-- begin stand out -->
        <figure class="stand_out">
                <p class="description"> 
                   Minimum completion time of 18 months and up to maximum period of 36 months.
                    Students are eligible for internet access to University eCampus courses, which
                    enable business travelers/distance learners to participate in the program even when
                    they have to travel to other cities.
                </p>
        </figure>

        <!-- end tand out -->
    <!-- begin stand out -->
        <figure class="stand_out">
                <p class="description"> 
                   BIIM is an innovative institution offering distance-learning opportunity to working
                    adults by providing accredited, affordable and flexible online programs. Most of our
                    programs are 100% online self-paced which enable students to learn anytime
                    anywhere. Scholarship is especially designed for developing/evolving countries' and
                    disabled students since we believe that education is for all.
                </p>
        </figure>

        <!-- end tand out -->
    <!-- begin stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> Admission Requirement	</h3>
                <ul class="one_list">
                    <li> A good postgraduate degree, or </li>
                    <li> Professional Experience Entry with a Bachelor Degree, or </li>
                    <li> Other qualifications subject to assessment by BIIM </li>
                </ul>
        </figure>

        <!-- end tand out -->

    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}