@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Bim-Edu PROJECT MANAGEMENT AND EVALUATION ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> MASTER PROGRAM (M1 - M2)</h1>
        <h2 class="sub_main_heading"> EVALUATION & GESTION DE PROJETS </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITLE AND CLASSIFICATION	</h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Title of the Degree </td>
                        <td> Area of expertise (area of skill) </td>
                        <td> Mention (major topic of the course) </td>
                        <td> Speciality (specificity of the mention) </td>
                    </tr>
                    <tr> 
                        <td> Master </td>
                        <td> Sciences of management </td>
                        <td> Management </td>
                        <td> Project Management and Evaluation </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin second stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. EDUCATIONAL OBJECTIVES    </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origin of the program   </h3>
                <p class="description"> 
                    Within private organizations or public bodies, there are professions and skills for which general training in business economics, management,
                    economic evaluation of decisions and control of the multidimensional reality of management problems are required. The Master of Science in
                    "Project Management and Evaluation" meets these needs by emphasizing the different dimensions of evaluation, technology, data processing or
                    information
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Objectives of the program </h3>
                <h3 class="smaller_heading"> II.2.1. General objectives </h3>
                <p class="description"> 
                    The overall objective of the Master of Science in Project Management and Evaluation is to provide quality and operational training in " Project
                    Management and Evaluation ". The aim is to provide students with the key tools for the design, organisation and management of development
                    projects/programmes, as well as the basics for conducting project and programme evaluation missions.
                </p>

                <h3 class="smaller_heading"> II.2.2. Specific Objectives </h3>
                <p class="description"> 
                    <strong> Commun run to the mention </strong><br/>
                    At the end of this program, the student will be able to:
                </p>
                <ul class="one_list">
                    <li> 
                        Design and implement development projects and programs in different business lines
                    </li>
                    <li> 
                        Advise and assist development institutions
                    </li>
                    <li> 
                        Conduct financial and economic evaluation of development projects/programmes
                    </li>
                </ul>

                <h3 class="small_heading"> II.3. Program approach </h3>
                <p class="description"> 
                    The Master of Science in Project Management and Evaluation opens up two perspectives: project management/innovation in
                    companies/organizations and the evaluation of projects and development programmes.
                </p>

            </div>

        </figure>

        <!-- end second stand out  -->

        <!-- begin third stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> III. ADMISSION REQUIREMENT </h3>

            <p class="description"> 
                The course is open to professionals from NGOs and associations or anyone interested in international development and humanitarian professions.
                Access to M1, for any candidate who has validated the Bachelor’s degree in economics, law, sociology, psychology, or any diploma deemed
                equivalent.
                Access in M2 for those who have validated the M1 in related fields.
                The selection of candidates is on file review.
            </p>

        </figure>

        <!-- end third stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. DETAILED PRESENTATION OF COURSE UNITS    </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Organisation Of The Master of Science In Project Management And Evaluation </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Master in <br/> Project Management  <br/> and <br/> Evaluation	</td>
                        <td rowspan="2" > Nb of semesters </td>
                        <td colspan="7" class="long_bottom_border"> Credit Units of the Master </td>
                        <td rowspan="2" > Credit </td>
                        <td rowspan="2"> Time allocated (Hours) </td>
                    </tr>
                    <tr> 
                        <td> Foundament CU </td>
                        <td> Transverse CU </td>
                        <td> Deepening CU </td>
                        <td> Optional CU </td>
                        <td> Complement CU  </td>
                        <td> Free CU </td>
                        <td class="right_side_border"> Refresher CU </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.1 </strong>  </td>
                        <td> 2 semesters </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Historical Fact
                                </li>
                                <li> 
                                    Organizational
                                    structure
                                </li>
                                <li> 
                                    Organizational
                                    Project
                                    Configuration
                                </li>
                                <li> 
                                    Project
                                    management
                                    methods
                                </li>
                                <li> 
                                    Case Study:
                                    Project Feasibility
                                </li>
                                <li> 
                                    Project
                                    documentation
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Informed
                                    Decisions
                                    Tools
                                </li>
                                <li> 
                                    Practice
                                </li>
                                <li> 
                                    Software for
                                    project
                                    monitoring
                                    and
                                    evaluation
                                </li>
                                <li> 
                                    Law
                                </li>
                                <li> 
                                    Languages
                                    and HRM
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.2 </strong>  </td>
                        <td> 2 semesters </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Institutional
                                    environment of
                                    projects
                                </li>
                                <li>
                                    Project Audit
                                </li>
                                <li>
                                    Economic
                                    (Accounting and
                                    financial
                                    management)
                                </li>
                                <li>
                                    Project design
                                </li>
                                <li>
                                    Strategic Planning
                                </li>
                                <li>
                                    Operational
                                    Planning and
                                    Project Delivery
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Research
                                    Methodolog
                                    y
                                </li>
                                <li>
                                    Intercultural
                                    management
                                </li>
                                <li>
                                    Monitoring
                                    and
                                    evaluation of
                                    projects and
                                    programmes
                                </li>
                                <li>
                                    Evaluation
                                    of projects
                                    and
                                    programmes
                                </li>
                            </ul>
                       </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>
            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Standard content of the Master of Science in Project Management & Evaluation </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semesters </td>
                        <td> Credit Unit for Master </td>
                        <td> Credits </td>
                        <td> Time allocated </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> semester 7 </td>
                            <td class="strong_underline"> CU Fundament (CU7.1) </td>
                            <td>24</td>
                            <td>480</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU7.1.1 Historical Facts
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU7.1.2 The organizational structure
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU7.1.3 Organizational Project Configuration
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU7.1.4 Project Management Methods
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <!-- begin heading section  -->
                        <tr> 
                            <td class="strong_underline"> CU Complement (CU7.2) </td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU7.2.1Informed Decision Tools
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> semester 8 </td>
                            <td class="strong_underline"> CU Fundament (CU8.1) </td>
                            <td> 10 </td>
                            <td> 200 </td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               CU8.1.1 Case study: project feasibility
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU8.1.2 Project Documentation
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> CU Complement (CU8.2) </td>
                            <td>20</td>
                            <td>400</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               CU8.2.1 Software for project monitoring and evaluation
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU8.2.2 Law
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU8.2.3 Languages and HRM
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                    </tbody>
                    <!-- end second semester row -->

                    <!-- begin third semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> semester 9 </td>
                            <td class="strong_underline"> CU Fundament (CU9.1) </td>
                            <td>20</td>
                            <td>400</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               CU9.1.1 Institutional Project Environment
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU9.1.2 Project Audit
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU9.1.3 Economics (Accounting and Financial Management)
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> CU Complement (CU9.2) </td>
                            <td>10</td>
                            <td>200</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU9.2.1 Research Methodology
                            </td>
                            <td>  </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU9.2.2 Intercultural management
                            </td>
                            <td>  </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end third semester row -->

                    <!-- begin fourth semester row -->

                    <tbody class="table_row_stand_out">
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td rowspan="11"> semester 10 </td>
                            <td class="strong_underline"> CU Fundament (CU10.1) </td>
                            <td>12</td>
                            <td>240</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU10.1.1 Project development
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr> 
                            <td> 
                                CU10.1.2 Strategic Planning
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr> 
                            <td> 
                                CU10.1.3 Strategic Planning and Project Delivery
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> CU Complement (CU10.2) </td>
                            <td>18</td>
                            <td>360</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU10.2.1 Monitoring and evaluation of projects and programmes
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr> 
                            <td> 
                                CU10.2.1 Evaluation of projects and programmes
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                    <!-- end fourth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>  </strong>  </td>
                            <td>  <strong>  2400  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. PROFESSIONAL PROSPECTS	</h3>
                <p class="description"> 
                   Employment opportunities include:
                </p>
                <ul class="one_list">
                    <li> Project/Program Coordinator </li>
                    <li> Project or Project Management Unit Manager </li>
                    <li> Project Management and Design Specialist </li>
                    <li> Project M&E Specialist </li>
                    <li> Specialist or in charge of thematic studies in projects, Consultants, etc. </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin sixth stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VI. COURSE EVALUATION</h3>
                <ul class="one_list">
                    <li> The general scheme is continuous monitoring. </li>
                    <li> An examination session at the end of each semester is organised according to the subjects covered in the semester. </li>
                    <li> Defence of a dissesrtation before a jury at the end of the course. </li>
                </ul>
        </figure>

        <!-- end sixth stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. EVALUATION PROCESS </h3>
                <p class="description"> 
                    Each credit unit is evaluated in tripartite evaluation committees involving students, teachers and the academic director. The evaluation
                    commissions are placed under the dual responsibility of the academic director and the department for quality control. The evaluation process
                    requires for each credit unit the active participation of the students.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. DETAILED PROGRAM FOR PROJECT EVALUATION AND MANAGEMENT </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Master 1 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 7 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> CU Fundament (CU7.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.1 Historical facts </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> EGP-M1.1.7 </td>
                        <td> The historical emergence of management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M1.2.7 </td>
                        <td> Division of labour : founding concept </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.2 Organizational structure  </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M1.3.7 </td>
                        <td> Theory of Organisations </td>
                        <td> 05 </td>
                        <td> 60 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M1.4.7 </td>
                        <td> Technical organisation and participatory planning </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.3 Organizational project framework </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M1.5.7 </td>
                        <td> Organizational project framework </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M1.6.7 </td>
                        <td> Cost analysis and project monitoring </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.4 Approach to project management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M1.7.7 </td>
                        <td> Quality management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M1.8.7 </td>
                        <td> Risk Management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> 
                            COMPLEMENT CU7.2)
                        </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.2.1 Practice of informed decision tools </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M1.7.7 </td>
                        <td> Scheduling </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M1.8.7 </td>
                        <td> Spreadsheet software (advanced Excel) </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 7 </td>
                        <td></td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 8 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> CU Fundament (CU8.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.1.1 Case Study : feasability of project </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M1.1.8 </td>
                        <td> Market research </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M1.2.8 </td>
                        <td> Feasability studies (technical, organisational, social/environnemental, financial and éco) </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.1.2 Project documentation </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M1.3.8 </td>
                        <td> Project disbursement process </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M1.4.8 </td>
                        <td> Presentation of project document </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT (CU8.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.2.1 Software for project monitoring and evaluation </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M1.5.8 </td>
                        <td> Data analysis </td>
                        <td>4</td>
                        <td>48</td>
                        <td>32</td>
                        <td>80</td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M1.6.8 </td>
                        <td> SPSS (level 1) </td>
                        <td>4</td>
                        <td>48</td>
                        <td>32</td>
                        <td>80</td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.2.2 Law </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M1.7.8</td>
                        <td> Tax Law </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> EGP-M1.8.8</td>
                        <td> Business Law </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.2.3 Languages and HRM </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M1.9.8</td>
                        <td> French </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> EGP-M1.10.8</td>
                        <td> Project human resource management </td>
                        <td> 05 </td>
                        <td> 60 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 8 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 1 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->


    <!-- begin ninth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> MASTER 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 9 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> CU Fundament (CU9.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.1.1 Institutional environnement of project </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> EGP-M2.1.9 </td>
                        <td> Country level </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.2.9 </td>
                        <td> Decentralised structure and public funding </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.3.9 </td>
                        <td> Project and programme regulations worldwide </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.1.2 Project audit </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M2.4.9 </td>
                        <td> Project audit </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.1.3 Economie (Management comptable et financier) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M2.5.9 </td>
                        <td> Eco. And Fin. Analysis éco. And project ending (meth of effe, meth ref of price) </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.6.9 </td>
                        <td> Negociation and funding technics </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> EGP-M2.7.9 </td>
                        <td> Project budget management </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr>  

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> COMPLEMENT (CU9.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.2.1 Méthodologie de recherche </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M2.8.9 </td>
                        <td> Research methodology (TC) </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.9.9 </td>
                        <td> French </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE9.2.2 Intercultural management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M2.10.9 </td>
                        <td> Communication in the project (in/out stakeholders) </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.11.9 </td>
                        <td> Intercultural Management (Project Team management/international) </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> EGP-M2.12.9 </td>
                        <td> GLOBSTRAT </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 9 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 10 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALE (EU10.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.1.1 Project development </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M2.1.10 </td>
                        <td> Environmental analysis and Project development </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.1.10 </td>
                        <td> Project Cycle </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.1.2 Strategic Planning </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M2.3.10 </td>
                        <td> Strategic Planning and Log Framework </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.4.10 </td>
                        <td> Results-based Management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.5.10 </td>
                        <td> Planning by Objective and Participatory Planning </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.1.3 Strategic Planning and Project Delivery </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> EGP-M2.6.10 </td>
                        <td> Operational Planning and Scheduling </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.7.10 </td>
                        <td> Gender and Human Rights Sensitive Planning </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.8.10 </td>
                        <td> Project execution and monitoring </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> COMPLEMEN (CU10.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.2.1 Monitoring and evaluation of projects and programmes </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> EGP-M2.9.10 </td>
                        <td> Development of monitoring and evaluation system </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.10.10 </td>
                        <td> Ms project </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.2.2 Evaluation of development projects and programmes </td>
                        <td>08</td>
                        <td>00</td>
                        <td>160</td>
                        <td>160</td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> EGP-M2.11.10 </td>
                        <td> Elaboration of the ToRs of an evaluation </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.12.10 </td>
                        <td> Methods </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> EGP-M2.13.10 </td>
                        <td> Impact assessment techniques and tools </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 10 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 2 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end ninth stand out -->


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}