@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Bim-Edu BANQUES & INSTITUTIONS DE MICROFINANCES ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> MASTER’S DEGREE PROGRAM (M1, M2) </h1>
        <h2 class="sub_main_heading"> INTELLIGENCE ECONOMIQUE & DEVELOPPEMENT INTERNATIONAL </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITLE AND CLASSIFICATION	</h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Title of the Degree </td>
                        <td> Area of expertise (area of skill) </td>
                        <td> Mention (major topic of the course) </td>
                        <td> Speciality (specificity of the mention) </td>
                    </tr>
                    <tr> 
                        <td> Master </td>
                        <td> ICT, Economics, Management </td>
                        <td> Strategic Management </td>
                        <td> Business Intelligence & International Development </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->
        <!-- begin stand out  -->

        <figure class="stand_out">

            <h3 class="medium_heading"> II. PEDAGOGICAL OBJECTIVES </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origine of the program </h3>
                <p class="description"> 
                    Businesses and public entities need to keep abreast of the various economic and digital changes that remain in our society. Thus the course in
                    Business Intelligence & International Development (BIID) helps institutions, organizations and even States to prepare for possible changes and
                    propose an appropriate strategy.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Program Objectives </h3>
                <h3 class="smaller_heading"> II.2.1. General Objective </h3>
                <p class="description"> 
                    Business Intelligence is a discipline that is part of a growing demand from companies and public institutions to adopt a strategy of business
                    intelligence according to the economic and technological environment through the watch. Students will understand and analyze global issues and
                    interactions for the purpose of international business development.
                </p>

                <h3 class="smaller_heading"> II.2.2. Specific Objectives </h3>
                <p class="description"> 
                    <strong> Commun run with the mention </strong><br/>
                    The Master in BIID offers courses in information management, knowledge and skills aimed at increasing the efficiency of decisions and actions
                    of actors in a globalized knowledge economy. It is based on the entire cycle of information: collecting, processing, analyzing, using and
                    protecting information to be more effective. The training focuses on a new long-term, forward-thinking way of thinking that integrates the
                    uncertainty and complexity of the economy. It also proposes a new short-term action-based approach that uses the different tools of BI:
                    networking, influencing policies and protecting intangible knowledge.
                </p>

                <h3 class="small_heading"> II.3. Approach to the program </h3>
                <p class="description"> 
                    The masters in Business Intelligence are advanced degrees that can be pursued after studies in Communication, Economics, Law, International
                    Relations, etc.
                    The first year (M1) of BIID is therefore a curriculum that extends the courses taught in the Information and Communication Sciences,
                    International Relations, Economics, ICT, Business Law, etc. The knowledge and skills in this M1 are theoretical and methodological.
                    The Master 1 prepares students to pursue:
                </p>
                <ul class="one_list">
                    <li> 
                        M2 Consultant in Business Intelligence
                    </li>
                    <li> 
                        M2 Business Intelligence & International Strategies
                     </li>
                    <li> 
                        M2 Business Intelligence & International Development.
                    </li>
                </ul>
                <p class="description"> 
                    These three M2 courses offer differentiated choices of qualification, skills building and professionalisation in the field of Business Intelligence
                    and consultancy.
                </p>

            </div>

        </figure>

        <!-- end stand out  -->

        <!-- begin stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> III. ADMISSION REQUIREMENTS </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> In M1 : </h3>
                <p class="description"> 
                    This course is open to the candidacy of the students holding the Bachelor’s degree in Infirmation and the Communication Sciences, Law,
                    Economics, International Relations or other related human sciences.
                    Admission to M2 is subject to examination of the candidate's file by the selection board for candidates holding an M1 or a master's degree or
                    equivalent in the fields mentioned above.
                </p>
            </div>

        </figure>

        <!-- end stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. DETAILED PRESENTATION OF THE COURSE CURRICULUM </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Organisation of the Master in Business Intelligence & International Development </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Master in <br/> Business Intelligence <br/> & International Development </td>
                        <td rowspan="2" > Nb of semesters </td>
                        <td colspan="7" class="long_bottom_border"> Credit Units of the Master </td>
                        <td rowspan="2" > Credit </td>
                        <td rowspan="2"> Time allocated (Hours) </td>
                    </tr>
                    <tr> 
                        <td> Foundament CU </td>
                        <td> Transverse CU </td>
                        <td> Deepening CU </td>
                        <td> Optional CU </td>
                        <td> Complement CU  </td>
                        <td> Free CU </td>
                        <td class="right_side_border"> Refresher CU </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.1 </strong>  </td>
                        <td> 2 semesters </td>
                        <td> 
                            <ul> 

                                <li> 
                                    BI & Tools 
                                </li>

                                <li> 
                                    Strategic management
                                </li>

                                <li> 
                                    Data Management & Marketing
                                </li>

                                <li> 
                                    Methods & Tools
                                </li>
                                <li> 
                                    BI PPP & Internship 
                                </li>
                                <li> 
                                    Knowledge Management & BI
                                </li>
                                <li> 
                                    Geostrategy / Ana risk
                                </li>
                                <li> 
                                    Social Network Analysis 
                                </li>

                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Economics /Economic Analysis
                                </li>
                                <li> 
                                    English
                                </li>
                                <li> 
                                    Work and mobility
                                </li>
                                <li> 
                                    Economics
                                </li>
                                <li> 
                                    Website Development
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.2 </strong>  </td>
                        <td> 2 semesters </td>
                        <td> 
                            <ul> 
                                <li> 
                                    BI and Watch software
                                </li>
                                <li>
                                    Analysis of mutations
                                </li>
                                <li>
                                    Professional project
                                </li>
                                <li>
                                    BI and Knowledge Management
                                </li>
                                <li>
                                    International risk management
                                </li>
                                <li>
                                    Econometrics / Emotional Intelligence / Conferences
                                </li>
                                <li>
                                    Internship and Dissertation
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Software / IE issues
                                </li>
                                <li> 
                                    Tools
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>
            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Standard content of the Master in BI & International Developement </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semesters </td>
                        <td> Credit Unit for Master </td>
                        <td> Credits </td>
                        <td> Time allocated </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> semester 1 </td>
                            <td class="strong_underline"> Fundament CU (CU1.1) </td>
                            <td>22</td>
                            <td>40</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU1.1.1 IE & Tools
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU1.1.2 Strategic Management
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU1.1.3 Data Management & Marketing
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU1.1.4 Methods & Tools
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <!-- begin heading section  -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU1.2) </td>
                            <td>22</td>
                            <td>40</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU1.2.1 Economics / Economic Analysis
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU1.2.1 French 
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> semester 2 </td>
                            <td class="strong_underline"> Fundament CU (CU2.1) </td>
                            <td> 19 </td>
                            <td> 380 </td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               CU2.1.1 Knowledge Management & BI
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU2.1.2 Geostrategy / Risk Analysis
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU2.1.3 Social Network Analysis
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU2.1.4 BI PPP & Internship
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU2.2) </td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               CU2.2.1 Work and mobility
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU2.2.2 Economy
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                              CU2.2.3 Website Development
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                    </tbody>
                    <!-- end second semester row -->

                    <!-- begin third semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> semester 3 </td>
                            <td class="strong_underline"> Fundament CU (CU3.1) </td>
                            <td>22</td>
                            <td>440</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               CU3.1.1 BI and standby software
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU3.1.2 Analysis of mutations
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU3.1.3 Professional project
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU3.2)</td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU3.2.1 Software / BI stakes
                            </td>
                            <td>  </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU3.2.2 Tools
                            </td>
                            <td>  </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end third semester row -->

                    <!-- begin fourth semester row -->

                    <tbody class="table_row_stand_out">
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td rowspan="11"> semester 4 </td>
                            <td class="strong_underline"> Fundament CU (CU4.1) </td>
                            <td>18</td>
                            <td>360</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU4.1.1 BI and Knowledge Management
                            </td>
                            <td> </td>
                            <td></td>
                        </tr>

                        <tr> 
                            <td> 
                                CU4.1.2 International risk management
                            </td>
                            <td> </td>
                            <td></td>
                        </tr>

                        <tr> 
                            <td> 
                                CU4.1.3 Econometrics / Emotional Intelligence / Conferences
                            </td>
                            <td> </td>
                            <td></td>
                        </tr>

                        <tr> 
                            <td> 
                                CU4.1.4 Internship and Dissertation
                            </td>
                            <td> </td>
                            <td></td>
                        </tr>

                    </tbody>
                    <!-- end fourth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>    </strong>  </td>
                            <td>  <strong>  2400  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. PROFESSIONNAL OUTLETS	</h3>
                <p class="description"> 
                   The Master in BIID meets a varied set of personal and professional projects and opens up the career opportunity as:
                </p>
                <ul class="one_list">
                    <li> Monitoring and strategic studies officer (companies, banks, local authorities, forecasting organizations and consulting firms etc.) </li>
                    <li> Consultant in Businee Intelligence, </li>
                    <li> Teaching and research, </li>
                    <li> Strategic intelligence analyst, </li>
                    <li> Data analyst, </li>
                    <li> Data analyst, </li>
                    <li> e-reputation analyst, </li>
                    <li> Due Diligence and Compliance. </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin sixth stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VI. COURSE EVALUATION </h3>
                <ul class="one_list">
                    <li> 
                        Continuous control for each credit Unit. Exam session at the end of each semester organized according to the subjects covered in the semester.
                        Dissertation presented before a jury at the end of the course.
                    </li>
                </ul>
        </figure>

        <!-- end sixth stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. EVALUATION PROCESS </h3>
                <p class="description"> 
                    Each credit unit is evaluated in tripartite evaluation committees involving students, teachers and the academic director. The evaluation
                    commissions are placed under the dual responsibility of the academic director and the department for quality control. The evaluation process
                    requires for each credit unit the active participation of the students.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. DETAILED PROGRAM FOR THE MASTER IN BI & INTERNATIONAL DEVELOPMENT </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Master 1 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 1 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU1.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.1.1 BI & Tools </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> IEDI-M1.1.1 </td>
                        <td> Methodology of Business Intelligence </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.2.1 </td>
                        <td> Strategies of Business Intelligence </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.3.1 </td>
                        <td> Free Information Monitoring software </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis"> IEDI-M1.4.1 </td>
                        <td> Africa in globalization </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.5.1 </td>
                        <td> Economics of global knowledge </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.1.2 Strategic Management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.6.1 </td>
                        <td> Economics of knowledge and information </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 24 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.7.1 </td>
                        <td> Competitive strategies </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 24 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.1.2 Data Management & Marketing </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.8.7 </td>
                        <td> Big Data and Social Networks M1 </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.9.7 </td>
                        <td> Data visualization M1 </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.10.7 </td>
                        <td> Applied Marketing </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 20 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.1.2 Methods & Tools </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.11.1 </td>
                        <td> Methodology of use of database </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.12.1 </td>
                        <td> PPP in BI and internship </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU1.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.2.1 Economics / Economic Analysis </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.11.1 </td>
                        <td> Economic epistemology and methodology </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.12.1 </td>
                        <td> Economic analysis </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.12.1 </td>
                        <td> Digital Economy </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU1.2.1 Languages </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.11.1 </td>
                        <td> French </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 1 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 2 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU2.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.1.1 Knowledge Management & BI</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.1.2 </td>
                        <td> Mode of action in Business Intelligence </td>
                        <td> 05 </td>
                        <td> 60 </td>
                        <td> 40 </td>
                        <td> 100 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.2.2 </td>
                        <td> Knowledge management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.3.2 </td>
                        <td> Organizational management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.1.2 Geostrategy/ Risk Analysis </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.4.8 </td>
                        <td> Country level risk analysis </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.5.8 </td>
                        <td> Geostrategy: operational approach </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.1.3 Social Network Analysis </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.6.2 </td>
                        <td> Social Network Analysis and Cyber Community </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.1.4 BI PPP & Intenship </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.7.2</td>
                        <td> PPP in IE and internship search </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.8.2</td>
                        <td> Internship </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->

                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU2.2) </td>
                    </tr> 
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.2.1 Work & Mobility </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.5.8</td>
                        <td> Work and mobility </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->

                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.2.2 Economics </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.10.2</td>
                        <td> International economy </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M1.11.2</td>
                        <td> Experimental economy </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->

                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU2.2.3 Website Developement</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M1.12.2</td>
                        <td> Website developement </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 2 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 1 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->


    <!-- begin ninth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> MASTER 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 3 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU3.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU3.1.1 BI & I-Watch Softwares </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> IEDI-M2.1.3 </td>
                        <td> I-Watch Softwares & datamart  </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.2.3 </td>
                        <td> Influence and lobbying techniques </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.2.3 </td>
                        <td> Protection of intellectual property rights </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU31.2 Analysis of mutations </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M2.4.3 </td>
                        <td> Changes in the global economy </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> IEDI-M2.5.3 </td>
                        <td> Knowledge Economy and Creativity </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> IEDI-M2.6.3 </td>
                        <td> NICT and new economy </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU3.1.3 Professional project </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M2.5.9 </td>
                        <td> Research Methodology </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.6.9 </td>
                        <td> Entrepreneurship and volunteering </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> COMPLEMENT CU (CU3.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU3.2.1 Software / IE issues </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M2.9.3 </td>
                        <td> Free I-Watch Softwares </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.10.3 </td>
                        <td> Methodology of use of databases </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> IEDI-M2.11.3 </td>
                        <td> Methodology of Business intelligence </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.12.3 </td>
                        <td> Méthodologie d'utilisation des bases de données </td>
                        <td> 01 </td>
                        <td> 16 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> IEDI-M2.13.3 </td>
                        <td> PPP in BI and internship search </td>
                        <td> 01 </td>
                        <td> 16 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr>  

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU3.2.2 Tools </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M2.14.3 </td>
                        <td> Digital Strategy and e-reputation </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.15.3 </td>
                        <td> Web master IEDI website </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> IEDI-M2.16.3 </td>
                        <td> Data visualization from the I-Watch data </td>
                        <td> 01 </td>
                        <td> 16 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.17.3 </td>
                        <td> French </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 3 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 4 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> FUNDAMENT CU (CU4.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU4.1.1 BI & Knowledge Management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M2.1.4 </td>
                        <td> Knowledge Management </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.2.4 </td>
                        <td> Territorial Economic Intelligence </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.3.4 </td>
                        <td> Project Management </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.4.4 </td>
                        <td> Resolving competitive crisis tensions </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU4.1.2 International Risk Management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M2.5.4 </td>
                        <td> Risk management </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.6.4 </td>
                        <td> Business strategy </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.7.4 </td>
                        <td> Country risk and exchange risks </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.8.4 </td>
                        <td> Crisis Management Exercise </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU4.1.3 Econometrics / Emotional Intelligence / Conferences </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M2.9.4 </td>
                        <td> Temporal econometrics applied to financial risk </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.10.4 </td>
                        <td> Emotionnal Intelligence </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.11.4 </td>
                        <td> Conferences </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU4.1.4 Internship and dissertation </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> IEDI-M2.9.4 </td>
                        <td> Internship </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> IEDI-M2.10.4 </td>
                        <td> Dissertation </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    
                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 4 </td>
                        <td>30</td>
                        <td>264</td>
                        <td>336</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 2 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end ninth stand out -->


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}