@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Bim-Edu BANQUES & INSTITUTIONS DE MICROFINANCES ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> MASTER’S DEGREE PROGRAM (M1, M2) </h1>
        <h2 class="sub_main_heading"> HUMAN RESOURCE MANAGEMENT </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITLE AND CLASSIFICATION	</h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Title of the Degree </td>
                        <td> Area of expertise (area of skill) </td>
                        <td> Mention (major topic of the course) </td>
                        <td> Speciality (specificity of the mention) </td>
                    </tr>
                    <tr> 
                        <td> Master </td>
                        <td> Sciences of management </td>
                        <td> Human resource </td>
                        <td> Human resource management </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. EDUCATIONAL OBJECTIVES   </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origin of the program   </h3>
                <p class="description"> 
                    The issue of human resource management is all the more sensitive today, where the "digital revolution" is significantly disrupting working
                    methods, relations between employees and more generally management itself. It is no longer a question of administering but rather of managing
                    the women and men of the company/organisation. The Master in "Human Resources Management" pursues precisely this vision.
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Objectives of the program </h3>
                <h3 class="smaller_heading"> II.2.1. General Objectives </h3>
                <p class="description"> 
                    The Master’s Programme in Human Resources Management (HRM) aims to train managers capable of integrating human resource issues,
                    Operationalize organizational strategies by creating momentum for success through the mobilization and development of the organization’s
                    collective resources.
                    It is aimed at all actors involved in organizational changes, both internally and externally: managers, directors, and expert consultants, faced with
                    situations of change or uncertainty (merger/acquisition, restructuring, relocation, new identity, etc.)
                </p>

                <h3 class="smaller_heading"> II.2.2. Specific Objectives </h3>
                <p class="description"> 
                    <strong> Commmun run to the mention </strong><br/>
                    At the end of this program, the students will be able to:
                </p>
                <ul class="one_list">
                    <li> 
                        Support organizations in their human resources management challenges;
                    </li>
                    <li> 
                        Ensure regular monitoring of personnel in the various specific projects or missions;
                     </li>
                    <li> 
                        Develop budgets for salary matters;
                    </li>
                    <li> 
                        Control, verify, inspect, critically monitor the management of jobs.
                    </li>
                </ul>

                <h3 class="small_heading"> II.3. Program Approach </h3>
                <p class="description"> 
                    The Master in Human Resources Management is aimed at students and professionals from both developing and developed countries who are
                    keen to develop or supplement their knowledge of human resource management issues.
                    The course lasts two academic years or four academic semesters to validate 120 credits.
                </p>

            </div>

        </figure>

        <!-- end stand out  -->

        <!-- begin stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> III. ADMISSION REQUIREMENTS </h3>

            <div class="sub_stand_out">
                <p class="description"> 
                    Applicants who hold at least a bachelor’s degree in economics and management, law or humanities and social sciences may be admitted to
                    human resources management program.
                </p>
            </div>

        </figure>

        <!-- end stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. DETAILED PRESENTATION OF COURSE CREDIT UNITS    </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. ORGANISATION OF THE MASTER IN HUMAN RESOURCE MANAGEMENT  </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Master Human <br/> resources <br/> management </td>
                        <td rowspan="2" > Nb of semesters </td>
                        <td colspan="7" class="long_bottom_border"> Credit Units of the Master </td>
                        <td rowspan="2" > Credit </td>
                        <td rowspan="2"> Time allocated (Hours) </td>
                    </tr>
                    <tr> 
                        <td> Foundament CU </td>
                        <td> Transverse CU </td>
                        <td> Deepening CU </td>
                        <td> Optional CU </td>
                        <td> Complement CU  </td>
                        <td> Free CU </td>
                        <td class="right_side_border"> Refresher CU </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.1 </strong>  </td>
                        <td> 2 semesters </td>
                        <td> 
                            <ul> 

                                <li> 
                                    The Human
                                    Resources
                                    function in
                                    the company
                                </li>

                                <li> 
                                    Training and
                                    Job
                                    Forecasting
                                </li>

                                <li> 
                                    Contract
                                    administratio
                                    n and
                                    management
                                </li>
                                <li> 
                                    Information
                                    System and
                                    Pay
                                    Administratio
                                    n
                                </li>
                                <li> 
                                    HR
                                    Management
                                    Tools
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Social Law
                                </li>
                                <li> 
                                    Quantitative
                                    Technical
                                    Economics
                                </li>
                                <li> 
                                    Communication
                                </li>
                                <li> 
                                    English and
                                    Management
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.2 </strong>  </td>
                        <td> 2 semesters </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Strategic
                                    Human
                                    Resources
                                    Management
                                </li>
                                <li>
                                    Career
                                    management
                                    and skills
                                    development
                                </li>
                                <li>
                                    Human
                                    Resources
                                    Management
                                    Technique
                                </li>
                                <li>
                                    Project
                                    management
                                    and HR
                                    support
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Legal and social
                                    environment
                                </li>
                                <li> 
                                    HR Analysis
                                    Tools and
                                    Techniques
                                </li>
                                <li> 
                                    Tools and
                                    techniques
                                </li>
                                <li> 
                                    Methodology
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>
            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Standard composition of the Master in human resource management </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semesters </td>
                        <td> Credit Unit for Master </td>
                        <td> Credits </td>
                        <td> Time allocated </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> semester 7 </td>
                            <td class="strong_underline"> Fundament CU (CU7.1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU7.1.1 The Human Resources function in the company
                            </td>
                            <td>06</td>
                            <td>180</td>
                        </tr>

                        <tr> 
                            <td> 
                               CU7.1.2 Training and Job Forecasting
                            </td>
                            <td>06</td>
                            <td>180</td>
                        </tr>

                        <tr> 
                            <td> 
                                CU7.1.3 Contract Administration and Management
                            </td>
                            <td>06</td>
                            <td>180</td>
                        </tr>

                        <!-- begin heading section  -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU7.2) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU7.2.1 Social Law
                            </td>
                            <td>02</td>
                            <td>40</td>
                        </tr>

                        <tr> 
                            <td> 
                               CU7.2.2 Economics Quantitative Techniques
                            </td>
                            <td>02</td>
                            <td>40</td>
                        </tr>

                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> semester 8 </td>
                            <td class="strong_underline"> Fundament CU (CU8.1) </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               CU8.1.1 Information System and Pay Administration
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU8.1.2 HR Management Tools
                            </td>
                            <td> 06 </td>
                            <td> 120 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU8.2) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               CU8.2.1 Communication
                            </td>
                            <td>02</td>
                            <td>40</td>
                        </tr>

                        <tr> 
                            <td> 
                               CU8.2.2 English and Management
                            </td>
                            <td>03</td>
                            <td>60</td>
                        </tr>
                    </tbody>
                    <!-- end second semester row -->

                    <!-- begin third semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> semester 9 </td>
                            <td class="strong_underline"> Fundament CU (CU9.1) </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               CU9.1.1 Strategic Human Resources Management
                            </td>
                            <td>04</td>
                            <td>80</td>
                        </tr>

                        <tr> 
                            <td> 
                               CU9.1.2 Career Management and Skills Development
                            </td>
                            <td>04</td>
                            <td>80</td>
                        </tr>

                        <tr> 
                            <td> 
                               CU9.1.3 Human Resources Management Technique
                            </td>
                            <td>04</td>
                            <td>80</td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU9.2)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU9.2.1 Legal and Social Environment
                            </td>
                            <td>03</td>
                            <td>60</td>
                        </tr>
                    </tbody>
                    <!-- end third semester row -->

                    <!-- begin fourth semester row -->

                    <tbody class="table_row_stand_out">
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td rowspan="11"> semester 10 </td>
                            <td class="strong_underline"> Deepening CU (CU10.1) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU10.1.1 Project Management and HR Coaching
                            </td>
                            <td> 30</td>
                            <td> 000 </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU10.2) </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU10.1.1 Project Management and HR Coaching
                            </td>
                            <td> 30</td>
                            <td> 000 </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU10.2.2 Tools and techniques
                            </td>
                            <td> 30</td>
                            <td> 000 </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU10.2.3 Methodology
                            </td>
                            <td> 30</td>
                            <td> 000 </td>
                        </tr>

                    </tbody>
                    <!-- end fourth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong>    </strong>  </td>
                            <td>  <strong>  2400  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. PROFESSIONAL PROSPECTS	</h3>
                <p class="description"> 
                   Employment opportunities include:
                </p>
                <ul class="one_list">
                    <li> Expert Consultants </li>
                    <li> HR Function Frameworks </li>
                    <li> Managers, Executives </li>
                    <li> Heads of Staff </li>
                    <li> Recruitment Officers </li>
                    <li> Responsible for training, etc.</li>                    
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin sixth stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VI. COURSE EVALUATION </h3>
                <ul class="one_list">
                    <li> 
                        Continuous control for each lecture course
                    </li>
                    <li> 
                        An examination session (oral or written) at the end of each semester organized according to the subjects enrolled in the semester 
                    </li>
                    <li> 
                        Writing and defending a dissertation.
                    </li>
                </ul>
        </figure>

        <!-- end sixth stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. EVALUATION PROCESSES </h3>
                <p class="description"> 
                    Each credit unit is evaluated in tripartite evaluation committees involving students, teachers and the academic director. The evaluation
                    commissions are placed under the dual responsibility of the academic director and the department for quality control. The evaluation process
                    requires for each credit unit the active participation of the students.
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. DETAILED PROGRAM OF THE MASTER IN HUMAN RESOURCE MANAGEMENT </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Master 1 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 7 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> FUNDAMENT (CU7.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.1 The human resource function in the company </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> HRM-M1.1.1 </td>
                        <td> Foundation and historical evolution of the HR function </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> HRM-M1.2.1 </td>
                        <td> Operational Recruitment Management and Case Study </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.2 Training and Job Forecasting </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> HRM-M1.3.1 </td>
                        <td> Forward-looking management of jobs </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis"> HRM-M1.4.1 </td>
                        <td> Training management and skills assessment </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.3 Contract administration and management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    
                    <tr> 
                        <td class="emphasis"> HRM-M1.5.1 </td>
                        <td> Personnel Administration </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>

                    <tr> 
                        <td class="emphasis"> HRM-M1.6.1 </td>
                        <td> Evolution and termination of employment contract </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> COMPLEMENT CU7.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.2.1 Social Law </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> HRM-M1.7.1 </td>
                        <td> Work Law </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> HRM-M1.8.7 </td>
                        <td> Collective agreements and agreements </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.2.2 Economie Techniques quantitatives </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> HRM-M1.9.7 </td>
                        <td> Accounting for non accountants </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> HRM-M1.9.7 </td>
                        <td> Pay Element Management and Salary Calculation </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 7 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 8 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> FUNDAMENT (CU8.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.1.1 Information System and Pay Administration </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> HRM-M1.1.2 </td>
                        <td> Computerized Pay Administration </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> HRM-M1.2.2 </td>
                        <td> Management of HR information systems    </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.1.2 HR Management Tools </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> HRM-M1.2.2 </td>
                        <td> Knowledge of HR tools </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> HRM-M1.4.8 </td>
                        <td> Practice of HR Tools </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> COMPLEMENT (CU8.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.2.1 Communication </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> HRM-M1.1.8 </td>
                        <td> Internal communication and social dialogue </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>

                    <tr> 
                        <td class="emphasis"> HRM-M1.2.2 </td>
                        <td> Face-to-face meeting technics </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.2.2 English and Management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> HRM-M1.3.2</td>
                        <td> Quality management applied to HR </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> HRM-M1.4.2</td>
                        <td> Business English </td>
                        <td> 01 </td>
                        <td> 12 </td>
                        <td> 08 </td>
                        <td> 20 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 8 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 1 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->


    <!-- begin ninth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> MASTER 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 9 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> FUNDAMENT (CU9.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.1.1 strategic human resources management </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> HRM-M2.1.3 </td>
                        <td> Human Resources Planning  </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> HRM-M2.2.3 </td>
                        <td> Compensation management and salary policy </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE3.1.2 Etudes expérimentales </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> HRM-M2.3.3 </td>
                        <td> CU9.1.2 Career management and skills development  </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> HRM-M2.3.3 </td>
                        <td> Training and skills development  </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.1.3 Human Resources Management Technique </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> HRM-M2.4.3 </td>
                        <td> Recruitment techniques and tools </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> HRM-M2.5.3 </td>
                        <td> Assessment and performance assessment systems </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6">  COMPLEMENT (CU9.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.2.1 legal and social environment </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    
                    <tr> 
                        <td class="emphasis"> HRM-M2.8.3 </td>
                        <td> Conflict Management </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> HRM-M2.8.3 </td>
                        <td> Rules of procedure and collective agreement </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> HRM-M2.8.3 </td>
                        <td> Social protection in Burkina Faso and the practice of social law </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>  

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 9 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> semester 10 </td>
                    </tr>

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> DEEPENING CU (CU10.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.1.1 Project Management and HR Coaching </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> HRM-M2.1.10 </td>
                        <td> Management of RSE </td>
                        <td> 12 </td>
                        <td> 144 </td>
                        <td> 96 </td>
                        <td> 240 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> HRM-M2.2.10 </td>
                        <td> HR Project Management and Change Management </td>
                        <td> 18 </td>
                        <td> 00 </td>
                        <td> 360 </td>
                        <td> 360 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr> 
                        <td class="emphasis" colspan="6"> COMPLEMENT (CU10.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.2.1 HR Analysis Tools and Techniques </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> HRM-M2.7.10 </td>
                        <td> The statistical tool/ SPHINX application GRH </td>
                        <td> 12 </td>
                        <td> 144 </td>
                        <td> 96 </td>
                        <td> 240 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> HRM-M2.8.10 </td>
                        <td> Social audit and social scoreboards </td>
                        <td> 18 </td>
                        <td> 00 </td>
                        <td> 360 </td>
                        <td> 360 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.2.2 tools and techniques </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> HRM-M2.9.10 </td>
                        <td> Practice of English </td>
                        <td> 12 </td>
                        <td> 144 </td>
                        <td> 96 </td>
                        <td> 240 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> HRM-M2.10.10 </td>
                        <td> Professional Workshop: Corporate Gaming (NESTRAT) </td>
                        <td> 18 </td>
                        <td> 00 </td>
                        <td> 360 </td>
                        <td> 360 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> UE10.2.3 Méthodologie </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> HRM-M2.11.10 </td>
                        <td> Research Methodology (CT) </td>
                        <td> 12 </td>
                        <td> 144 </td>
                        <td> 96 </td>
                        <td> 240 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> HRM-M2.12.10 </td>
                        <td> Mission in company/ practical case </td>
                        <td> 18 </td>
                        <td> 00 </td>
                        <td> 360 </td>
                        <td> 360 </td>
                    </tr> 
                    
                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL semester 10 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 2 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end ninth stand out -->


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}