@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = "Bim-Edu INGENIERIE DES SYSTEMES DE TELECOMMUNICATIONS & RESEAUX ";
}

<section class="programme_wrapper">
    <div class="programme_container">
        <h1 class="main_heading"> MASTER’S DEGREE PROGRAM (M1, M2) </h1>
        <h2 class="sub_main_heading"> TELECOMMUNICATION SYSTEMS & NETWORKS ENGENEERING </h1>

    <!-- begin first stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> I. TITLE AND CLASSIFICATION </h3>
            <table class="one_table table_template"> 
                    <tr class="table_heading"> 
                        <td> Title of the Degree </td>
                        <td> Area of expertise (area of skill) </td>
                        <td> Mention (major topic of the course) </td>
                        <td> Speciality (specificity of the mention) </td>
                    </tr>
                    <tr> 
                        <td> Master </td>
                        <td> Network Technology and Computer Systems </td>
                        <td> Data Processing, Networks and Telecom </td>
                        <td> Telecommunications Systems Engineering & Networks </td>
                    </tr>
            </table>
        </figure>

        <!-- end first stand out -->

        <!-- begin second stand out  -->
        <figure class="stand_out">

            <h3 class="medium_heading"> II. PEDAGOGICAL OBJECTIVES    </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 1. Origin of the program   </h3>
                <p class="description"> 
                    Computer science are an important economic sector for our country, generating highly skilled jobs. The activities of operators and SME focus on
                    data processing developments: networks, internet of things, cloud, TOIP, video streaming, etc. Computer science rely heavily on
                    telecommunications networks whose rapid development is due to perpetual innovation in this field (GSM, ADSL, TNT, WIFI, etc.). As physical
                    technology has matured, the job market is now focused on network architecture, security and the development of Internet of Things (IoT)
                    solution, areas targeted by this course.                    
                </p>
            </div>

            <div class="sub_stand_out">
                <h3 class="small_heading"> II. 2. Program Objectives   </h3>
                <h3 class="smaller_heading"> II.2.1. General objective  </h3>
                <p class="description"> 
                    The objective of the Master of Science in Telecommunications Systems & Networking Engineering is to train managers with a technological
                    mastery as well as real abilities to take into account the economic environment, social and human resources in order to be able to manage the
                    Networks & Telecommunications sector integrating the Information Systems of the company as a whole.
                    The pluridisciplinarity of technology allows students who graduate from this master’s degree to meet a real need of the companies operating in
                    telecommunication sector. 	                        
                </p>

                <h3 class="smaller_heading"> II.2.2. Specific Objectives </h3>
                <p class="description"> 
                    <strong> Commun run to the mention </strong><br/>
                    The master’s degree provides high-level knowledge in the field of wide area network architecture and security as well as in the Internet of
                    Things. Cloud Computing, Storage, ToIP, Virtualization, Security, Quality of Service, M2M, and Embedded Development are at the heart of the
                    training. Finally, the programmes have been designed to give students the telecommunications knowledge which a telecommunications officer
                    must master.                    
                </p>


                <h3 class="small_heading"> II.3. Program approach </h3>
                <p class="description"> 
                    The program lasts 1 year or 2 years depending on the level of entry. It prepares for the unique course of telecommunications systems and
                    networks engineer.
                </p>

            </div>

        </figure>

        <!-- end second stand out  -->

        <!-- begin third stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> III. ADMISSION REQUIREMENTS    </h3>

            <p class="description"> 
                The master’s degree is intended for students with a degree in computer science, SPI, networks and telecommunications, mathematics, EEA,
                physics, etc. 	
                
                The access into a master’s degree is subject to an eligibility stage consisting of a review of the student’s file. Final admission is subject to
                approuval. 	
                
                To apply in:
            </p>
            <ul class="one_list">
                <li> 
                    Master 1: student must hold a degree in computer science, SPI, networks and telecommunications, mathematics, EEA, physics, etc. Other
                    degree courses may allow entry on derogation.
                </li>
                <li> 
                    Master 2: student must have completed a first year of a master’s degree in networks and telecommunications or in computer science.
                </li>
            </ul>

        </figure>

        <!-- end third stand out -->

        <!-- begin fourth stand out -->

        <figure class="stand_out">

            <h3 class="medium_heading"> IV. DETAILED PRESENTATION OF COURSE UNITS    </h3>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV.1. Organisation of the Master of Science in Telecommunications Systems & Networks Engineering in CU    </h3>
            </div>

            <table class="table_template two_table"> 
                    <tr class=""> 
                        <td rowspan="2"> Master of Science in <br/> Telecommunications <br/> Systems & Networks <br/> Engineering </td>
                        <td rowspan="2" > Nb of semesters </td>
                        <td colspan="7" class="long_bottom_border"> Credit Units of the Master </td>
                        <td rowspan="2" > Credit </td>
                        <td rowspan="2"> Time allocated (Hours) </td>
                    </tr>
                    <tr> 
                        <td> Foundament CU </td>
                        <td> Transverse CU </td>
                        <td> Deepening CU </td>
                        <td> Optional CU </td>
                        <td> Complement CU  </td>
                        <td> Free CU </td>
                        <td class="right_side_border"> Refresher CU </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.1 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> Network and <br/>
                                    Multimedia <br/>
                                    Application <br/>
                                    Development - <br/>
                                    Communication <br/>
                                    and Transmission   
                                </li>
                                <li> 
                                    Network Architecture and <br/> Administration
                                </li>
                                <li> 
                                    Satellite & <br/> Antenna Systems
                                </li>
                                <li> 
                                    Networks and Security
                                </li>
                                <li> 
                                    Multitasking Programming (UNIX) 
                                </li>
                                <li> 
                                    Development of <br/> client/server applications in Java
                                </li>
                                <li> 
                                    Advanced modelling <br/> concepts
                                </li>
                                <li> 
                                    Object- UML 
                                </li>
                                <li> 
                                    Basis of telecoms networks
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Preparation <br/>
                                    for Professional <br/>
                                    life
                                </li>
                                <li> 
                                    Languages <br/>
                                    and Scientific <br/>
                                    Communication
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Projets Management<br/> and Quality
                                </li>
                                <li> 
                                    Databases and Dynamic Web Application: <br/> SQL server and ORACLE 
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>

                    <tr class="border_top"> 
                        <td> <strong> M.2 </strong>  </td>
                        <td> 2 semestres </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Engineering for Networks <br/>
                                    and Telecoms
                                </li>
                                <li>
                                    QOS,
                                    Multimedia <br/> 
                                    and
                                    Convergence
                                </li>
                                <li>
                                    Reliability,
                                    Quality & <br/> 
                                    Safety in
                                    Telecoms <br/> 
                                    Systems	
                                    
                                </li>
                                <li>
                                    Distributed
                                    systems and <br/> 
                                    applications	
                                        
                                </li>
                                <li> 
                                    Network
                                    design and
                                    evaluation <br/> 
                                    tools and
                                    techniques	
                                </li>
                                <li> 
                                    Radio
                                    communication <br/> 
                                    and mobile	
                                </li>
                                <li> 
                                    CISCO CCNA- certification
                                </li>
                            </ul>
                        </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Professional
                                    Project/Work
                                    Placement
                                </li>
                            </ul>
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> 
                            <ul> 
                                <li> 
                                    Telecoms
                                    Marketing, <br/>
                                    Law and <br/>
                                    Economics
                                </li>
                                <li>
                                    Corporate
                                    Strategies &<br/>
                                    Legal Aspects <br/>
                                    of Networks. &
                                    Telecoms                                    
                                </li>
                            </ul>
                       </td>
                        <td> </td>
                        <td> </td>
                        <td> 60 </td>
                        <td> 12000 </td>
                    </tr>
            </table>

            <div class="sub_stand_out">
                <h3 class="small_heading"> IV. 2. Standard composition of the Master of Science in Telecommunications Systems & Networks Engineering   </h3>
            </div>

            <table class="table_template three_table"> 
                    <tr class="table_heading"> 
                        <td> Semesters </td>
                        <td> Credit Unit for Master </td>
                        <td> Credits </td>
                        <td> Time allocated </td>
                    </tr>

                    <!-- begin first semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="10"> Semestre 7 </td>
                            <td class="strong_underline"> Fundament CU (CU7.1) </td>
                            <td>20</td>
                            <td>400</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                                CU7.1.1 Network and Multimedia Application Development - Communication and Transmission 	
  
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU7.1.2 Network Architecture and Administration 	
  
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU7.1.3 Satellite & Antenna Systems 	
  
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU7.1.4 Networks and Security 	
  
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU7.1.5 Multitasking Programming (UNIX) 	
  
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <!-- begin heading section  -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU7.2) </td>
                            <td>04</td>
                            <td>80</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               UE7.2.1 Gestion de Projets et Qualité
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                        <!-- begin heading section  -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU7.3) </td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               CU7.3.1 Languages and Scientific Communication 	
  
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end first semester row -->

                    <!-- begin second semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="8"> Semestre 8 </td>
                            <td class="strong_underline"> Fundament CU (CU8.1) </td>
                            <td> 20 </td>
                            <td> 400 </td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               CU8.1.1 Development of client/server applications in Java 	
  
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU8.1.2 Advanced modelling concepts 	
  
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU8.1.3 Object- UML 	
  
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU8.1.4 Basis of telecoms networks 	
  
                            </td>
                            <td>  </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU8.2) </td>
                            <td>04</td>
                            <td>80</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               CU8.2.1 Preparation for working life 	
  
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU8.3) </td>
                            <td>06</td>
                            <td>120</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                              CU8.3.1 Databases and Dynamic Web Application: SQL server and ORACLE 	
  
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                    </tbody>
                    <!-- end second semester row -->

                    <!-- begin third semester row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td rowspan="11"> Semestre 9 </td>
                            <td class="strong_underline"> Fundament CU (CU9.1) </td>
                            <td>20</td>
                            <td>400</td>
                        </tr>
                        <!-- end heading section  -->

                        <tr> 
                            <td> 
                               CU9.1.1Engineering for Networks and Telecoms 	
  
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU9.1.2 QOS, Multimedia and Convergence 	
  
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU9.1.3 Reliability, Quality & Safety in Telecoms Systems 	
  
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                        <tr> 
                            <td> 
                               CU9.1.4 Distributed systems and applications 	
  
                            </td>
                            <td> </td>
                            <td>  </td>
                        </tr>

                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Complement CU (CU9.2) </td>
                            <td>10</td>
                            <td>200</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU9.2.1 Telecoms Marketing, Law and Economics 	
  
                            </td>
                            <td>  </td>
                            <td> </td>
                        </tr>

                        <tr> 
                            <td> 
                                CU9.2.2 Corporate Strategies & Legal Aspects of Networks. & Telecoms 	
  
                            </td>
                            <td>  </td>
                            <td> </td>
                        </tr>

                    </tbody>
                    <!-- end third semester row -->

                    <!-- begin fourth semester row -->

                    <tbody class="table_row_stand_out">
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td rowspan="11"> Semestre 10 </td>
                            <td class="strong_underline"> Fundament CU (CU10.1) </td>
                            <td>10</td>
                            <td>200</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                               CU10.1.1 Network design and evaluation tools and techniques 	
  
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr> 
                            <td> 
                               CU 10.1.2 Radio communication and mobile 	
  
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr> 
                            <td> 
                               CU10.1.3 CISCO CCNA- certification 	
  
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                            <!-- begin heading section -->
                        <tr> 
                            <td class="strong_underline"> Transverse CU (CU10.2) </td>
                            <td>20</td>
                            <td>400</td>
                        </tr>
                        <!-- end heading section -->

                        <tr> 
                            <td> 
                                CU10.2.1 Professional Project/Work Placement 	
  
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                    <!-- end fourth semester row -->

                    <!-- begin total section row -->

                    <tbody class="table_row_stand_out">

                        <!-- begin heading section  -->
                        <tr> 
                            <td> <strong>  TOTAL  </strong></td>
                            <td>  </td>
                            <td> <strong> </strong>  </td>
                            <td>  <strong>  2400  </strong>  </td>
                        </tr>
                        <!-- end heading section  -->

                    </tbody>
                    <!-- end total section row -->


            </table>

        </figure>

    <!-- begin fifth stand out -->
        <figure class="stand_out">
            <h3 class="medium_heading"> V. PROFESSIONAL PROSPECTS   	</h3>
                <p class="description"> 
                   The Professional prospects for the graduates are the following : 	
  	
                </p>
                <ul class="one_list">
                    <li> Expert in Communication and Networks; </li>
                    <li> Network Operations Expert; </li>
                    <li> Operational Systems Security Expert; </li>
                    <li> Expert in communication and networks; </li>
                    <li> Internet/multimedia technology expert; </li>
                    <li> Computer network administrator; </li>
                    <li> Method/Quality Expert, Webmarketer, Telematics Network Manager; </li>
                    <li> Security Engineer; </li>
                    <li> IT security manager; </li>
                    <li> Information Systems Architect </li>
                </ul>
        </figure>

        <!-- end fifth stand out -->


    <!-- begin sixth stand out -->

        <figure class="stand_out">
            <h3 class="medium_heading"> VI. COURSE EVALUATION    </h3>
                <ul class="one_list">
                    <li> Continuous evaluation for each lecture course, </li>
                    <li> An examination session (oral or written) at the end of each semester organised according to the subjects covered in the semester </li>
                    <li> Writing and presenting a dissertation before a jury. </li>
                </ul>
        </figure>

        <!-- end sixth stand out -->


    <!-- begin seventh stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VII. EVALUATION PROCESSES    </h3>
                <p class="description"> 
                    Each credit unit is evaluated in tripartite evaluation committees involving students, teachers and the academic director. The evaluation
                    commissions are placed under the dual responsibility of the academic director and the department for quality control. The evaluation process
                    requires for each credit unit the active participation of the students, directly by answering a questionnaire and through representatives. The
                    synthesis of the information gathered by the evaluation committee helps to determine the adaptations to be made to the credit unit in question and
                    to develop the teaching offer.                    
                </p>
        </figure>

        <!-- end seventh stand out -->


    <!-- begin eighth stand out -->
    
        <figure class="stand_out">
            <h3 class="medium_heading"> VIII. DETAILED PROGRAM FOR TELECOMMUNICATION SYSTEMS & NETWORKS ENGINEERING    </h3>

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> Master 1 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 7 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU7.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.1 Network and Multimedia Application Development - Communication and Transmission </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                        <td></td>

                    <tr> 
                        <td class="emphasis"> TSN-M1.1.7 </td>
                        <td> Development of network and multimedia applications </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M1.2.7 </td>
                        <td> Communication and media transmission </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.2 Network Architecture and Administration </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M1.3.7 </td>
                        <td> Network Architecture </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M1.4.7 </td>
                        <td> Network Administration </td>
                        <td> 3 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.3 Satellite & Antenna Systems </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M1.5.7 </td>
                        <td> Satellite systems and antennas </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.4 Networks and Security </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> TSN-M1.6.7 </td>
                        <td> Networks & Security </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.1.5 Multitasking Programming (UNIX) </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> TSN-M1.7.7 </td>
                        <td> UNIX multitasking programming </td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> Complement CU (CU7.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.2.1 Project Management and Quality</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> TSN-M1.7.7 </td>
                        <td> Project Management </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M1.8.7 </td>
                        <td> Quality Management </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> Transverse CU (CU7.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU7.2.1 Languages and Scientific Communication </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> TSN-M1.9.7 </td>
                        <td> French </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M1.10.7 </td>
                        <td> Science Communication</td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 


                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 7 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 8 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU8.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.1.1 Development of client/server applications in Java </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M1.1.8 </td>
                        <td> C++/Java programming</td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.1.2 Advanced modelling concepts </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M1.2.8 </td>
                        <td> NDS/Virtualization </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M1.3.8 </td>
                        <td> Virtualization/openstack </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.1.3 Object- UML </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M1.4.8 </td>
                        <td> Digital Communications </td>
                        <td>03</td>
                        <td>36</td>
                        <td>24</td>
                        <td>60</td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M1.5.8 </td>
                        <td> Mobile Telecommunications </td>
                        <td>03</td>
                        <td>36</td>
                        <td>24</td>
                        <td>60</td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.1.4 Basis of telecoms networks </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M1.6.8</td>
                        <td> TCP/IP Stack Networks</td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> TSN-M1.7.8</td>
                        <td> Network Architecture</td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> Transverse CU (CU8.2 </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.2.1 Preparation for working life</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M1.8.8</td>
                        <td> Professional Project </td>
                        <td> 04 </td>
                        <td> 00 </td>
                        <td> 80 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> Complement CU (CU8.3) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU8.3.1 Databases and Dynamic Web Application: SQL server and ORACLE	 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M1.9.8</td>
                        <td> Databases 	</td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> TSN-M1.10.8</td>
                        <td> Dynamic web application</td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 8 </td>
                        <td>30</td>
                        <td>312</td>
                        <td>288</td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 1 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

        <!-- end eighth stand out -->


    <!-- begin ninth stand out -->
    
        <figure class="stand_out">

            <div class="sub_stand_out">
                <h3 class="smaller_heading"> MASTER 2 </h3>
            </div>
            <table class="four_table table_template"> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 9 </td>
                    </tr>
                    <tr class="table_heading"> 
                        <td class="emphasis"> Code </td>
                        <td class="emphasis" > Credit Units </td>
                        <td class="emphasis"> Credit </td>
                        <td class="emphasis" > Lectures/Hour </td>
                        <td class="emphasis"> Student/Hours </td>
                        <td class="emphasis"> Total combined/Hours </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis" colspan="6"> Fundament CU (CU9.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.1.1 Engineering for Networks and Telecoms </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> TSN-M2.1.9 </td>
                        <td> Networks and radio</td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M2.2.9 </td>
                        <td> Advanced network performance </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.1.2 QOS, Multimedia and Convergence </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M2.3.9 </td>
                        <td> HF transmission </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <tr> 
                        <td class="emphasis"> TSN-M2.4.9 </td>
                        <td> Propagation channels </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.1.3 Reliability, Quality & Safety in Telecoms Systems </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M2.5.9 </td>
                        <td> Reliability and Quality </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M2.6.9 </td>
                        <td> Safe Operation of Telecommunication Systems </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.1.4 Distributed systems and applications </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M2.7.9 </td>
                        <td> RF Circuit </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M2.8.9 </td>
                        <td> Digital circuits programmes </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  
                    <tr> 
                        <td class="emphasis"> TSN-M2.9.9 </td>
                        <td> Applied electromagnetism </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> Complement CU (CU9.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.2.1 Telecoms Marketing, Law and Economics </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M2.10.9 </td>
                        <td> Marketing </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M2.11.9 </td>
                        <td> Telecommunications law and economics </td>
                        <td> 03 </td>
                        <td> 36 </td>
                        <td> 24 </td>
                        <td> 60 </td>
                    </tr>   

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU9.2.2 Corporate Strategies & Legal Aspects of Networks. & Telecoms </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M2.12.9 </td>
                        <td> Corporate Strategies </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M2.13.9 </td>
                        <td> Legal aspects of networks and telecommunications </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr>  
                    

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 9 </td>
                        <td>30</td>
                        <td>360</td>
                        <td>240</td>
                        <td>600</td>
                    </tr> 
                    <!-- end summary -->

                    <!-- begin sub heading -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_center" colspan="6"> SEMESTRE 10 </td>
                    </tr>
                    <tr> 
                        <td class="emphasis" colspan="6"> UE FONDAMENTALES (EU10.1) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.1.1 Network design and evaluation tools and techniques</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M2.1.10 </td>
                        <td> Tools</td>
                        <td> 04 </td>
                        <td> 48 </td>
                        <td> 32 </td>
                        <td> 80 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.1.2 Radio communication and mobile  </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M2.2.10 </td>
                        <td> Antennas </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M2.3.10 </td>
                        <td> Mobile communication 2 </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.1.3 CISCO CCNA- certification </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->

                    <tr> 
                        <td class="emphasis"> TSN-M2.4.10 </td>
                        <td> CISCO CCNA – Certification </td>
                        <td> 02 </td>
                        <td> 24 </td>
                        <td> 16 </td>
                        <td> 40 </td>
                    </tr> 

                    <!-- begin sub heading -->
                    <tr>
                        <td class="emphasis" colspan="6"> Transverse CU (CU10.2) </td>
                    </tr>
                    <tr class="change_background"> 
                        <td></td>
                        <td class="emphasis"> CU10.2.1 Professional Project/Internship </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 
                    <!-- end sub heading -->
                    <tr> 
                        <td class="emphasis"> TSN-M2.5.10 </td>
                        <td> Professional Project </td>
                        <td> 12 </td>
                        <td> 00 </td>
                        <td> 240 </td>
                        <td> 240 </td>
                    </tr> 
                    <tr> 
                        <td class="emphasis"> TSN-M2.STG10 </td>
                        <td> Internship </td>
                        <td> 08 </td>
                        <td> 00 </td>
                        <td> 160 </td>
                        <td> 160 </td>
                    </tr> 

                    <!-- begin summary -->
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL SEMESTRE 10 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>600</td>
                    </tr> 
                    <tr class="summary_alignment"> 
                        <td class="emphasis align_right" colspan="2"> TOTAL MASTER 2 </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1200</td>
                    </tr> 
                    <!-- end summary -->

            </table>
        </figure>

    <!-- end ninth stand out -->


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/programme.css"/>

}