@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = " Bim-Edu Tourism and Hospitality Course";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="en_Account" asp-action="Register" class="apply_button"> APPLY </a>
        </div>

        <h1 class="main_heading"> Vocational Training  </h1>
        <h2 class="sub_main_heading"> Available at the Center of Excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Tourism and Hospitality </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Travel and tourism is one of the world's largest industries, comprising more than 9.3 percent of 
                    the global Gross Domestic Product. Every year, over a billion tourists visit destinations by air, 
                    land and sea. Hotels alone account for over half a trillion dollars worldwide in annual revenue. The 
                    industry is very broad, meaning there are plenty of opportunities and specialty fields, both visible 
                    and working behind the scenes. In fact, one in eleven jobs in the current world economy are related to 
                    tourism and hospitality. Tourism and hospitality includes attractions management, convention planning, 
                    customer service, event planning, food service, gaming, lodging, marketing, sales and travel. Working in 
                    tourism and hospitality management could land you a job almost anywhere in the world. Hotels, airlines, 
                    restaurants, transportation companies, tourist services, convention centers, casinos, sports teams, ravel 
                    agencies and activity providers are all part of a dynamic industry that continually needs skilled employees. 
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}