@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = " Bim-Edu Preschool Teacher Course";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="en_Account" asp-action="Register" class="apply_button"> APPLY </a>
        </div>

        <h1 class="main_heading"> Vocational Training  </h1>
        <h2 class="sub_main_heading"> Available at the Center of Excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Preschool Teacher </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    A preschool teacher, also called a pre-kindergarten (pre-K) teacher, provides education, care, 
                    and nurturing in a school setting for children who are not yet old enough to enter kindergarten. They 
                    work at public or private schools and for religious institutions as well as similar programs centered 
                    on under-served 
                    children. This course trains Agents that could set up their own business after achieving a good level 
                    of experience in the industry.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}