@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = " Bim-Edu Office Secretary Course";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="en_Account" asp-action="Register" class="apply_button"> APPLY </a>
        </div>

        <h1 class="main_heading"> Vocational Training  </h1>
        <h2 class="sub_main_heading"> Available at the Center of Excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Office Secretary </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Secretaries are responsible for coordinating an office's administrative activities. At its core, this job 
                    ensures that an office runs smoothly. There are a wide variety of clerical and administrative duties that 
                    secretaries need to accomplish in order to make this happen. They schedule appointments, draft correspondence, 
                    provide information to outsiders, handle office inventory, and create and maintain files in either hard-copy or 
                    electronic form. This course develops skills set to successfully cary out most important clerical and administrative duties.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}