@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = " Bim-Edu Medical Assistant Course";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="en_Account" asp-action="Register" class="apply_button"> APPLY </a>
        </div>

        <h1 class="main_heading"> Vocational Training  </h1>
        <h2 class="sub_main_heading"> Available at the Center of Excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Medical Assistant </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Medical assistants perform clinical and administrative duties in doctor's offices, including 
                    recording patient history, measuring vital signs, scheduling patient appointments, and drawing blood for 
                    lab tests. Our Medical Assistant program is a Certificate program and can be completed in as little as 8 months.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}