@{
    Layout = "~/Views/Shared/_en_Layout.cshtml";
    ViewData["Title"] = " Bim-Edu Caterer Service Agent Course";
}

<section class="programme_wrapper">
    <div class="programme_container">

        <div class="apply_button_container">
            <a asp-controller="en_Account" asp-action="Register" class="apply_button"> APPLY </a>
        </div>

        <h1 class="main_heading"> Vocational Training  </h1>
        <h2 class="sub_main_heading"> Available at the Center of Excellence </h1>

        <figure class="stand_out">

            <h3 class="medium_heading"> Caterer Service Agent </h3>
            <div class="sub_stand_out">
                <p class="description"> 
                    Catering is the industry responsible for providing beverages, food, and other services to different clients for 
                    special events. Caterers are some of the professionals working on this area and their duties are related to organize 
                    and control catering operations. These professionals make use of independent contractors in order to perform catering 
                    services for weddings and parties. They may work as personal caterers for some clients or be hired for specific events 
                    like corporate events and family reunions. <br/>
                    People working on Catering industry usually perform many of the following tasks:
                </p>
                <ul class="one_list">
                    <li> 
                        Attending customer´s complaints.
                    </li>
                    <li> 
                        Ensuring dining and kitchen room areas are clean.
                     </li>
                    <li> 
                        Supervising the purchase of products.
                    </li>
                    <li> 
                        Planning food menus.
                    </li>
                    <li> 
                        Discussing catering arrangements with clients.
                     </li>
                </ul>
                <p class="description"> 
                    This course trains Agents that could set up their own business after achieving a good level of experience in the industry.
                </p>
            </div>

        </figure>


    </div>
</section>


@section scripts{

    <link rel="stylesheet" href="~/css/internal/programmes/voc_training.css"/>

}