
@{
    Layout = "~/Views/Shared/_en_ApprovedLayout.cshtml";
    ViewData["Title"] = "Policy Bim-Edu Student";
}


<section class="approved_page_wrapper">

    <div class="approved_page_container">

            <div class="text_wrapper">

                <h2 class="welcome_title"> Bim-Edu Policy </h2>

                <p class="details">     
                     You can request the rules governing all academic activities at this e - mail address:
                <a href="mailto:registrar@bim-edu.us">
                    registrar@bim-edu.us
                </a>
                </p>

                <h2 class="sub_title"> Complaints </h2>

                <p class="details">
                 To file a complaint, please refer to
                 section grievances from the Academic Pages 
                </p>
                
                <p class="details">
                Click here for a list of complaints procedures in 
                United States. Bim - Edu offers Masters, Bachelors and State BTS diplomas.
                </p>
                
            </div>

            <div class="policies_links">

                <div class="new_row clear_float">

                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Admission
                            </div>
                        </a>
                    </figure>
                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Certifcation
                            </div>
                        </a>
                    </figure>
                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Payment
                            </div>
                        </a>
                    </figure>

                </div>

                <div class="new_row clear_float">
                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Branding
                            </div>
                        </a>
                    </figure>
                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Social Media
                            </div>
                        </a>
                    </figure>
                    <figure class="policy">
                        <a href="~/images/policies/policy.pdf">
                            <div class="image_container">
                                <img src="~/images/bim_edu_logo.png" alt="Bim-Edu Logo"/>
                            </div>
                            <div class="policy_name">
                                Website Privacy
                            </div>
                        </a>
                    </figure>
                </div>

            </div>

    </div>

</section>

@section Scripts{
    <link rel="stylesheet" href="~/css/internal/student/policy.css" />
}
